{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

<td>
  <div class="cognateClasses">
    {% if user.is_authenticated %}
      {% ifnotequal add_cognate_judgement|asint lexeme.id.data|asint %}
        <a href="{% url 'lexeme-add-cognate' lexeme.id.data %}#lexeme_{{ lexeme.id.data }}"
           title="Add another cognate class">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      {% else %}
        <form action="" method="post">
          {% csrf_token %}
          {{ cognate_form.cognate_class }}
        </form>
      {% endifnotequal %}
    {% endif %}
    {{ lexeme.cognate_class_links.data }}
  </div>
</td>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
