<td>
  {% if user.is_authenticated %}
    <a href="{% url 'view-lexeme' lexeme.id.data %}"
       title="View/edit the lexical entry">
      <span class="glyphicon glyphicon-search"></span>
    </a>
  {% endif %}
</td>
<td>
  {% if user.is_authenticated %}
    <button class="leftcheckarrow btn btn-xs"
            type="button"
            id="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}"
            onclick="CopyAcross(this)">
      <span class="glyphicon glyphicon-step-backward"></span>
    </button>
  {% endif %}
</td>
<td>
  {% if user.is_authenticated %}
    <button class="rightcheckarrow btn btn-xs"
            type="button"
            id="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}"
            onclick="CopyAcross(this)">
      <span class="glyphicon glyphicon-step-forward"></span>
    </button>
  {% endif %}
</td>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
