{% extends "base.html" %}

{% block title %}Cognate class citation{% endblock %}

{% block top %}
  <h1>
    View citation: {{ citation.cognate_class.id }}
  </h1>
{% endblock %}

{% block content %}
  <p>
    {% with citation.cognate_class.cognateclasscitation_set.count as ncitations %}
      {% if ncitations > 1 %}
        One of {{ ncitations }} citations
      {% endif %}
    {% endwith %}
  </p>
  <a href="{% url 'cognate-set' citation.cognate_class.id %}" class="btn btn-default">
    back to cognate class
  </a>
  <a href="{% url 'cognate-class-citation-edit' citation.cognate_class.id citation.id %}" class="btn btn-default">
    edit this citation
  </a>
  {% include "snippets/citation_detail_table.html" %}
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
