{% extends "base.html" %}

{% block title %}Cognate class citation{% endblock %}

{% block top %}
<h1>
  View citation: {{ citation.cognate_class.id }} 
</h1>
{% endblock %}

{% block content %}
<p>
  {% with citation.cognate_class.cognateclasscitation_set.count as ncitations %}
    {% if ncitations > 1 %}
      One of {{ sec_count }} citations
    {% endif %}
  {% endwith %}
</p>

{% include "snippets/citation_detail_table.html" %}
{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}

<ul class="navigation">
  <li>
    <a href="{% url cognate-set citation.cognate_class.id %}">
      back to cognate class
    </a>
  </li>
  <li>
    <a href="{% url cognate-class-citation-edit citation.cognate_class.id citation.id %}">
      edit this citation
    </a>
  </li>
</ul>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
