{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Page unavailable{% endblock %}
{% block top %}
  <h1>Page unavailable</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        Something has gone wrong.<br>
        The relevant organs have been notified.
      </div>
      <img src="{% static 'server_error.png' %}" alt="Server error" title="Server error">
    </div>
  </div>
{% endblock %}

{% block controls%}{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
