{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  Cognate {% firstof cognate_class.id %}
{% endblock %}

{% block top %}
  <h1>
    Cognate set
    {{ cognate_class.id }}
    {% if cognate_class.root_form %}
      : {{ cognate_class.root_form }}
    {% endif %}
      :
    [{{ cognate_class.alias }}]
    {% if cognate_class.get_meanings %}
      <div class="inline"
           style="font-size: 15px;">
         in 
      </div>
      <div class="inline"
           style="font-size: 15px; color: #006400;">
         {{ cognate_class.get_meanings.0 }}
      </div>
      <a href="{% url 'meaning-report' cognate_class.get_meanings.0|lower %}">
        <img src="{% static '1w.png' %}"
             alt="Open 1 meaning all languages view for this meaning." />
      </a>
      <a href="/meaning/{{ cognate_class.get_meanings.0|lower }}/cognateclasslist/">
        <img src="{% static '1c.png' %}"
             alt="Open 1 meaning all cognate sets view for this meaning." />
      </a>
    {% endif %}
  </h1>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
  {# include "snippets/change_sort_order.html" #}
{% endblock %}

{% block content %}
  {% include "snippets/deleteCognateClassModal.html" %}
  <div class="row">
    {% if user.is_authenticated %}
      <div class="col-md-12">
        <form class="form-horizontal" name="cognateClassEditForm" method="POST">
          {% csrf_token %}
          {% form_field cognateClassForm.id class="hide" %}
          {% form_field cognateClassForm.lastTouched class="hide" %}
          {% form_field cognateClassForm.lastEditedBy class="hide" %}
          <div class="pull-right" style="margin-top:-40px">
              <button type="submit"
                      name="cognateClassEditForm"
                      class="btn btn-danger"
                      title="Save data for cognate class {{cognate_class.id}}">
                Save
              </button>
              <div class="inline"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Delete Cognate Class">
                <button type="button"
                        data-toggle="modal"
                        data-target="#deleteCognateClassModal"
                        class="btn btn-default">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
              <a class="btn btn-default"
               href="{% url 'cognate-class-citation-create' cognate_class.id %}">
                add citation
              </a>
          </div>
          <table><tr valign="top">
            <td width="33%">
              <label class="control-label">Root reference form</label>
              {% form_field cognateClassForm.root_form  class="form-control" placeholder="Root reference form" %}

              <label class="control-label">Root language</label>
              {% form_field cognateClassForm.root_language  class="form-control" %}

              <label class="control-label">Justification &amp; Discussion</label>
              {% form_field cognateClassForm.justificationDiscussion class="form-control" placeholder="" %}

              <label class="control-label">Notes</label>
                <span title="Add the content of the field 'Notes' to field 'Justification &amp; Discussion'." class="pull-right btn btn-xs btn-default glyphicon glyphicon-arrow-up" onclick="document.getElementById('justificationDiscussion').value += document.getElementById('notes').value;"></span>
                <span style="color:red" title="Add the content of the field 'Notes' to field 'Justification &amp; Discussion' and empty out the 'Notes' field." class="pull-right btn btn-xs btn-default glyphicon glyphicon-arrow-up" onclick="document.getElementById('justificationDiscussion').value += document.getElementById('notes').value;document.getElementById('notes').value = '';"></span>
              {% form_field cognateClassForm.notes class="form-control" placeholder="Notes" %}

              <label class="control-label">Identical with cognate set used in other meanings</label>
              {% form_field cognateClassForm.alsoUsedInOtherMeanings class="form-control" placeholder="" %}

            </td>
            <td style="padding-left:20px;width:20%">
              <div style="width:100px">
                {% form_field cognateClassForm.loanword style="margin-top:12px" %}
                <label class="control-label" style="top:-5px">Loanword?</label>
              </div>
              <div class="">
                {% form_field cognateClassForm.parallelLoanEvent style="margin-top:10px" %}
                <label class="control-label">Parallel&nbsp;loan&nbsp;event</label>
              </div>

              <label class="control-label">Loan source</label>
              {% form_field cognateClassForm.loan_source class="form-control" placeholder="" %}

              <label class="control-label">Loan notes</label>
              {% form_field cognateClassForm.loan_notes  class="form-control" placeholder="" %}

              <label class="control-label">Loan event time depth BP</label>
              {% form_field cognateClassForm.loanEventTimeDepthBP class="form-control" %}

              <label class="control-label">Loan source cognate class (id)</label>
              {% if cognate_class.loanSourceCognateClass %}
                <div class="pull-right" style="margin-top:6px">
                  <a target="_new" href="/cognate/{{cognate_class.loanSourceCognateClass_id}}/"><span class="glyphicon glyphicon-link"></span></a>
                </div>
              {% endif %}
              {% form_field cognateClassForm.loanSourceCognateClass class="pull-left form-control" %}

              <div>
                <label class="control-label">Source form in loan language</label>
                {% form_field cognateClassForm.sourceFormInLoanLanguage class="form-control" %}
              </div>

            </td>
            <td style="padding-left:20px;width:20%">
                <label class="control-label">Proposed as cognate to (id)</label>
                {% if cognate_class.proposedAsCognateTo %}
                  <div class="pull-right" style="margin-top:6px">
                    <a target="_new" href="/cognate/{{cognate_class.proposedAsCognateTo_id}}/"><span class="glyphicon glyphicon-link"></span></a>
                  </div>
                {% endif %}
                {% form_field cognateClassForm.proposedAsCognateTo class="form-control" %}

                <label class="control-label">Proposed as cognate to scale</label>
                {% form_field cognateClassForm.proposedAsCognateToScale class="form-control" %}

              <div>
                {% form_field cognateClassForm.notProtoIndoEuropean style="margin-top:10px" %}
                <label class="control-label">Not&nbsp;Proto-Indo-European?</label>
              </div>

              <div>
                {% form_field cognateClassForm.parallelDerivation style="margin-top:10px" %}
                <label class="control-label">Parallel&nbsp;derivation?</label>
              </div>
                <label class="control-label">Parallel derivation from same root as cognate set (id)</label>
                {% if cognate_class.lateParallelDerivationWithCognate %}
                  <div class="pull-right" style="margin-top:6px">
                    <a target="_new" href="/cognate/{{cognate_class.lateParallelDerivationWithCognate_id}}/"><span class="glyphicon glyphicon-link"></span></a>
                  </div>
                {% endif %}
                {% form_field cognateClassForm.lateParallelDerivationWithCognate class="form-control" %}

              <div>
                {% form_field cognateClassForm.ideophonic style="margin-top:10px" %}
                <label class="control-label">Ideophonic?</label>
              </div>

              <div>
                {% form_field cognateClassForm.dubiousSet style="margin-top:10px" %}
                <label class="control-label">Dubious set?</label>
              </div>

              <br /><br />

                <div>
                  {% form_field cognateClassForm.revisedYet style="margin-top:10px" %}
                  <label class="control-label">Revised yet?</label>
                </div>
                <label class="control-label">Revised by</label>
                {% form_field cognateClassForm.revisedBy class="form-control" %}
            </td>
          </tr></table>
        </form>
      </div>
    {% else %}
      <div class="col-md-12">
        <table>
          <tr valign="top">
            <td>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>
                      Justification &amp; Discussion
                    </th>
                    <td>
                      {{ justificationDiscussionExpandedMarkups|wikilink }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Root reference form
                    </th>
                    <td>
                      {{ cognate_class.root_form }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Root language
                    </th>
                    <td>
                      {{ cognate_class.root_language }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Gloss in root language
                    </th>
                    <td>
                      {{ cognate_class.gloss_in_root_lang }}
                    </td>
                  </tr>
                  {# <tr> #}
                  {#   <th> #}
                  {#     Notes #}
                  {#   </th> #}
                  {#   <td> #}
                  {#     {{ notesExpandedMarkups|wikilink }} #}
                  {#   </td> #}
                  {# </tr> #}
                  <tr>
                    <th>
                      Identical with cognate set used in other meanings
                    </th>
                    <td>
                      {{ cognate_class.alsoUsedInOtherMeanings }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            {% if cognate_class.loanword %}
            <td style="padding-left:20px">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>
                      Loanword
                    </th>
                    <td>
                      <input type="checkbox"
                             {% if cognate_class.loanword %}
                             checked="checked"
                             {% endif %}
                             disabled="disabled"
                             class="form-control" style="height:100%">
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Parallel loan event
                    </th>
                    <td>
                      <input type="checkbox"
                             {% if cognate_class.parallelLoanEvent %}
                             checked="checked"
                             {% endif %}
                             disabled="disabled"
                             class="form-control" style="height:100%">
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Loan source
                    </th>
                    <td>
                      {{ cognate_class.loan_source }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Loan notes
                    </th>
                    <td>
                      {{ cognate_class.loan_notes }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Loan event time depth (BP)
                    </th>
                    <td>
                      {{ cognate_class.loanEventTimeDepthBP }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Source form in loan language
                    </th>
                    <td>
                      {{ cognate_class.sourceFormInLoanLanguage }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Loan source cognate class
                    </th>
                    <td>
                      {% if cognate_class.loanSourceCognateClass_id %}
                      <a href="/cognate/{{ cognate_class.loanSourceCognateClass_id }}">{{ cognate_class.loanSourceCognateClass_id }}</a>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            {% endif %}
            <td style="padding-left:20px">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>
                      Not Proto-Indo-European
                    </th>
                    <td>
                      <input type="checkbox"
                             {% if cognate_class.notProtoIndoEuropean %}
                             checked="checked"
                             {% endif %}
                             disabled="disabled"
                             class="form-control" style="height:100%">
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Parallel derivation
                    </th>
                    <td>
                      <input type="checkbox"
                             {% if cognate_class.parallelDerivation %}
                             checked="checked"
                             {% endif %}
                             disabled="disabled"
                             class="form-control" style="height:100%">
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Ideophonic
                    </th>
                    <td>
                      <input type="checkbox"
                             {% if cognate_class.ideophonic %}
                             checked="checked"
                             {% endif %}
                             disabled="disabled"
                             class="form-control" style="height:100%">
                    </td>
                  </tr>
                  {% if cognate_class.dubiousSet %}
                  <tr>
                    <th>
                      Dubious set
                    </th>
                    <td>
                      <input type="checkbox"
                             checked="checked"
                             disabled="disabled"
                             class="form-control" style="height:100%">
                    </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
            </td>
            {% if cognate_class.proposedAsCognateTo_id %}
            <td>
              <table class="table table-bordered">
            <tr>
              <th>
                Proposed as cognate to
              </th>
              <td>
                <a href="/cognate/{{ cognate_class.proposedAsCognateTo_id }}">{{ cognate_class.proposedAsCognateTo_id }}</a>
              </td>
            </tr>
            <tr>
              <th>
                Proposed as cognate to scale
              </th>
              <td>
                {{ cognate_class.proposedAsCognateToScale }}
              </td>
            </tr>
          </table>
            </td>
            {% endif %}
          </tr>
        </table>
      </div>
    {% endif %}
    <div class="col-md-12" style="border-top:solid lightgray 3px;margin-top:30px">
    {% if user.is_authenticated %}
      <form action="" method="POST" name="cognateJudgementSplitTable">
        {% csrf_token %}
    {% endif %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="1px"></th>
            <th>Id</th>
            {% if user.is_authenticated %}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Check iff an entry should be split into a separate, new cognate class.">
                Split
              </th>
            {% endif %}
            <th>Language</th>
            <th>Roman(ised)</th>
            <th>Native Script</th>
            <th>PhoneTic</th>
            <th>PhoneMic</th>
            <th>Not Tgt</th>
            <th>Notes</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for cj in splitTable.judgements %} {# cognate_class.cognatejudgement_set.all %} #}
            <tr>
              <td style="background-color:#{{ cj.object_data.cladeHexColor }}"></td>
              <td data-toggle="tooltip"
                  data-placement="top"
                  data-container="body"
                  title="Lexeme Id">
                <a href="/lexeme/{{ cj.object_data.lexeme.id }}">
                  {{ cj.object_data.lexeme.id }}
                </a>
                {% if user.is_authenticated %}
                  {% form_field cj.idField class="hide" required="required" %}
                  {% form_field cj.lastTouched class="hide" required="required" %}
                  {% form_field cj.lastEditedBy class="hide" required="required" %}
                {% endif %}
              </td>
              {% if user.is_authenticated %}
                <td>
                  {% form_field cj.splitOff class="form-control" %}
                </td>
              {% endif %}
              <td>
                <a href="{% url 'language-report' cj.object_data.lexeme.language.id %}">
                  {{ cj.object_data.lexeme.language.utf8_name }}
                </a>
              </td>
              <td>{{ cj.object_data.lexeme.romanised }}</td>
              {% if cj.object_data.lexeme.language.nativeScriptIsRtl %}
                <td dir="rtl">{{ cj.object_data.lexeme.nativeScript }}</td>
              {% else %}
                <td>{{ cj.object_data.lexeme.nativeScript }}</td>
              {% endif %}
              <td>{{ cj.object_data.lexeme.phon_form }}</td>
              <td>{{ cj.object_data.lexeme.phoneMic }}</td>
              <td>
                <input type="checkbox"
                       {% if cj.object_data.lexeme.not_swadesh_term %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control">
              </td>
              <td>{{ cj.object_data.lexeme.notes|wikilink }}</td>
              <td>
                {% for rating, description in cj.object_data.long_reliability_ratings %}
                  {% if rating %}
                    <span class="badge" title="{{ description }}">
                      {{ rating|starrating }}
                    </span>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                <a href="{% url 'view-lexeme' cj.object_data.lexeme.id %}" title="View/edit the lexical entry">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.is_authenticated %}
        <br />
        <div class="form-group pull-left">
          <a href="." class="btn btn-default">Undo</a>
          <input type="submit" title="Cognate Judgement Split Table" name="cognateJudgementSplitTable"
                 value="Save Split" class="btn btn-danger">
        </div>
      </form>
        <br /><br /><br />
    {% endif %}
    </div>
    {% if cognate_class.cognateclasscitation_set.exists %}
      {% for citation in cognate_class.cognateclasscitation_set.all|dictsort:"source.shorthand" %}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Citation:
                <a href="{% url 'view-source' citation.source.id %}">
                  {{ citation.source.shorthand}}
                </a>
                Pages:
              </strong>
              {{ citation.pages }}
              <a href="{% url 'cognate-class-citation-detail' citation.id %}" title="View the citation">
                <span class="glyphicon glyphicon-search"></span>
              </a>
              {% if user.is_authenticated %}
                <a href="{% url 'cognate-citation-edit' citation.id %}" title="Edit the citation">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
              {% endif %}
              {% if citation.rfcWeblink %}
                <a href="{{ citation.rfcWeblink }}" title="Open web reference in new tab." target="_new">
                  <span class="glyphicon glyphicon-link"></span>
                </a>
              {% endif %}
              {% if user.is_authenticated %}
                <form action="" method="POST" name="deleteCitation" class="inline pull-right">
                  {% csrf_token %}
                  <input type="text"
                         class="hide"
                         name="citationId"
                         value="{{ citation.id }}">
                  <div class="inline"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Delete this citation">
                    <button type="submit"
                            name="deleteCitation"
                            class="btn btn-xs btn-danger"
                            onclick="return confirm('Are you sure that you want to delete this citation?')">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </div>
                </form>
              {% endif %}
            </div>
            <div class="panel-body">
              {{ citation.getCommentExpandedMarkups|wikilink }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
