{% extends "base.html" %}
{% load lexicon_utils %}
{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Lgs Rfc: Overview [{{ current_language_list_name }}]
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  <li>
    <a href="?exportCsv=utf8_name,mean_timedepth_BP_years,std_deviation_timedepth_BP_years,level0,level1"
       title="Download current language list as .csv"
       data-toggle="tooltip" data-placement="bottom">
      <span class="glyphicon glyphicon-download-alt"></span>
    </a>
  </li>
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/cloneLanguageModal.html" %}
  <div class="row">
    <div class="col-md-12"
         {% if user.is_authenticated and user.is_staff %}
            style="margin-top: 75px;"
         {% else %}
            style="margin-top: 32px;"
         {% endif %}>
      {% if user.is_authenticated and user.is_staff %}
        <form action="" method="POST" name="langlist_ed_form">
          {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated and user.is_staff %}
          <div class="form-group pull-right">
            <a href="{% url 'language-add-new' current_language_list_name %}"
               class="btn btn-default"
               data-toggle="tooltip" data-placement="bottom"
               title="Add new language">
              <span class="glyphicon glyphicon-plus"></span>
              lg
            </a>
            <a href="{% url 'add-language-list' %}"
               class="btn btn-default"
               data-toggle="tooltip" data-placement="bottom"
               title="New language list">
              <span class="glyphicon glyphicon-plus"></span>
              lg list
            </a>
            <a href="{% url 'edit-language-list' current_language_list_name %}"
               class="btn btn-default"
               data-toggle="tooltip" data-placement="bottom"
               title="Edit language list">
              <span class="glyphicon glyphicon-edit"></span>
              lg list ‘{{ current_language_list_name }}’
            </a>
            <a href="{% url 'reorder-language-list' current_language_list_name %}"
               class="btn btn-default space-right"
               data-toggle="tooltip" data-placement="bottom"
               title="Edit sort order">
              <span class="glyphicon glyphicon-edit"></span>
              sort order ‘{{ current_language_list_name }}’
            </a>
            <span class="badge important updateCounts"
                  data-countformat="countVisible initial"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Visible / Total rows">
              {{ lang_ed_form.langlist|length }}
            </span>
            <a href="{% url 'view-language-list' current_list.name %}" class="btn btn-default"> undo</a>
            <input type="submit" value="Save" name="langlist_form" class="btn btn-danger">
          </div>
          {% endif %}
          <h1 class="inline">
            Languages Reference: Overview
          </h1>
          {% include "snippets/cladeFilter.html" %}
        </div>{# .fixedContainer #}
        <table class="table table-striped viewTableFilter
                     {% if user.is_authenticated %}
                     distributionPlot
                     {% endif %}"
               {% if user.is_authenticated and user.is_staff %}
                  data-floatheadtop="65"
               {% else %}
                  data-floatheadtop="32"
               {% endif %}>
          <thead>
            <tr>
              {# branchcolor_title.html #}
              <th colspan="2"></th>
              {# entryno_title.html #}
              <th></th>
              {# lv_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Clade level 0">
                Cl 0
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Clade level 0 abbreviation">
                Cl 0 abbr.
              </th>
              {% if user.is_staff %}
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 1">
                  Cl 1
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 1 abbreviation">
                  Cl 1 abbr.
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 2">
                  Cl 2
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 2 abbreviation">
                  Cl 2 abbr.
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 3"
                    class="hide">
                  Cl 3
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 3 abbreviation"
                    class="hide">
                  Cl 3 abbr.
                </th>
                {# sortRankInClade_title.html #}
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Sort rank in clade">
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Sort Ix
                    </div>
                  </div>
                </th>
              {% endif %}
              {# historical_title.html #}
              <th style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Historical
                  </div>
                </div>
              </th>
              {# fragmentary_title.html #}
              <th style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Fragmentary
                  </div>
                </div>
              </th>
              {# notInExport_title.html #}
              <th style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Not in Exp.
                  </div>
                </div>
              </th>
              {# name_link.html #}
              <th></th>
              {# name_title.html #}
              <th>Display name</th>
              {% if user.is_authenticated %}
                <th>
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Variety
                    </div>
                  </div>
                </th>
              {% endif %}
              {% if user.is_authenticated %}
                <th>
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Description
                    </div>
                  </div>
                </th>
              {% endif %}
              <th></th>{# title for edit #}
              {# iso_title.html #}
              <th>ISO</th>
              {# glotto_title.html #}
              <th style="width: 100px;">Glotto</th>
              {# latitude_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Latitude
                  </div>
                </div>
              </th>
              {# longitude_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Longitude
                  </div>
                </div>
              </th>
              {% if user.is_authenticated %}
                <th>
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Justification
                    </div>
                  </div>
                </th>
              {% endif %}
              {# reference_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Reference"
                  style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Ref. Lg.
                  </div>
                </div>
              </th>
              {# exampleLanguage_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Example Language?"
                  style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Ex. Lg?
                  </div>
                </div>
              </th>
              {# fossstat_title.html #}
              <th style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Foss. Stat.
                  </div>
                </div>
              </th>
              {# lowstat_title.html #}
              <th style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Low. Stat.
                  </div>
                </div>
              </th>
              {# webpath_title.html #}
              {% if user.is_staff %}
                <th>
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Web path
                    </div>
                  </div>
                </th>
              {% endif %}
              {# author_title #}
              <th>Author(s)</th>
            </tr>
            <tr class="filterBar">
              {# branchcolor_filter.html #}
              <td colspan="2"></td>
              {# entryno_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText pull-right"
                     data-selector=".entryNo">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# lv_filter.html #}
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterNumberInput form-control pull-right"
                         data-selector=".languageLevel0 input"
                         style="width: 1.7em;">
                {% else %}
                  <input type="text"
                         class="filterNumber form-control"
                         data-selector=".languageLevel0"
                         style="width: 1.7em;">
                {% endif %}
              </td>
              <td>
                <input type="text"
                       class="filterText form-control"
                       data-selector=".languageLevel0Abbr"
                       style="width: 4em;">
              </td>
              {% if user.is_staff %}
                <td>
                  <input type="text"
                         class="filterNumberInput form-control pull-right"
                         data-selector=".languageLevel1 input"
                         style="width: 1.5em;">
                </td>
                <td>
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageLevel1Abbr"
                         style="width: 4em;">
                </td>
                <td>
                  <input type="text"
                         class="filterNumberInput form-control pull-right"
                         data-selector=".languageLevel2 input"
                         style="width: 1.5em;">
                </td>
                <td>
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageLevel2Abbr"
                         style="width: 4em;">
                </td>
                <td class="hide">
                    <input type="text"
                           class="filterNumberInput form-control pull-right"
                           data-selector=".languageLevel3 input"
                           style="width: 1.5em;">
                </td>
                <td class="hide">
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageLevel3Abbr"
                         style="width: 4em;">
                </td>
                {# sortRankInClade_filter.html #}
                <td>
                  <input type="text"
                         class="filterNumberInput form-control"
                         data-selector=".sortRankInClade input"
                         style="width: 1.5em;">
                </td>
              {% endif %}
              {# historical_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".languageHistorical input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# fragmentary_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".languageFragmentary input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# notInExport_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".notInExport input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# name_link.html #}
              <td></td>
              {# name_filter.html #}
              <td>
                <input type="text" class="filterInput form-control"
                       data-selector=".languageName input.language_name">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".languageName input.language_name">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {% if user.is_authenticated %}
                <td>
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".languageVariety input">
                </td>
              {% endif %}
              {% if user.is_authenticated %}
                <td>
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".languageDescription input">
                </td>
              {% endif %}
              <td></td>{# filter for edit #}
              {# iso_filter.html #}
              <td>
                <input type="text"
                       class="filterText form-control"
                       data-selector=".languageIsoCode"
                       style="width: 2em;padding-left: 0.5em;">
              </td>
              {# glotto_filter.html #}
              <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".languageGlottocode">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".languageGlottocode">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# latitude_filter.html #}
              <td></td>
              {# longitude_filter.html #}
              <td></td>
              {% if user.is_authenticated %}
                <td>
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".languageLocJusticifation input">
                </td>
              {% endif %}
              {# reference_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".languageRepresentative input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# exampleLanguage_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".languageExampleLanguage input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# fossstat_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".languageFossStat input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# lowstat_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".languageLowStat input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# webpath_filter.html #}
              {% if user.is_staff %}
                <td>
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".languageRfcWebPath1 input">
                </td>
              {% endif %}
              {# author_filter.html #}
              <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".languageAuthor">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".languageAuthor">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
            </tr>
          </thead>
          <tbody>
            {% for language in lang_ed_form.langlist %}
              <tr data-cladefilter-representative="{{ language.object_data.representative }}"
                  data-cladefilter-cladepath="{{ language.object_data.cladePath }}">
                {# branchcolor_data.html #}
                <td class="languageBranchColor"
                    style="background-color: #{{ language.object_data.hexColor }};"
                  ></td>
                <td class="languageBranchColorSpace"></td>
                {# entryno_data.html #}
                <td class="entryNo numberField">
                  {{ forloop.counter }}
                </td>
                {# lv_data.html #}
                <td class="languageLevel0"
                  {% if language.object_data.level0Tooltip %}
                    title="{{ language.object_data.level0Tooltip }}"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                  {% endif %}
                  >
                  <center>
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field language.level0 class="languageBranch form-control numberField pull-right" maxlength="2" size="2" style="width: 1.7em" pattern="^[0-9]{1,2}$" %}
                    {% elif language.level0.data %}
                      {{ language.level0.data }}
                    {% endif %}
                  </center>
                </td>
                <td class="languageLevel0Abbr">
                  {% if language.object_data.level0Tooltip %}
                    <span class="badge" style="background-color: #{{ language.object_data.level0Color }};">
                      {{ language.object_data.level0Tooltip }}
                    </span>
                  {% endif %}
                </td>
                {% if user.is_staff %}
                  <td class="languageLevel1"
                    {% if language.object_data.level1Tooltip %}
                      title="{{ language.object_data.level1Tooltip }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                    {% endif %}
                    >
                    <center>
                      {% form_field language.level1 class="languageBranch form-control numberField pull-right" maxlength="2" size="1" style="width: 1.5em;" pattern="^[0-9]{1,2}$" %}
                    </center>
                  </td>
                  <td class="languageLevel1Abbr">
                    {% if language.object_data.level1Tooltip %}
                      <span class="badge" style="background-color: #{{ language.object_data.level1Color }};">
                        {{ language.object_data.level1Tooltip }}
                      </span>
                    {% endif %}
                  </td>
                  <td class="languageLevel2"
                    {% if language.object_data.level2Tooltip %}
                      title="{{ language.object_data.level2Tooltip }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                    {% endif %}
                    >
                    <center>
                      {% form_field language.level2 class="languageBranch form-control numberField pull-right" maxlength="2" size="1" style="width: 1.5em;" pattern="^[0-9]{1,2}$" %}
                    </center>
                  </td>
                  <td class="languageLevel2Abbr">
                    {% if language.object_data.level2Tooltip %}
                      <span class="badge" style="background-color: #{{ language.object_data.level2Color }};">
                        {{ language.object_data.level2Tooltip }}
                      </span>
                    {% endif %}
                  </td>
                  <td class="languageLevel3 hide"
                    {% if language.object_data.level3Tooltip %}
                      title="{{ language.object_data.level3Tooltip }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                    {% endif %}
                    >
                    <center>
                      {% form_field language.level3 class="languageBranch form-control numberField pull-right" maxlength="2" size="1" style="width: 1.5em;" pattern="^[0-9]{1,2}$" %}
                    </center>
                  </td>
                  <td class="languageLevel3Abbr hide">
                    {% if language.object_data.level3Tooltip %}
                      <span class="badge" style="background-color: #{{ language.object_data.level3Color }};">
                        {{ language.object_data.level3Tooltip }}
                      </span>
                    {% endif %}
                  </td>
                  {# sortRankInClade_data.html #}
                  <td class="sortRankInClade">
                    {% form_field language.sortRankInClade size="2" class="form-control numberField" pattern="^[0-9]{1,3}$" style="width: 2em;" %}
                  </td>
                {% endif %}
                {# historical_data.html #}
                <td class="languageHistorical">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.historical class="form-control" data-dependencyfor-tr="historical" %}
                  {% else %}
                    {% form_field language.historical class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# fragmentary_data.html #}
                <td class="languageFragmentary">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.fragmentary class="form-control" data-dependencyfor-tr="fragmentary" %}
                  {% else %}
                    {% form_field language.fragmentary class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# notInExport_data.html #}
                <td class="notInExport">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.notInExport class="form-control" %}
                  {% else %}
                    {% form_field language.notInExport class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# name_link.html #}
                <td>
                  {% if user.is_authenticated and user.is_staff %}
                  <a href="{% url 'view-language-wordlist' language.object_data.ascii_name wordlist %}"
                     alt="view lexeme list"
                     title="View wordlist list for {{ language.object_data.utf8_name }}">
                     <img src="{% static '1l.png' %}">
                  </a>
                  <span style="font-size:80%;text-color:#eee;">ID: {{language.object_data.id}}</span>
                  {% else %}
                  <a href="{% url 'view-language-wordlist' language.object_data.ascii_name wordlist %}"
                     alt="view lexeme list"
                     title="View wordlist list for {{ language.object_data.utf8_name }}">
                     <img src="{% static '1l.png' %}">
                  </a>
                  {% endif %}
                </td>
                {# name_data.html #}
                <td class="languageName">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.idField class="hide" %}
                    {% form_field language.lastTouched class="hide" %}
                    {% form_field language.lastEditedBy class="hide" %}
                  {% endif %}
                  {% form_field language.utf8_name class="language_name form-control" required="required" style="width: 13em;" %}
                </td>
                {% if user.is_authenticated %}
                  <td class="languageVariety">
                    {% form_field language.variety class="form-control" data-longinput="4" %}
                  </td>
                {% endif %}
                {% if user.is_authenticated %}
                  <td class="languageDescription">
                    {% form_field language.form.description class="form-control" data-longinput="4" %}
                  </td>
                {% endif %}
                {# edit_data.html #}
                <td class="nowrap">
                  <a href="{% url 'language-overview' language.object_data.ascii_name %}"
                     title="View {{ language.object_data.utf8_name }} details (ID: {{ language.object_data.id }})"
                     data-toggle="tooltip"
                     data-placement="top"
                     class="inline">
                    <span class="glyphicon glyphicon-picture"></span>
                  </a>
                  {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'language-edit' language.object_data.ascii_name %}"
                       title="Edit {{ language.object_data.utf8_name }} metadata"
                       data-toggle="tooltip"
                       data-placement="top"
                       class="inline">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <div class="inline"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="clone this language">
                      <button class="btn btn-default btn-xs"
                         data-toggle="cloneLanguageModal"
                         data-sourcelanguagename="{{ language.object_data.ascii_name }}"
                         data-languageid="{{ language.object_data.id }}"
                         data-target="#cloneLanguageModal"
                         type="button">
                        <span class="glyphicon glyphicon-duplicate"></span>
                      </button>
                    </div>
                  {% endif %}
                </td>
                {# iso_data.html #}
                <td class="languageIsoCode" style="padding-left: 0.5em;">
                  {% if language.object_data.iso_code %}
                    <a href="http://en.wikipedia.org/wiki/ISO_639:{{ language.object_data.iso_code }}"
                       target="_blank">
                      {{ language.object_data.iso_code }}
                    </a>
                    {% form_field language.iso_code class="hide" %}
                  {% elif user.is_authenticated and user.is_staff %}
                    {% form_field language.iso_code maxlength="3" class="form-control" style="width: 2.5em;margin-left:-5px" %}
                  {% endif %}
                </td>
                {# glotto_data.html #}
                <td class="languageGlottocode">
                  {% if language.object_data.glottocode %}
                    <a href="http://glottolog.org/resource/languoid/id/{{ language.object_data.glottocode }}"
                       target="_blank">
                      {{ language.object_data.glottocode }}
                    </a>
                    {% form_field language.glottocode class="hide" %}
                  {% elif user.is_authenticated and user.is_staff %}
                    {% form_field language.glottocode maxlength="8" size="8" class="form-control" %}
                  {% endif %}
                </td>
                {# latitude_data.html #}
                <td>
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.latitude class="form-control" style="max-width: 5em;" %}
                  {% else %}
                    {{ language.object_data.latitude|floatformat:-2 }}
                  {% endif %}
                </td>
                {# longitude_data.html #}
                <td>
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.longitude class="form-control" style="max-width: 5em;" %}
                  {% else %}
                    {{ language.object_data.longitude|floatformat:-2 }}
                  {% endif %}
                </td>
                {% if user.is_authenticated %}
                  <td class="languageLocJusticifation">
                    {% form_field language.loc_justification class="form-control" data-longinput="4" %}
                  </td>
                {% endif %}
                {# reference_data.html #}
                <td class="languageRepresentative">
                  <div class="centralised_checkbox">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field language.representative class="form-control" %}
                    {% else %}
                      {% form_field language.representative class="form-control" disabled="disabled" %}
                    {% endif %}
                  </div>
                </td>
                {# exampleLanguage_data.html #}
                <td>
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field language.exampleLanguage class="form-control" %}
                    {% else %}
                      {% form_field language.exampleLanguage class="form-control" disabled="disabled" %}
                    {% endif %}
                </td>
                {# fossstat_data.html #}
                <td class="languageFossStat">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.foss_stat onclick="MutexCheckbox(this)" class="MutexCheckbox form-control" %}
                  {% else %}
                    {% form_field language.foss_stat disabled="disabled" class="form-control" %}
                  {% endif %}
                </td>
                {# lowstat_data.html #}
                <td class="languageLowStat">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.low_stat onclick="MutexCheckbox(this)" class="MutexCheckbox form-control" %}
                  {% else %}
                    {% form_field language.low_stat class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# webpath_data.html #}
                {% if user.is_staff %}
                  <td class="languageRfcWebPath1">
                    {% form_field language.rfcWebPath1 class="form-control" data-longinput="29" %}
                  </td>
                {% endif %}
                {# author_data #}
                <td class="languageAuthor">
                  {{ language.object_data.author }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated and user.is_staff %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
