{% extends "base.html" %}

{% block title %}
  Search lexeme
{% endblock %}

{% block top %}
  <h1>
    Search {{ language.utf8_name }}
  </h1>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <form action="" method="POST">
        {% csrf_token %}
        <table class="table">
          {{ form.as_table }}
        </table>
        <input type="submit" name="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
