{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  Mgs Rfc: Overview [{{ wordlist }}]
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12" style="margin-top: 51px;">
      <form action="" method="post">
        {% if user.is_authenticated and user.is_staff %}
          {% csrf_token %}
        {% endif %}
        <div class="fixedContainer" style="height:51px">
          {% if user.is_authenticated and user.is_staff %}
            <div class="form-group pull-right">
              <a href="." class="btn btn-default">undo</a>
              <input type="submit" value="Save" name="wordlist" class="btn btn-danger">
            </div>
          {% endif %}
          <h1 class="inline">
            Meanings Reference: Overview
            <a href="/meanings/add-new/"
               class="btn btn-default btn-xs"
               data-toggle="tooltip" data-placement="bottom"
               title="add meaning">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
          </h1>
          <span class="badge important updateCounts"
                data-countformat="countVisible initial"
                data-toggle="tooltip"
                data-placement="bottom"
                data-container="body"
                title="Visible / Total rows"
                style="margin-top:-12px">
            {{ mltf.meanings | length}}
          </span>
        </div>
        <table class="table table-striped viewTableFilter"
               data-floatheadtop="51px">
          <thead>
            <tr>
              {% if user.is_authenticated %}
              <th style="width:25px !important">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Dbl check
                  </div>
                </div>
              </th>
              {% endif %}
              {# exclude_title.html #}
              {% if user.is_authenticated and user.is_staff %}
                <th style="width:25px !important">
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Not for Export
                    </div>
                  </div>
                </th>
              {% endif %}
              <th colspan="2"></th>
              <th>Id</th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Elic. Ix
                  </div>
                </div>
              </th>
              <th colspan="2" title="Concepticon ID">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    CcptID
                  </div>
                </div>
              </th>
              <th>Meaning</th>
              <th>Meaning specification tooltip</th>
              {# exampleContext_title.html #}
              <th>Example Context</th>
              <th colspan="2"></th>
              {% if user.is_authenticated %}
              <th></th>
              {% endif %}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    % Cog. coded
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of lexemes">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Lex.
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog.
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of true cognate classes (excluding loanwords)">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    True Cog.
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as loanword">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. Loan
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as parallel loan event">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. Pll Loan
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as ideophonic">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. Ideoph.
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Percentage of cognate classes that have a root form.">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Root form %
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes that have a root form.">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Count Rt form
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Percentage of cognate classes that have a root language.">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Root lg %
                  </div>
                </div>
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes that have a root language.">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Count Rt lg
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    % Revised
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Set Ix
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Member Ix
                  </div>
                </div>
              </th>
            </tr>
            <tr class="filterBar">
              {% if user.is_authenticated %}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".doubleCheck input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {% endif %}
              {# exclude_filter.html #}
              {% if user.is_authenticated and user.is_staff %}
                <td>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".exclude input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </td>
              {% endif %}
              <td colspan="2"></td>
              <td>
                <input type="text" class="filterNumberInput form-control"
                       data-selector=".meaningId input.meaningId"
                       style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntInput"
                     data-selector=".meaningId input.meaningId">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumberInput form-control"
                       data-selector=".ixElicitation input.ixElicitation"
                       style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntInput"
                     data-selector=".ixElicitation input.ixElicitation">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td colspan="2">
                <input type="text" class="filterNumberInput form-control"
                       data-selector=".concepticon_id input.concepticon_id"
                       style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntInput"
                     data-selector=".concepticon_id input.concepticon_id">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningGloss input"
                         style="width: 6em;"><br />
                  <center><div class="btn btn-xs btn-default sortInput"
                                         data-selector=".meaningGloss input">
                                      <span class="glyphicon glyphicon-sort"></span>
                                    </div></center>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".meaningGloss"
                         style="width: 6em;"><br />
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningGloss">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningTooltip input"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningTooltip input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".meaningTooltip"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningTooltip">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# exampleContext_filter.html #}
              <td colspan="3">
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".exampleContext input">
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".exampleContext">
                {% endif %}
              </td>
              {% if user.is_authenticated %}
                <td></td>
              {% endif %}
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningPercentCoded"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningPercentCoded">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningLexCount"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningLexCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogCount"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningTrueCogCount"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningTrueCogCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogLoanCount"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogLoanCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogParallelLoanCount"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogParallelLoanCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogIdeophonic"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogIdeophonic">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogIdeophonic"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogIdeophonic">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogRootFormPercentage"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootFormPercentage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogRootFormCount"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootFormCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogRootLanguagePercentage"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootLanguagePercentage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogRootLanguageCount"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootLanguageCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <input type="text" class="filterNumber form-control"
                         data-selector=".meaningCogRevisedPercentage"
                         style="width: 1.7em;"><br />
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRevisedPercentage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterNumberInput form-control"
                         data-selector=".meaningSetIx input"
                         style="width: 1.7em;"><br />
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningSetIx input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterNumber form-control"
                         data-selector=".meaningSetIx"
                         style="width: 1.7em;"><br />
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningSetIx">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <!-- <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterNumberInput form-control"
                         data-selector=".meaningSetMember input"
                         style="width: 1.7em;"><br />
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningSetMember input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterNumber form-control"
                         data-selector=".meaningSetMember"
                         style="width: 1.7em;"><br />
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningSetMember">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td> -->
            </tr>
          </thead>
          <tbody>
            {% for meaning in mltf.meanings %}
              <tr>
                {% if user.is_authenticated %}
                <td class="doubleCheck">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field meaning.doubleCheck class="form-control" %}
                  {% else %}
                    {% form_field meaning.doubleCheck class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {% endif %}
                {# exclude_data.html #}
                {% if user.is_authenticated and user.is_staff %}
                  <td class="exclude">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field meaning.exclude class="form-control" %}
                    {% else %}
                      {% form_field meaning.exclude class="form-control" disabled="disabled" %}
                    {% endif %}
                  </td>
                {% endif %}
                <td style="width:30px !important">
                  {% if meaning.data.gloss %}
                    <a href="https://github.com/lingdb/CoBL-public/wiki/Meaning:-{{ meaning.data.gloss }}"
                       title="View wiki page." target="_blank">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  {% endif %}
                </td>
                <td style="width:30px !important">
                  {% if meaning.object_data.exampleContext %}
                  <span class="badge"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-container="body"
                        title="{{ meaning.object_data.exampleContext }}">
                    e.g.
                  </span>
                  {% endif %}
                </td>
                <td class="meaningId">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field meaning.meaningId class="hide" %}
                    {% form_field meaning.lastTouched class="hide" %}
                    {% form_field meaning.lastEditedBy class="hide" %}
                  {% endif %}
                  <input type="text" disabled="disabled"
                         value="{{ meaning.object_data.id }}"
                         class="meaningId numberField form-control"
                         style="width: 3em;">
                </td>
                <td class="ixElicitation">
                  {% if user.is_authenticated and user.is_superuser %}
                    {% form_field meaning.ixElicitation class="ixElicitation form-control numberField" style="width: 3em;" %}
                  {% else %}
                    {% form_field meaning.ixElicitation disabled="disabled" class="ixElicitation form-control numberField" style="width: 3em;" %}
                  {% endif %}
                </td>
                <td class="concepticon_id">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field meaning.concepticon_id class="concepticon_id form-control numberField" style="width: 3em;" %}
                  {% else %}
                    {% form_field meaning.concepticon_id disabled="disabled" class="concepticon_id form-control numberField" style="width: 3em;" %}
                  {% endif %}
                  <td>
                  {% if meaning.data.concepticon_id %}
                    <a href="http://concepticon.clld.org/parameters/{{ meaning.data.concepticon_id }}"
                       title="Go to Concepticon" target="_blank">
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                  {% endif %}
                  </td>
                </td>
                <td class="meaningGloss">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.gloss class="form-control" size="4" style="width: 6em;" %}
                {% else %}
                  {{ meaning.object_data.gloss }}
                {% endif %}
                </td>
                <td class="meaningTooltip">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.tooltip class="form-control" data-longinput="38" %}
                {% else %}
                  {{ meaning.object_data.tooltip }}
                {% endif %}
                </td>
                {# exampleContext_data.html #}
                <td class="exampleContext">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.exampleContext class="form-control" data-longinput="25" %}
                {% else %}
                  {{ meaning.object_data.exampleContext }}
                {% endif %}
                </td>
                <td>
                  <a href="{% url 'view-meaning-languages' meaning.data.gloss defaultLanguagelist %}"
                     title="Edit ‘{{ meaning.data.gloss }}' by language list">
                     <img src="{% static '1w.png' %}" />
                  </a>
                </td>
                <td>
                  <a href="{% url 'edit-cogclasses' meaning.data.gloss %}"
                     title="Edit cognate classes for ‘{{ meaning.data.gloss }}'">
                     <img src="{% static '1c.png' %}" />
                  </a>
                </td>
                {% if user.is_authenticated %}
                  <td>
                    <a href="{% url 'edit-meaning' meaning.data.gloss %}"
                       title="Edit ‘{{ meaning.data.gloss }}’ metadata">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  </td>
                {% endif %}
                <td class="meaningPercentCoded">
                  <span class="badge">
                    {{ meaning.object_data.percent_coded|floatformat:1 }}
                  </span>
                </td>
                <td class="meaningLexCount">
                  <span class="badge">
                    {{ meaning.object_data.lex_count }}
                  </span>
                </td>
                <td class="meaningCogCount">
                  <span class="badge">
                    {{ meaning.object_data.cog_count }}
                  </span>
                </td>
                <td class="meaningTrueCogCount">
                  <span class="badge">
                    {{ meaning.object_data.cog_truecount }}
                  </span>
                </td>
                <td class="meaningCogLoanCount">
                  <span class="badge">
                    {{ meaning.object_data.cogLoanCount }}
                  </span>
                </td>
                <td class="meaningCogParallelLoanCount">
                  <span class="badge">
                    {{ meaning.object_data.cogParallelLoanCount }}
                  </span>
                </td>
                <td class="meaningCogIdeophonic">
                  <span class="badge">
                    {{ meaning.object_data.cogIdeophonic }}
                  </span>
                </td>
                <td class="meaningCogRootFormPercentage">
                  <span class="badge">
                    {{ meaning.object_data.cogRootFormPercentage }}
                  </span>
                </td>
                <td class="meaningCogRootFormCount">
                  <span class="badge">
                    {{ meaning.object_data.cogRootFormCount }}
                  </span>
                </td>
                <td class="meaningCogRootLanguagePercentage">
                  <span class="badge">
                    {{ meaning.object_data.cogRootLanguagePercentage }}
                  </span>
                </td>
                <td class="meaningCogRootLanguageCount">
                  <span class="badge">
                    {{ meaning.object_data.cogRootLanguageCount }}
                  </span>
                </td>
                <td class="meaningCogRevisedPercentage">
                  <span class="badge">
                    {{ meaning.object_data.cogRevisedPercentage|floatformat:1 }}
                  </span>
                </td>
                <td class="meaningSetIx">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.meaningSetIx class="form-control numberField" style="width: 2em;" %}
                {% else %}
                  {{ meaning.object_data.meaningSetIx }}
                {% endif %}
                </td>
                <td class="meaningSetMember">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.meaningSetMember class="form-control numberField" style="width: 2em;" %}
                {% else %}
                  {{ meaning.object_data.meaningSetMember }}
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
