# -*- coding: utf-8 -*-
import os
from settings import ROOTDIR

# Development settings
# IMPORTANT: do not change DEBUG to True until after the first syncdb
DEBUG = False
TEMPLATE_DEBUG = DEBUG

# Database backend
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(ROOTDIR, 'db.sqlite3'),
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Not used with sqlite3.
        'PORT': '',                      # Not used with sqlite3.
        'ATOMIC_REQUESTS':True,          # Required by sqlite3 (only)
    }
}

# Need to define a place to keep static files (use ./manage
# collectstatic to put them there)
STATIC_ROOT = ""

# A list of strings representing the host/domain names that this Django
# site can serve
ALLOWED_HOSTS = [
        # ".example.com",  # allow domain and subdomains of 'example.com'
        # ".example.com.", # required by Django 1.5 and 1.6 for fully qualified
                           # domain name, which some browsers send in HOST
                           # header (1.7+ strips final '.' before validation)
        ]

# Meta tags for the front page (<meta name=... /> format)
# e.g. the Google site verification tag could go here
META_TAGS = ""

# Error messages
ADMINS = (
        # ('Your Name', 'your_email@domain.com'),
        )
MANAGERS = ADMINS

## Datetime formats
## These may be freely customized according to:
## http://docs.djangoproject.com/en/dev/ref/templates/builtins/#date
# DATE_FORMAT = "d M Y"
# DATETIME_FORMAT = "l, dS F Y  H:i:s O"
# SHORT_DATE_FORMAT = "d-m-Y"
# SHORT_DATETIME_FORMAT = "Y-m-d H:i:s"

# Project customization
project_long_name = u"Test Lexical Cognacy Database"
project_short_name = u"TestLex" # should be different from all other projects
project_description = u"""Description for the front page"""
project_citation = u"""Reference for data exported from project"""
acknowledgements = u"" # may include html markup

# Which modules to use (True or False)
semantic_domains = False
structural_features = False # NotImplemented

# Maximum number of search results
LIMIT_TO = 500

# Automatically generated secret key
SECRET_KEY = "<++>"

# vim:ft=python
