/*
Customizing bootstrap to our site.
*/
body {
  padding-top: 60px;
  padding-bottom: 60px;
}

.navbar-brand {
  padding-top: 9px;
  padding-bottom: 9px;
}

#githubLink, #glyphiconsLink {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
}

thead .filterText,
thead .filterInput,
thead .filterSwadesh {
  width: 75%;
  display: inline;
}

thead .filterText.narrow,
thead .filterInput.narrow,
thead .filterSwadesh.narrow {
  width: 50%;
  display: inline;
}
