body {
  padding-top: 60px;
}

.navbar-brand {
  padding-top: 9px;
  padding-bottom: 9px;
}

#githubLink, #glyphiconsLink {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
}

thead .filterText,
thead .filterInput,
thead .filterSwadesh {
  width: 75%;
  display: inline;
}

thead .filterText.narrow,
thead .filterInput.narrow,
thead .filterSwadesh.narrow {
  width: 50%;
  display: inline;
}

table .form-control {
  padding-left: 3px;
  padding-right: 3px;
}

.badge.important {
  font-size: 25px;
}

.space-right {
  margin-right: 1em;
}

table.viewTableFilter>thead>tr>td ,
table.viewTableFilter>tbody>tr>td {
  padding: 1px;
  vertical-align: middle;
}

/* Markdown content pre rendering: */
.markdown {
  /* Preserve white-space as it is */
  white-space: pre;
}

.table .languageBranchColor {
  width: 8px;
  border: 0px;
  padding: 0px;
}
.table .languageBranchColorSpace {
  width: 4px;
  background-color: white;
  border: 0px;
  padding: 0px;
}

table.floatThead-table {
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
}
.floatThead-container {
  padding-top: 55px;
}

.fixedContainer {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 55px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  background-color: white;
  z-index: 1002;
}

.inline {
  display: inline;
}

.cognateClasses, .languageName, .cogClassAlias {
  font-size: 18px;
}

#footer, #footer>div {
  margin: 0px;
}

#navbar li > a {
  padding-left: 5px;
  padding-right: 5px;
}
#navbar li.navbar-text {
  margin-left: 5px;
  margin-right: 5px;
}

.filterBar th, .nowrap {
  white-space: nowrap;
}

.prevNextLink {
  margin-top: 11.5px;
}
.prevNextLink.pull-right {
  margin-right: 15px;
}

.typeaheadText {
  text-align: center;
  max-width: 500px;
}

.authorThumbnail {
  width: 36px;
  height: 36px;
}

.authorThumbnail:hover {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
}

/* For fields that contain only numbers */
.numberField {
  text-align: right;
}

/* To make sure messages are displayed */
.alert {
  position: fixed;
  z-index: 1003;
  top: 60px;
  left: 15px;
  right: 15px;
}

.progressBar .progress {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75px;
}

.loanEventCell {
  background-color: #BBBBBB;
}

#editCognateClassContent {
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: 0px;
  width: 400px;
  background-color: #FFFFFF;
  z-index: 1004;
  overflow-y: scroll;
}

.viewTableFilter td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
}

table input[type="checkbox"],
button.filterBool {
  margin-left: auto;
  margin-right: auto;
}
