/*
Customizing bootstrap to our site.
*/
body {
  padding-top: 100px;
}

.navbar-brand {
  padding-top: 9px;
  padding-bottom: 9px;
}

#githubLink, #glyphiconsLink {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
}
