/* ================================================================= */
/*    ELEMENT AND CLASS DEFINITIONS                             {{{1 */
/* ================================================================= */

/* == Basic ===================================================={{{1 */

body { font-family: sans-serif }

div.lex_form { position: fixed; top: 20px; right: 370px; background-color: #ccc; padding: 5px; opacity: 0.9; margin: 0 0 0 0px; border: none !important; }
div.langlist_form { position: fixed; top: 20px; right: 410px; background-color: #ccc; padding: 5px; opacity: 0.9; margin: 0 0 0 0px; border: none !important; }

p.help { text-size: small }

h2 {
  font-size: 120%;
  color: #360;
}

strong {
  color: #360;
}

li {
  margin: 0px;
  padding: 0px;
}

/* == Tables ==================================================={{{1 */

table#editable { background: #FBF6D9; }

th {
  	color: #360;
}

tr.even { background: #cf9 }
tr.odd { background: #ccc }
tr.selected { background: #fc6 }
tr.mid-align { vertical-align: middle; }
td.rightalign { text-align: right }
td.rowname { font-weight: bold;	color: #360; }
td.narrow { width: 20px; }
th.hidden { display: none;}
td.hidden { display: none;}
td.mid-align { text-align: center; }
td.widetext { display: table-cell;}
div.Orightarrow { width: 35px; color: green; font-size: 15px; }
div.narrow_form { width: 70px; font-size: 15px; padding: 5px 0 5px 5px;   
				 background-color: #C3FDB8; color: black; vertical-align: middle; }
div.narrow_form > select#id_cognate_class { margin-left: 5px; position: absolute; }
div.Oright { width: 100%; padding: 5px 5px 5px 0; vertical-align: middle; }

/* == Forms ===================================================={{{1 */

form ul { list-style-type: none; padding-left: 0;}

form tr { vertical-align: top;}

form ul.errorlist { color: #E31A1C;}

form input[type=text] { width: 70px; margin-bottom: 7px; font-size: 15px; border: 0; padding: 5px 7px; background-color: #C3FDB8; color: black; }
form input[type=text]:focus { color: red; }

form input[class=widetext]:focus { color: red; width: 500px; rows: 4; transition: width .6s ease;}
/*form input[class=widetext]:hover { content: attr(value); }*/

form input[class=mediumtext] { width: 90px; }

/*form input[class=readonly] { background-color: #cf9; }*/
form input[class=readonly] { width: 70px; background-color: #ccc; font-size: 15px;}
form input[class=language_name] { width: 100px; background-color: #ccc; }
form input[class=readonlynarrow] { width: 25px; background-color: #ccc; margin: 0 0 0 0px; padding: 6px 0px; text-align: center; font-size: 15px; }

form input#lowmediumtext { width: 65px; }
form input#narrowtext { width: 35px; }
form input#verynarrowtext { width: 25px; }
form input#linked,
form input.linked { color: blue; }

form input[class=leftcheckarrow] { display: none; padding: 0 0 0 0; margin: 0 0 0 0; float:left;}
form label.left {float:left; height: 18px; width: 18px; }
form input[class=leftcheckarrow] + label { background:url('../buttons/left.png') no-repeat; ; background-size: 50% 50%; background-position: center;
										   display:inline-block; padding: 0 0 0 0; margin: 0 0 0 0; }

form input[class=rightcheckarrow] { display: none; padding: 0 0 0 0; margin: 0 0 0 0;}
form input[class=rightcheckarrow] + label { background:url('../buttons/right.png') no-repeat; background-size: 50% 50%; background-position: center; 
											display:inline-block; padding: 0 0 0 0; margin: 0 0 0 0;}
form label.right {float:right; height: 18px; width: 18px;}
form input[class=Orightcheckarrow] { display: none; padding: 0 0 0 0; margin: 0 0 0 0;}
form input[class=Orightcheckarrow] + label { background:url('../buttons/Oright.png') no-repeat; background-size: 100% 100%; background-position: center; 
											display:inline-block; padding: 0 0 0 0; margin: 0 0 0 0;}
form label.Oright {float:right; height: 20px; width: 20px;}

form input[class=hyperformfield] { color: blue; }

input[class=hidden] { display: none; }

/* == Navigation button/lists =================================={{{1 */

ul.navigation {
  list-style-type: none;
  padding-left: 0;
}

ul.navigation li {
  background: #ccc;
  }

ul.navigation a {
  text-decoration: none;
  color: #666;
  display: block;
  padding: 3pt;
  margin-left: 0;
  font-weight: bold;
  border: 1px solid gray;
}

ul.navigation a:hover {
  background: #cf9;
}

ul#errorlist {display:none;}

/* == Links ===================================================={{{1 */

a img {
  border: none!important;
}

a:link { text-decoration: none }
a:visited { text-decoration: none }
a:active { text-decoration: none }
a:hover { text-decoration: underline }
a.button:hover { text-decoration: none }

/* ================================================================= */
/*    ID DEFINITIONS                                            {{{1 */
/* ================================================================= */

#container {
  width: 99%;
  margin: 10px auto;
  background-color: #fff;
  color: #333;
  border: 1px solid gray;
}

#top {
  padding: 1%;
  background-color: #cf9;
  border-bottom: 1px solid gray;
}

#top h1 {
  letter-spacing: 3px;
  padding: 6px;
  margin: 0;
}

#login {
  width: 24%;
  padding: 1%;
  background-color: #cf9;
  float: right;
  text-align: right;
}

#logo{
  width: 100px;
  float: left;
  padding: 1%;
}

#sitemap {
  width: 24%;
  padding: 1%;
  background-color: #ddd;
  float: right;
  text-align: right;
  text-size: small;
}

#content {
  margin-right: 26%;
  padding: 1%;
  border-right: 1px solid gray;
}

#controls {
  float: right;
  width: 24%;
  padding: 1%;
}


#footer {
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid gray;
}

#message {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

#message a {
  color: #333;
  text-decoration: none;
  display: block;
}

#message:hover {
  opacity: 1;
}
#message ul {
  list-style-type: none;
  display: block;
  margin: 0px;
  padding: 0px;
}

#message li {
  color: #333;
  background-color: #fc6;
  font-weight: bold;
  padding: 3pt;
  border: 1px solid #f60;
  }

#message li.prominent {
  color: black;
  background-color: #c00;
  font-weight: bold;
  padding: 10pt;
  border: 1px solid #f60;
  }


/* == Tooltips code ==================================================={{{1
  
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}*/
