{% load lexicon_utils %}
{% load staticfiles %}
{% load wtforms %}

<td class="languageEarliestTimeDepthBound">
  {% if user.is_authenticated and user.is_staff %}
    {% form_field language.earliestTimeDepthBound maxlength="4" size="4" class="form-control" style="width: 4em;" pattern="[0-9]{0,4}" %}
  {% else %}
    {% if language.earliestTimeDepthBound.data %}
      {{ language.earliestTimeDepthBound.data }}
    {% endif %}
  {% endif %}
</td>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
