{% load lexicon_utils %}
{% load staticfiles %}
{% load wtforms %}

<td class="languageGlottocode">
  {% if language.data.glottocode %}
    <a href="http://glottolog.org/resource/languoid/id/{{ language.data.glottocode }}"
       target="_blank">
      {{ language.data.glottocode }}
    </a>
    {% form_field language.glottocode class="hide" %}
  {% elif user.is_authenticated and user.is_staff %}
    {% form_field language.glottocode maxlength="8" size="8" class="form-control" %}
  {% endif %}
</td>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
