{% load lexicon_utils %}
{% load staticfiles %}
{% load wtforms %}

<td class="languageLevel0">
  <center>
    {% if user.is_authenticated and user.is_staff %}
      {% form_field language.level0 class="languageBranch form-control" maxlength="1" size="1" style="width: 1.5em;" %}
    {% elif language.level0.data %}
      {{ language.level0.data }}
    {% endif %}
  </center>
</td>
<td class="languageLevel1">
  <center>
    {% if user.is_authenticated and user.is_staff %}
      {% form_field language.level1 class="languageBranch form-control" maxlength="1" size="1" style="width: 1.5em;" %}
    {% elif language.level1.data %}
      {{ language.level1.data }}
    {% endif %}
  </center>
</td>
<td class="languageLevel2">
  <center>
    {% if user.is_authenticated and user.is_staff %}
      {% form_field language.level2 class="languageBranch form-control" maxlength="1" size="1" style="width: 1.5em;" %}
    {% elif language.level2.data %}
      {{ language.level2.data }}
    {% endif %}
  </center>
</td>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
