{% load staticfiles %}
{% load wtforms %}

<td>
  {% if user.is_authenticated %}
    <button class="leftcheckarrow btn btn-xs inline"
            type="button"
            id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"
            onclick="CopyAcross(this)">
      <span class="glyphicon glyphicon-step-backward"></span>
    </button>
  {% endif %}
</td>
<td>
  {% if user.is_authenticated %}
    <button class="rightcheckarrow btn btn-xs inline"
            type="button"
            id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"
            onclick="CopyAcross(this)">
      <span class="glyphicon glyphicon-step-forward"></span>
    </button>
  {% endif %}
</td>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
