{% load staticfiles %}
{% load wtforms %}

<td>
  {% if user.is_authenticated %}
    <button class="rightcheckarrow btn btn-xs"
            type="button"
            id="src2root#{{lexeme.source_form.name}}#{{lexeme.rfcWebLookup1.name}}"
            onclick="CopyAcross(this)">
      <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
  {% endif %}
</td>
<td class="lexemeRfcWebLookup1">
  {% if user.is_authenticated %}
    {% form_field lexeme.rfcWebLookup1 class="form-control" %}
  {% elif lexeme.rfcWebLookup1.data %}
    {{ lexeme.rfcWebLookup1.data }}
  {% endif %}
</td>
<!--
<td>
  {% if user.is_authenticated %}
    <button class="rightcheckarrow btn btn-xs"
            type="button"
            id="src2root#{{lexeme.source_form.name}}#{{lexeme.rfcWebLookup2.name}}"
            onclick="CopyAcross(this)">
      <span class="glyphicon glyphicon-fast-forward"></span>
    </button>
  {% endif %}
</td>
<td class="lexemeRfcWebLookup2">
  {% if user.is_authenticated %}
    {% form_field lexeme.rfcWebLookup2 class="form-control" %}
  {% elif lexeme.rfcWebLookup2.data %}
    {{ lexeme.rfcWebLookup2.data }}
  {% endif %}
</td>
-->
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
