{% load staticfiles %}
{% load wtforms %}

<td>
  {% if lexeme.object_data.rfcWebPath1 and lexeme.data.rfcWebLookup1 %}
    <a href="{{ lexeme.object_data.rfcWebPath1 }}{{ lexeme.data.rfcWebLookup1 }}" target="_blank">
      <span class="glyphicon glyphicon-link"></span>
    </a>
  {% endif %}
  {% if lexeme.object_data.rfcWebPath2 and lexeme.data.rfcWebLookup2 %}
    <a href="{{ lexeme.object_data.rfcWebPath2 }}{{ lexeme.data.rfcWebLookup2 }}" target="_blank">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  {% endif %}
</td>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
