[Unit]
Description=Execute cobl backup script.
Requires=postgresql.service

[Service]
User=cobl
Group=cobl
ExecStart=/bin/bash /srv/cobl/deployment/backup.sh

[Install]
WantedBy=multi-user.target
