{% extends "base.html" %}

{% block title %}Cognate judgement citation{% endblock %}

{% block top %}
  <h1>
    Citation to Cognate class
    {{ citation.cognate_judgement.cognate_class.id }}
    ({{ citation.cognate_judgement.cognate_class.alias }}):
    {{ citation.cognate_judgement.lexeme }}
  </h1>
{% endblock %}

{% block content %}
  <p>
    {% with citation.cognate_judgement.cognatejudgementcitation_set.count as ncitations %}
      {% if ncitations > 1 %}
        One of {{ sec_count }} citations
      {% endif %}
    {% endwith %}
  </p>

  {% include "snippets/citation_detail_table.html" %}
  {% endblock %}

  {% block controls %}
  {% include "snippets/go_to.html" %}

  <ul class="navigation">
    <li>
      <a href="{% url 'cognate-set' citation.cognate_class.id %}">
        back to cognate class
      </a>
    </li>
    <li>
      <a href="{% url 'cognate-class-citation-edit' citation.cognate_class.id citation.id %}">
        edit this citation
      </a>
    </li>
  </ul>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
