{% extends "base_admin.html" %}

{% block title %}{{ project_short_name }} User Profile{% endblock %}

{% block top %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>User profile: <strong>{{ the_user.username }}</strong></h1>
      <a href="/">Back to database</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="first_name">First name:</label>
          {{ form.first_name }}
        </div>
        <div class="form-group">
          <label for="last_name">Last name:</label>
          {{ form.last_name }}
        </div>
        <div class="form-group">
          <label for="email">Email address:</label>
          {{ form.email }}
        </div>
        {% if user.is_superuser %}
          <div class="form-group">
            <label for="email">Is active:</label>
            {{ form.is_active }}
          </div>
        {% endif %}
        {% include "buttons/submit-cancel.html" %}
      </form>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
