{# submit, return to /meaning/GLOSS/, or cancel (requires a Lexeme object) #}
<input type="submit" name="submit" value="Submit" />
<input type="submit" name="submit" value="Submit >> Back to meaning ‘{{ lexeme.meaning.gloss }}’" />
<input type="submit" name="submit" value="Submit >> Back to language ‘{{ lexeme.language.utf8_name }}’" />
<input type="submit" name="submit" value="Submit >> New lexeme" />
<input type="submit" name="cancel" value="Cancel" />
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
