<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

{% load staticfiles %}

<html lang="en">
  <head>
    <title>Page unavailable</title>
  </head>
  <body>
    <center>
      <img src="%{ static 'server_error.png' %}" alt="Server error" title="Server error">
      <h1>Page unavailable</h1>
      <p>Something has gone wrong.</p>
      <p>The relevant organs have been notified.</p>
    </center>
  </body>
</html>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
