{% extends "base.html" %}

{% block title %}Add new meaning list{% endblock %}

{% block top %}
  <h1>Add new meaning list</h1>
{% endblock %}

{% block content %}
  <form action="" method="POST">{% csrf_token %}
    <table style="margin:10px;">
      {{ form.as_table }}
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td><span style="margin-right:100px">&nbsp;</td>
        <td>
          <input type="submit" name="submit" value="Submit">
          <input type="submit" name="cancel" value="Cancel">
        </td>
      </tr>
    </table>
  </form>
  <br />
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
