{% extends "base.html"%}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Authors
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/addAuthorModal.html" %}
  {% include "snippets/deleteAuthorModal.html" %}
  <div class="row">
    <div class="col-md-12" style="margin-top: 51px;">
      {% if user.is_authenticated and user.is_staff %}
        <form action="" method="POST" name="authors">
          {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated and user.is_staff %}
          <div class="form-group pull-right">
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Add new author">
              <button type="button"
                      data-toggle="modal"
                      data-target="#addAuthorModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Delete author">
              <button type="button"
                      data-toggle="modal"
                      data-target="#deleteAuthorModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <a href="/authors/" class="btn btn-default">Undo</a>
            <input type="submit" name="authors"
                   value="Save" class="btn btn-danger">
          </div>
        {% endif %}
      </div>
          <table class="table table-condensed viewTableFilter"
                 data-floatheadtop="51">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Initials</th>
                <th>Surname</th>
                <th>First names</th>
                <th>Email</th>
                <th>Website</th>
              </tr>
            </thead>
            <tbody>
              {% for author in authors.elements %}
                <tr>
                  <td class="hide">
                    {% form_field author.idField required="required" %}
                    {% form_field author.lastTouched required="required" %}
                    {% form_field author.lastEditedBy required="required" %}
                  </td>
                  <td>
                    {% if author.object_data.getAvatar %}
                      <img src="/ielex/{{ author.object_data.getAvatar }}"
                           class="authorThumbnail"/>
                    {% endif %}
                  </td>
                  <td class="initials">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field author.initials class="form-control" required="required" style="width: 4em;" %}
                    {% else %}
                      {{ author.initials.data }}
                    {% endif %}
                  </td>
                  <td class="surname">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field author.surname class="form-control" required="required" %}
                    {% else %}
                      {{ author.surname.data }}
                    {% endif %}
                  </td>
                  <td class="firstNames">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field author.firstNames class="form-control" required="required" %}
                    {% else %}
                      {{ author.firstNames.data }}
                    {% endif %}
                  </td>
                  <td class="email">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field author.email class="form-control" %}
                    {% else %}
                      {{ author.object_data.displayEmail }}
                    {% endif %}
                  </td>
                  <td class="website">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field author.website class="form-control inline" style="width: 90%;" %}
                    {% endif %}
                    {% if author.website.data %}
                      <a href="{{ author.website.data }}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      {% if user.is_authenticated and user.is_staff %}
        </form>
      {% endif %}
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
