{% extends "base.html"%}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Authors
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/addAuthorModal.html" %}
  {% include "snippets/deleteAuthorModal.html" %}
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated and user.is_staff %}
        <form action="" method="POST" name="authors">
          {% csrf_token %}
          <div class="form-group pull-right">
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Add new author">
              <button type="button"
                      data-toggle="modal"
                      data-target="#addAuthorModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </a>
            </div>
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Delete author">
              <button type="button"
                      data-toggle="modal"
                      data-target="#deleteAuthorModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
              </a>
            </div>
            <a href="/authors/" class="btn btn-default">Undo</a>
            <input type="submit" name="authors"
                   value="Save" class="btn btn-danger">
          </div>
          <table class="table table-condensed viewTableFilter">
            <thead>
              <tr>
                <th>Initials</th>
                <th>Surname</th>
                <th>First names</th>
                <th>Email</th>
                <th>Website</th>
              </tr>
            </thead>
            <tbody>
              {% for author in authors.elements %}
                <tr>
                  <td class="hide">
                    {% form_field author.idField required="required" %}
                  </td>
                  <td class="initials">
                    {% form_field author.initials class="form-control" required="required" style="width: 4em;" %}
                  </td>
                  <td class="surname">
                    {% form_field author.surname class="form-control" required="required" %}
                  </td>
                  <td class="firstNames">
                    {% form_field author.firstNames class="form-control" required="required" %}
                  </td>
                  <td class="email">
                    {% form_field author.email class="form-control" %}
                  </td>
                  <td class="website">
                    {% form_field author.website class="form-control inline" style="width: 90%;" %}
                    {% if author.website.data %}
                      <a href="{{ author.website.data }}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      {% else %}
        <table class="table table-condensed viewTableFilter">
          <thead>
            <tr>
                <th>Initials</th>
                <th>Surname</th>
                <th>First names</th>
                <th>Email</th>
                <th>Website</th>
            </tr>
          </thead>
          <tbody>
            {% for author in authors.elements %}
              <tr>
                <td class="initials">
                  {{ author.initials.data }}
                </td>
                <td class="surname">
                  {{ author.surname.data }}
                </td>
                <td class="firstNames">
                  {{ author.firstNames.data }}
                </td>
                <td class="email">
                  {{ author.object_data.displayEmail }}
                </td>
                <td class="website">
                  {% if author.website.data %}
                    <a href="{{ author.website.data }}" target="_blank">
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
