<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
      body {
        font-family: sans-serif;
      }
      h1 { 
	letter-spacing: 3px;
	padding: 6px;
	background: #CF9;
      }
      tr.even { background: #CCFF99 }
      tr.odd { background: #CCCCCC }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <small>Indo European LEXicon version 0.1</small>
    {% endblock %}
</body>
</html>

{# vim: set ft=htmldjango: #}
