<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
{% include "ielex.css" %}
    </style>
</head>
<body>
  <div id="container">
    <div id="top">
    {% block top %}{% endblock %}
    </div>

    <div id="controls">
    {% block controls %}{% endblock %}
    <div id="debug">
    <strong>DEBUG</strong>
    {% block debug %}{% endblock %}
    </div>
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
    <small>Indo European LEXicon version 0.1</small>
    {% endblock %}
    </div>
  </div>
</body>
</html>

{# vim: set ft=htmldjango: #}
