{% extends "base.html"%}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Language Branches
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/addCladeModal.html" %}
  {% include "snippets/deleteCladeModal.html" %}
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated and user.is_staff %}
        <form action="" method="POST" name="clades">
          {% csrf_token %}
          <div class="form-group pull-right">
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Add new clade">
              <button type="button"
                      data-toggle="modal"
                      data-target="#addCladeModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </a>
            </div>
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Delete clade">
              <button type="button"
                      data-toggle="modal"
                      data-target="#deleteCladeModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
              </a>
            </div>
            <a href="/clades/" class="btn btn-default">Undo</a>
            <input type="submit" value="Save" class="btn btn-danger" name="clades">
          </div>
      {% endif %}
        <table class="table table-condensed viewTableFilter">
          <thead>
            <tr>
              {# For Clade reference: #}
              <th>Cl 0</th>
              <th>Cl 0 name</th>
              <th>Cl 1</th>
              <th>Cl 1 name</th>
              <th>Cl 2</th>
              <th>Cl 2 name</th>
              <th>Cl 3</th>
              <th>Cl 3 name</th>
              <th>Clade name</th>
              <th>Colour (hex)</th>
              <th>Filt abbr</th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Boolean to decide wether the clade will be included in the export">
                Exp cl?
              </th>
              <th>Taxonset name</th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Boolean to decide wether the date will be included in the export">
                Exp date?
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Latest plausible date at which divergence had not yet begun">
                At most?
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Earliest plausible date divergence could have begun by">
                At least?
              </th>
              <th>Distribution type</th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Offset for log normal distribution">
                [Offset]
              </th><!-- DATE TOOLTIP -->
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Mean for log normal distribution">
                LogN Mean
              </th><!-- DATE TOOLTIP -->
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="StDev for log normal distribution">
                LogN StDev
              </th><!-- DATE TOOLTIP -->
              <!-- For normal: -->
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Mean for normal distribution">
                Norm Mean
              </th><!-- DATE TOOLTIP -->
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="StDev for normal distribution">
                Norm StDev
              </th><!-- DATE TOOLTIP -->
              <!-- For Uniform: -->
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Upper bound for uniform distribution type">
                Unif Upper
              </th><!-- DATE TOOLTIP -->
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  title="Lower bound for uniform distribution type">
                Unif Lower
              </th><!-- DATE TOOLTIP -->
            </tr>
            <tr class="filterBar">
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".cladeLevel0 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel0 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".cladeLevel0">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel0">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".level0Name input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level0Name input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".level0Name">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level0Name">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".cladeLevel1 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel1 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".cladeLevel1">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel1">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".level1Name input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level1Name input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".level1Name">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level1Name">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".cladeLevel2 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel2 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".cladeLevel2">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel2">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".level2Name input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level2Name input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".level2Name">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level2Name">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".cladeLevel3 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel3 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".cladeLevel3">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel3">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".level3Name input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level3Name input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".level3Name">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level3Name">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".cladeName input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeName input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".cladeName">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeName">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".hexColor input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".hexColor input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".hexColor">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".hexColor">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".shortName input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".shortName input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".shortName">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".shortName">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".export input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".taxonsetName input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".taxonsetName input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".taxonsetName">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".taxonsetName">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".exportDate input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".atMost input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".atMost input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".atMost">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".atMost">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".atLeast input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".atLeast input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".atLeast">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".atLeast">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {# No filtering for selections implemented. #}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".logNormalOffset input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".logNormalOffset input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".logNormalOffset">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".logNormalOffset">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".logNormalMean input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".logNormalMean input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".logNormalMean">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".logNormalMean">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".logNormalStDev input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".logNormalStDev input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".logNormalStDev">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".logNormalStDev">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".normalMean input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".normalMean input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".normalMean">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".normalMean">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".normalStDev input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".normalStDev input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".normalStDev">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".normalStDev">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".uniformUpper input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".uniformUpper input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".uniformUpper">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".uniformUpper">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".uniformLower input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".uniformLower input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".uniformLower">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".uniformLower">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
            </tr>
          </thead>
          <tbody>
            {% for clade in clades.elements %}
              <tr>
                <td class="hide">
                  {% form_field clade.idField required="required" %}
                  {% form_field clade.lastTouched required="required" %}
                  {% form_field clade.lastEditedBy required="required" %}
                </td>
                <td class="cladeLevel0">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.cladeLevel0 class="form-control" pattern="^[0-9]{0,2}$" %}
                  {% elif clade.cladeLevel0.data %}
                    {{ clade.cladeLevel0.data }}
                  {% endif %}
                </td>
                <td class="level0Name">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.level0Name class="form-control" pattern="^.{0,64}$" %}
                  {% elif clade.level0Name.data %}
                    {{ clade.level0Name.data }}
                  {% endif %}
                </td>
                <td class="cladeLevel1">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.cladeLevel1 class="form-control" pattern="^[0-9]{0,2}$" %}
                  {% elif clade.cladeLevel1.data %}
                    {{ clade.cladeLevel1.data }}
                  {% endif %}
                </td>
                <td class="level1Name">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.level1Name class="form-control" pattern="^.{0,64}$" %}
                  {% elif clade.level1Name.data %}
                    {{ clade.level1Name.data }}
                  {% endif %}
                </td>
                <td class="cladeLevel2">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.cladeLevel2 class="form-control" pattern="^[0-9]{0,2}$" %}
                  {% elif clade.cladeLevel2.data %}
                    {{ clade.cladeLevel2.data }}
                  {% endif %}
                </td>
                <td class="level2Name">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.level2Name class="form-control" pattern="^.{0,64}$" %}
                  {% elif clade.level2Name.data %}
                    {{ clade.level2Name.data }}
                  {% endif %}
                </td>
                <td class="cladeLevel3">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.cladeLevel3 class="form-control" pattern="^[0-9]{0,2}$" %}
                  {% elif clade.cladeLevel3.data %}
                    {{ clade.cladeLevel3.data }}
                  {% endif %}
                </td>
                <td class="level3Name">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.level3Name class="form-control" pattern="^.{0,64}$" %}
                  {% elif clade.level3Name.data %}
                    {{ clade.level3Name.data }}
                  {% endif %}
                </td>
                <td class="cladeName">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.cladeName class="form-control" required="required" style="width: 10em;" %}
                  {% elif clade.cladeName.data %}
                    {{ clade.cladeName.data }}
                  {% endif %}
                </td>
                <td {% if clade.hexColor.data %}
                      style='background-color: #{{ clade.hexColor.data }};'
                    {% endif %}
                    class="hexColor">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.hexColor class="form-control" pattern="[0123456789abcdefABCDEF]{6}" placeholder="c0ffee" style="width: 4.5em;" %}
                  {% elif clade.hexColor.data %}
                    {{clade.hexColor.data}}
                  {% endif %}
                </td>
                <td class="shortName">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.shortName class="form-control" style="width: 3em;" %}
                  {% elif clade.shortName.data %}
                    {{ clade.shortName.data }}
                  {% endif %}
                </td>
                <td class="export">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.export class="form-control" %}
                  {% else %}
                    {% form_field clade.export class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                <td class="taxonsetName">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.taxonsetName class="form-control" pattern="^[^ ]*$" style="width: 10em;" %}
                  {% elif clade.taxonsetName.data %}
                    {{ clade.taxonsetName.data }}
                  {% endif %}
                </td>
                <td class="exportDate">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.exportDate class="form-control" %}
                  {% else %}
                    {% form_field clade.exportDate class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                <td class="atMost">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.atMost class="form-control" pattern="^[0-9]{0,4}$" %}
                  {% elif clade.atMost.data %}
                    {{ clade.atMost.data }}
                  {% endif %}
                </td>
                <td class="atLeast">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.atLeast class="form-control" pattern="^[0-9]{0,4}$" %}
                  {% elif clade.atLeast.data %}
                    {{ clade.atLeast.data }}
                  {% endif %}
                </td>
                <td class="distribution">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.distribution class="form-control distributionSelection" %}
                  {% elif clade.distribution.data %}
                    {{ clade.distribution.data }}
                  {% endif %}
                </td>
                <td class="logNormalOffset reflectDistribution" data-allowed="O">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.logNormalOffset class="form-control" pattern="^[0-9]{0,4}$" disabled="disabled" %}
                  {% elif clade.logNormalOffset.data %}
                    {{ clade.logNormalOffset.data }}
                  {% endif %}
                </td>
                <td class="logNormalMean reflectDistribution" data-allowed="OL">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.logNormalMean class="form-control" pattern="^[0-9]{0,4}$" disabled="disabled" %}
                  {% elif clade.logNormalMean.data %}
                    {{ clade.logNormalMean.data }}
                  {% endif %}
                </td>
                <td class="logNormalStDev reflectDistribution" data-allowed="OL">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.logNormalStDev class="form-control" pattern="^[0-9]{0,4}$" disabled="disabled" %}
                  {% elif clade.logNormalStDev.data %}
                    {{ clade.logNormalStDev.data }}
                  {% endif %}
                </td>
                <td class="normalMean reflectDistribution" data-allowed="N">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.normalMean class="form-control" pattern="^[0-9]{0,4}$" disabled="disabled" %}
                  {% elif clade.normalMean.data %}
                    {{ clade.normalMean.data }}
                  {% endif %}
                </td>
                <td class="normalStDev reflectDistribution" data-allowed="N">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.normalStDev class="form-control" pattern="^[0-9]{0,4}$" disabled="disabled" %}
                  {% elif clade.normalStDev.data %}
                    {{ clade.normalStDev.data }}
                  {% endif %}
                </td>
                <td class="uniformUpper reflectDistribution" data-allowed="U">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.uniformUpper class="form-control" pattern="^[0-9]{0,4}$" disabled="disabled" %}
                  {% elif clade.uniformUpper.data %}
                    {{ clade.uniformUpper.data }}
                  {% endif %}
                </td>
                <td class="uniformLower reflectDistribution" data-allowed="U">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field clade.uniformLower class="form-control" pattern="^[0-9]{0,4}$" disabled="disabled" %}
                  {% elif clade.uniformLower.data %}
                    {{ clade.uniformLower.data }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated and user.is_staff %}
        </form>
      {% endif %}
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
