{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}

{% block title %}
  Cognate {% firstof cognate_class.name cognate_class.id %}
{% endblock %}

{% block top %}
  <h1>Cognate class {% firstof cognate_class.name cognate_class.id %}</h1>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
  {# include "snippets/change_sort_order.html" #}
  {% if user.is_authenticated %}
    <li>
      <a href="{% url 'cognate-class-citation-create' cognate_class.id %}">add citation</a>
    </li>
  {% endif %}
  {% if not cognate_class.name and user.is_authenticated %}
    <li>
      <a href="{% url 'edit-cognate-name' cognate_class.id %}">name this cognate class</a>
    </li>
  {% endif %}
  {% for meaning in cognate_class.get_meanings %}
    <li>
      <a href="{% url 'meaning-report' meaning.gloss %}">return to ‘{{ meaning.gloss }}’</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="row">
      {% if action == 'edit-name' and user.is_authenticated %}
        <form action="" method="POST">
          {% csrf_token %}
          {{ form.name.errors }}
          <strong>Cognate class name:</strong><br>{{ form.name }}
          <input type="submit" name="submit" value="Submit">
          <input type="submit" name="cancel" value="Cancel">
        </form>
      {% else %}
        {% if cognate_class.name %}
          <p align="right">
            Cognate class name: <strong>{{ cognate_class.name }}</strong>
            {% if user.is_authenticated %}
              <a href="{% url 'edit-cognate-name' cognate_class.id %}">
                <img src="{% static 'buttons/edit-pencil.png' %}">
              </a>
            {% endif %}
          {% endif %}
        </p>
      {% endif %}
      {% if action == 'edit-notes' %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Notes</strong>
            </div>
            <div class="panel-body">
              <form action="" method="POST">
                {% csrf_token %}
                {{ form.notes }}
                <br>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                <input type="submit" name="cancel" value="Cancel" class="btn btn-danger">
              </form>
            </div>
          </div>
        </div>
      {% else %}
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Notes</strong>
              {% if user.is_authenticated %}
                <a href="{% url 'edit-cognate-notes' cognate_class.id %}">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
              {% endif %}
            </div>
            <div class="panel-body">
              {{ cognate_class.notes|wikilink }}
            </div>
          </div>
        </div>
      {% endif %}
    {% if cognate_class.cognateclasscitation_set.exists %}
      {% for citation in cognate_class.cognateclasscitation_set.all %}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Citation:
                <a href="{% url 'view-source' citation.source.id %}">
                  {{ citation.source.citation_text|truncatewords:10 }}
                </a>
                Pages:
              </strong>
              {{ citation.pages }}
              <a href="{% url 'cognate-class-citation-detail' citation.id %}" title="View the citation">
                <span class="glyphicon glyphicon-search"></span>
              </a>
              {% if user.is_authenticated %}
                <a href="{% url 'cognate-citation-edit' citation.id %}" title="Edit the citation">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
              {% endif %}
            </div>
            <div class="panel-body">
              {{ citation.comment|wikilink }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Language</th>
            <th>Lexeme</th>
            <th>Phonological</th>
            <th>Meaning</th>
            <th>Notes</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for cj in cj_ordered %} {# cognate_class.cognatejudgement_set.all %} #}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <a href="{% url 'language-report' cj.lexeme.language.id %}">
                  {{ cj.lexeme.language.utf8_name }}
                </a>
              </td>
              <td>{{ cj.lexeme.source_form }}</td>
              <td>{{ cj.lexeme.phon_form }}</td>
              <td>
                <a href="{% url 'meaning-report' cj.lexeme.meaning.gloss %}">{{ cj.lexeme.meaning.gloss }}</a>
              </td>
              <td>{{ cj.lexeme.notes|wikilink }}</td>
              <td>
                {% for rating, description in cj.long_reliability_ratings %}
                  <span class="badge" title="{{ description }}">{{ rating|starrating }}</span>
                {% endfor %}
              </td>
              <td>
                <a href="{% url 'view-lexeme' cj.lexeme.id %}" title="View/edit the lexical entry">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
