{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  Cognate {% firstof cognate_class.name cognate_class.id %}
{% endblock %}

{% block top %}
  <h1>
    Cognate class
    {% if cognate_class.name %}
      {{ cognate_class.name }}
    {% endif %}
    {{ cognate_class.id }}
    {{ cognate_class.alias }}
  </h1>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
  {# include "snippets/change_sort_order.html" #}
{% endblock %}

{% block content %}
  {% include "snippets/deleteCognateClassModal.html" %}
  <div class="row">
    <div class="pull-right">
      {% if user.is_authenticated %}
        <div class="inline"
             data-toggle="tooltip"
             data-placement="bottom"
             title="Delete Cognate Class">
          <button type="button"
                  data-toggle="modal"
                  data-target="#deleteCognateClassModal"
                  class="btn btn-default">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </div>
        <a class="btn btn-default"
           href="{% url 'cognate-class-citation-create' cognate_class.id %}">
          add citation
        </a>
      {% endif %}
      {% for meaning in cognate_class.get_meanings %}
        <a class="btn btn-default"
           href="{% url 'meaning-report' meaning.gloss %}">
          return to ‘{{ meaning.gloss }}’
        </a>
      {% endfor %}
    </div>
    {% if user.is_authenticated %}
      <div class="col-md-9">
        <form class="form-horizontal" name="cognateClassEditForm" method="POST">
          {% csrf_token %}
          {% form_field cognateClassForm.id class="hide" %}
          {% form_field cognateClassForm.lastTouched class="hide" %}
          {% form_field cognateClassForm.lastEditedBy class="hide" %}
          <table><tr valign="top">
            <td width="33%">
              <label class="control-label">Name</label>
              {% form_field cognateClassForm.name class="form-control" placeholder="Name" %}

              <label class="control-label">Notes</label>
              {% form_field cognateClassForm.notes class="form-control" placeholder="Notes" %}

              <label class="control-label">Root reference form</label>
              {% form_field cognateClassForm.root_form  class="form-control" placeholder="Root reference form" %}

              <label class="control-label">Root language</label>
              {% form_field cognateClassForm.root_language  class="form-control" %}

              <div style="width:100px">
                <label class="control-label" style="top:-5px">Loanword?</label>
                {% form_field cognateClassForm.loanword class="pull-right" style="margin-top:12px" %}
              </div>
              <br />
              <label class="control-label">Web Reference</label>
              {% if cognate_class.webRfc %}
                <div class="pull-right" style="margin-top:6px">
                  <a target="_new" href="{{cognate_class.webRfc}}"><span class="glyphicon glyphicon-link"></span></a>
                </div>
              {% endif %}
              {% form_field cognateClassForm.webRfc class="form-control" %}

            </td>
            <td style="padding-left:20px;width:20%">
              <label class="control-label">Loan source</label>
              {% form_field cognateClassForm.loan_source class="form-control" placeholder="" %}

              <label class="control-label">Loan notes</label>
              {% form_field cognateClassForm.loan_notes  class="form-control" placeholder="" %}

              <label class="control-label">Loan event time depth BP</label>
              {% form_field cognateClassForm.loanEventTimeDepthBP class="form-control" %}

              <label class="control-label">Loan source cognate class (id)</label>
              {% if cognate_class.loanSourceCognateClass %}
                <div class="pull-right" style="margin-top:6px">
                  <a target="_new" href="/cognate/{{cognate_class.loanSourceCognateClass_id}}/"><span class="glyphicon glyphicon-link"></span></a>
                </div>
              {% endif %}
              {% form_field cognateClassForm.loanSourceCognateClass class="pull-left form-control" %}

              <div>
                <label class="control-label">Source form in loan language</label>
                {% form_field cognateClassForm.sourceFormInLoanLanguage class="form-control" %}
              </div>

              <div>
                <label class="control-label">Not&nbsp;Proto-Indo-European?</label>
                {% form_field cognateClassForm.notProtoIndoEuropean class="pull-right" style="margin-top:10px" %}
              </div>

              <div class="">
                <label class="control-label">Parallel&nbsp;loan&nbsp;event</label>
                {% form_field cognateClassForm.parallelLoanEvent class="pull-right" style="margin-top:10px" %}
              </div>

              <div>
                <label class="control-label">Parallel&nbsp;derivation?</label>
                {% form_field cognateClassForm.parallelDerivation class="pull-right" style="margin-top:10px" %}
              </div>

              <div>
                <label class="control-label">Ideophonic?</label>
                {% form_field cognateClassForm.ideophonic class="pull-right" style="margin-top:10px" %}
              </div>

              <div>
                <label class="control-label">Dubious set?</label>
                {% form_field cognateClassForm.dubiousSet class="pull-right" style="margin-top:10px" %}
              </div>
            </td>
            <td style="padding-left:20px;width:20%">
                <label class="control-label">Proposed as cognate to (id)</label>
                {% if cognate_class.proposedAsCognateTo %}
                  <div class="pull-right" style="margin-top:6px">
                    <a target="_new" href="/cognate/{{cognate_class.proposedAsCognateTo_id}}/"><span class="glyphicon glyphicon-link"></span></a>
                  </div>
                {% endif %}
                {% form_field cognateClassForm.proposedAsCognateTo class="form-control" %}

                <label class="control-label">Proposed as cognate to scale</label>
                {% form_field cognateClassForm.proposedAsCognateToScale class="form-control" %}

                <br /><br /><br />

                <label class="control-label">Revised by</label>
                {% form_field cognateClassForm.revisedBy class="form-control" %}
                <div>
                  <label class="control-label">Revised yet?</label>
                  {% form_field cognateClassForm.revisedYet class="pull-right" style="margin-top:10px" %}
                </div>
            </td>
          </tr></table>
          <div class="form-group pull-left" style="margin-top:-40px">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit"
                      name="cognateClassEditForm"
                      class="btn btn-danger"
                      title="Save data for cognate class {{cognate_class.id}}">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    {% else %}
      <div class="col-md-9">
        <table>
          <tr valign="top">
            <td>
              <table class="table table-bordered">
                <tbody>
                  {% if cognate_class.name %}
                    <tr>
                      <th>
                        Name
                      </th>
                      <td>
                        {{ cognate_class.name }}
                      </td>
                    </tr>
                  {% endif %}
                  <tr>
                    <th>
                      Root reference form
                    </th>
                    <td>
                      {{ cognate_class.root_form }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Root language
                    </th>
                    <td>
                      {{ cognate_class.root_language }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Gloss in root language
                    </th>
                    <td>
                      {{ cognate_class.gloss_in_root_lang }}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Notes
                    </th>
                    <td>
                      {{ cognate_class.notes|wikilink }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            {% if cognate_class.loanword %}
            <td>
              <table class="table table-bordered">
          <tbody>
            <tr>
              <th>
                Loanword
              </th>
              <td>
                <input type="checkbox"
                       {% if cognate_class.loanword %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control" style="height:100%">
              </td>
            </tr>
            <tr>
              <th>
                Loan source
              </th>
              <td>
                {{ cognate_class.loan_source }}
              </td>
            </tr>
            <tr>
              <th>
                Loan notes
              </th>
              <td>
                {{ cognate_class.loan_notes }}
              </td>
            </tr>
            <tr>
              <th>
                Loan event time depth (BP)
              </th>
              <td>
                {{ cognate_class.loanEventTimeDepthBP }}
              </td>
            </tr>
            <tr>
              <th>
                Source form in loan language
              </th>
              <td>
                {{ cognate_class.sourceFormInLoanLanguage }}
              </td>
            </tr>
            <tr>
              <th>
                Loan source cognate class
              </th>
              <td>
                {% if cognate_class.loanSourceCognateClass_id %}
                <a href="/cognate/{{ cognate_class.loanSourceCognateClass_id }}">{{ cognate_class.loanSourceCognateClass_id }}</a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>
                Parallel loan event
              </th>
              <td>
                <input type="checkbox"
                       {% if cognate_class.parallelLoanEvent %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control" style="height:100%">
              </td>
            </tr>
            <tr>
              <th>
                Not Proto-Indo-European
              </th>
              <td>
                <input type="checkbox"
                       {% if cognate_class.notProtoIndoEuropean %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control" style="height:100%">
              </td>
            </tr>
            <tr>
              <th>
                Parallel derivation
              </th>
              <td>
                <input type="checkbox"
                       {% if cognate_class.parallelDerivation %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control" style="height:100%">
              </td>
            </tr>
            <tr>
              <th>
                Ideophonic
              </th>
              <td>
                <input type="checkbox"
                       {% if cognate_class.ideophonic %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control" style="height:100%">
              </td>
            </tr>
            {% if cognate_class.dubiousSet %}
            <tr>
              <th>
                Dubious set
              </th>
              <td>
                <input type="checkbox"
                       checked="checked"
                       disabled="disabled"
                       class="form-control" style="height:100%">
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
            </td>
            {% endif %}
            {% if cognate_class.proposedAsCognateTo_id %}
            <td>
              <table class="table table-bordered">
            <tr>
              <th>
                Proposed as cognate to
              </th>
              <td>
                <a href="/cognate/{{ cognate_class.proposedAsCognateTo_id }}">{{ cognate_class.proposedAsCognateTo_id }}</a>
              </td>
            </tr>
            <tr>
              <th>
                Proposed as cognate to scale
              </th>
              <td>
                {{ cognate_class.proposedAsCognateToScale }}
              </td>
            </tr>
          </table>
            </td>
            {% endif %}
          </tr>
        </table>
      </div>
    {% endif %}
    <div class="col-md-12" style="border-top:solid lightgray 1px">
      {% if user.is_authenticated %}
        <form action="" method="POST" name="cognateJudgementSplitTable">
          {% csrf_token %}
          <div class="form-group pull-right">
            <a href="." class="btn btn-default">Undo</a>
            <input type="submit" title="Cognate Judgement Split Table" name="cognateJudgementSplitTable"
                   value="Save" class="btn btn-danger">
          </div>
      {% endif %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            {% if user.is_authenticated %}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Check iff an entry should be split into a separate, new cognate class.">
                Split
              </th>
            {% endif %}
            <th>Language</th>
            <th>Lexeme</th>
            <th>Not Swh</th>
            <th>Phonological</th>
            <th>Meaning</th>
            <th>Notes</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for cj in splitTable.judgements %} {# cognate_class.cognatejudgement_set.all %} #}
            <tr>
              <td data-toggle="tooltip"
                  data-placement="top"
                  data-container="body"
                  title="Lexeme Id">
                <a href="/lexeme/{{ cj.object_data.lexeme.id }}">
                  {{ cj.object_data.lexeme.id }}
                </a>
                {% if user.is_authenticated %}
                  {% form_field cj.idField class="hide" required="required" %}
                  {% form_field cj.lastTouched class="hide" required="required" %}
                  {% form_field cj.lastEditedBy class="hide" required="required" %}
                {% endif %}
              </td>
              {% if user.is_authenticated %}
                <td>
                  {% form_field cj.splitOff class="form-control" %}
                </td>
              {% endif %}
              <td>
                <a href="{% url 'language-report' cj.object_data.lexeme.language.id %}">
                  {{ cj.object_data.lexeme.language.utf8_name }}
                </a>
              </td>
              <td>{{ cj.object_data.lexeme.romanised }}</td>
              <td>
                <input type="checkbox"
                       {% if cj.object_data.lexeme.not_swadesh_term %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control">
              </td>
              <td>{{ cj.object_data.lexeme.phon_form }}</td>
              <td class="nowrap">
                <div class="inline"
                     style="font-size: 15px; color: #006400;">
                  {{ cj.object_data.lexeme.meaning.gloss }}
                </div>
                <a href="{% url 'meaning-report' cj.object_data.lexeme.meaning.gloss %}">
                  <img src="{% static '1w.png' %}"
                       alt="Open 1 meaning all languages view for this meaning." />
                </a>
                <a href="/meaning/{{ cj.object_data.lexeme.meaning.gloss }}/cognateclasslist/">
                  <img src="{% static '1c.png' %}"
                       alt="Open 1 meaning all cognate sets view for this meaning." />
                </a>
              </td>
              <td>{{ cj.object_data.lexeme.notes|wikilink }}</td>
              <td>
                {% for rating, description in cj.object_data.long_reliability_ratings %}
                  {% if rating %}
                    <span class="badge" title="{{ description }}">
                      {{ rating|starrating }}
                    </span>
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                <a href="{% url 'view-lexeme' cj.object_data.lexeme.id %}" title="View/edit the lexical entry">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.is_authenticated %}
        </form>
      {% endif %}
    </div>
    {% if cognate_class.cognateclasscitation_set.exists %}
      {% for citation in cognate_class.cognateclasscitation_set.all %}
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Citation:
                <a href="{% url 'view-source' citation.source.id %}">
                  {{ citation.source.shorthand}}
                </a>
                Pages:
              </strong>
              {{ citation.pages }}
              <a href="{% url 'cognate-class-citation-detail' citation.id %}" title="View the citation">
                <span class="glyphicon glyphicon-search"></span>
              </a>
              {% if user.is_authenticated %}
                <a href="{% url 'cognate-citation-edit' citation.id %}" title="Edit the citation">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
              {% endif %}
              {% if user.is_authenticated %}
                <form action="" method="POST" name="deleteCitation" class="inline">
                  {% csrf_token %}
                  <input type="text"
                         class="hide"
                         name="citationId"
                         value="{{ citation.id }}">
                  <div class="inline"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Delete this citation">
                    <button type="submit"
                            name="deleteCitation"
                            class="btn btn-xs btn-danger"
                            onclick="return confirm('Are you sure that you want to delete this citation?')">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                  </div>
                </form>
              {% endif %}
            </div>
            <div class="panel-body">
              {{ citation.comment|wikilink }}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
