{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Semantic domains{% endblock %}

{% block top %}
<h1>
  Semantic domains
</h1>
{% endblock %}


{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  {% for domain in domains %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>
      <a href="{% url 'view-semantic-domain' domain.name %}">{{ domain.name }}</a>
    </td>
    <td>{{ domain.description|truncatewords_html:10 }}</td>
    {% if user.is_authenticated and domain.name != domain.DEFAULT %}
    <td>
      <a href="{% url 'edit-semantic-domain' domain.name %}">
        <img src="{% static 'buttons/edit.png' %}" alt="edit" title="Edit {{ domain.name }} metadata" />
      </a>
    </td>
    <td>
      <a href="{% url 'delete-semantic-domain' domain.name %}">
        <img src="{% static 'buttons/delete.png' %}" alt="edit" title="Delete list {{ domain.name }}" />
      </a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block controls %}
{# prev-next lexeme by domain #}
{% include "snippets/go_to.html" %}
<ul class="navigation">
  <li><a href="{% url 'add-semantic-domain' %}">Add new semantic domain</a></li>
</ul>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
