{% extends "base.html" %}
{# previously named: edit_language_semantic_domain.html #}

{% block title %}Semantic domain{% endblock %}

{% block top %}
<h1>
  {{ language.utf8_name }} ― {{ domain }}
</h1>
{% endblock %}


{% block content %}
<table>
  <tr>
    <th>Relation</th>
    <th>Source form</th>
    <th>Phon. form</th>
    <th></th>
  </tr>
  {% for semantic_extension in semantic_extensions %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ semantic_extension.relation.relation_code }}</td>
    <td>{{ semantic_extension.lexeme.source_form }}</td>
    <td>{{ semantic_extension.lexeme.phon_form }}</td>
    <td>
       <a href="{% url view-lexeme semantic_extension.lexeme.id %}">
         <img src="/media/buttons/view.png" alt="View" title="View lexeme" />
       <a>
       <a href="{% url view-lexeme-extensions semantic_extension.lexeme.id domain %}">
         <img src="/media/buttons/edit.png" alt="View/edit semantic extensions" title="View/edit semantic extensions" />
       <a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block controls %}
{# prev-next lexeme by domain #}
{% include "snippets/go_to.html" %}
<ul class="navigation">
  <li><a href="/language/{{ language.ascii_name }}">Back to language list ‘{{ language.utf8_name }}’</a></li>
</ul>

{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
