{% extends "base.html" %}

{% block title %}IELEX{% endblock %}

{% block top %}
<h1>INDO-EUROPEAN LEXICAL COGNACY DATABASE</h1>
{% endblock %}

{% block content %}
<p> The database contains:
<table>
	<tr class="odd">
		<td>Languages</td>
		<td class="rightalign">{{ languages }}</td>
	</tr>
	<tr class="even">
		<td>Words</td>
		<td class="rightalign">{{ lexemes }}</td>
	</tr>
	<tr class="odd">
		<td>Coded characters</td>
		<td class="rightalign">{{ coded_characters }}</td>
	</tr>
	<tr class="even">
		<td>Meanings</td>
		<td class="rightalign">{{ meanings }}</td>
	</tr>
	<tr class="odd">
		<td>Cognate Sets</td>
		<td class="rightalign">{{ cognate_classes }}</td>
	</tr>
</table>
</p>

{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}
<ul>
  <li>Export <a href="/nexus/">NEXUS file</a></li>
</ul>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
