{% extends "base.html" %}
{# used by CognateClassCitationCreateView #}
{# TODO use with other create citation views #}

{% block title %}{{ title }}{% endblock %}

{% block top %}
<h1>{{ heading }}</h1>
{% endblock %}

{% block content %}
<form action="" method="POST">{% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" name="submit" value="Submit" /> 
  <a class="button" href="{{ cancel_dest }}"><input type="submit" name="cancel" value="Cancel" /></a>
</form>
{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
