 /* CLASS DEFINITIONS */
body { font-family: sans-serif }
p.help { text-size: small }
tr.even { background: #cf9 }
tr.odd { background: #ccc }
td.rightalign { text-align: right }
li {
  margin: 0px;
  padding: 0px
}

/* ID DEFINITIONS */
#container {
  width: 99%;
  margin: 10px auto;
  background-color: #fff;
  color: #333;
  border: 1px solid gray;
}

#top {
  padding: .5em;
  background-color: #cf9;
  border-bottom: 1px solid gray;
}

#top h1 {
  letter-spacing: 3px;
  padding: 6px;
  margin: 0;
}

#content {
  margin-right: 26%;
  padding: 1%;
  border-right: 1px solid gray;
}

#controls {
  float: right;
  width: 24%;
  padding: 1%;
}

#footer {
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid gray;
}

#debug {
  padding: 3px;
  background-color: #ccc;
  border: 2px dashed #306;
}
