{% extends "base.html" %}
{% load lexicon_utils %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}Language list ‘{{ current_language_list_name }}’{% endblock %}

{% block top %}<h1>Language list ‘{{ current_language_list_name }}’</h1>{% endblock %}

{% block content %}
  {% if user.is_authenticated and user.is_staff %}
    <form action="" method="POST" name="langlist_ed_form" >
      {% csrf_token %}
      <div class="langlist_form">
        <input type="submit" value="Submit" name="langlist_form">
        <br>
        <a href="{% url 'view-language-list' current_list.name %}"> undo</a>
        <br>
      </div>
      <table class="widetable" id="editable">
        <thead> {# handy for the print view #}
          <tr class="mid-align">
            <th></th>
            <th>Name</th>
            <th>Variety</th>
            <th title="(#lexemes - #meanings)">Too<br>many</th>{# Lex.-Mgs #}
            <th title="Number of meanings">Mgs</th>{# Number of meanings per language #}
            <th title="Number of lexemes">Lex.</th>{# Number of lexemes per language #}
            <th title="Number of entries">Entd</th>{# Number of entries per language #}
            <th title="Representative">Rep.</th>
            <th>Foss.<br>Stat.</th>
            <th>Low.<br>Stat.</th>
            <th>ISO</th>
            <th>Glotto</th>
            <th title="Level 0 branch">Lv 0</th>
            <th title="Level 1 branch">Lv 1</th>
            <th title="Level 2 branch">Lv 2</th>
            <th>SndComp<br>code</th>
            <th title="Mean time depth (yrs)">Mean TD (yrs)</th>
            <th title="Std Dev. time depth (yrs)">Std Dev. (yrs)</th>
            <th></th>
            <th>This Lg lex rfc web path 1</th>
            <th>This Lg lex rfc web path 2</th>
            <th>Author</th>
            <th>Reviewer</th>
          </tr>
        </thead>
        <tbody>
          {% for language in lang_ed_form.langlist %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                <a href="{% url 'language-report' language.ascii_name.data %}" alt="view lexeme list"
                  title="View wordlist list for {{ language.utf8_name.data }}">
                  {% form_field language.ascii_name class="language_name" %}
                </a>
              </td>
              <td>{% form_field language.variety %}</td>
              <td>{% form_field language.excess_count class="readonlynarrow" id="narrowtext" %}</td>
              <td>{% form_field language.mgs_count class="readonlynarrow" id="narrowtext" %}</td>
              <td>{% form_field language.lex_count class="readonlynarrow" id="narrowtext" %}</td>
              <td>{% form_field language.entd_count class="readonlynarrow" id="narrowtext" %}</td>
              <td>
                <div class="centralised_checkbox">
                  {% form_field language.representative %}
                </div>
              </td>
              <td>{% form_field language.foss_stat onclick="MutexCheckbox(this)" class="MutexCheckbox" %}</td>
              <td>{% form_field language.low_stat onclick="MutexCheckbox(this)" class="MutexCheckbox" %}</td>
              <td>
                <a href="http://en.wikipedia.org/wiki/ISO_639:{{ language.iso_code.data }}" target="_blank">
                  {% form_field language.iso_code class="hyperformfield" id="verynarrowtext" %}
                </a>
              </td>
              <td>
                {% if language.data.glottocode %}
                  <a href="http://glottolog.org/resource/languoid/id/{{ language.data.glottocode }}" target="_blank">
                    {% form_field language.glottocode id="lowmediumtext" class="hyperformfield" %}
                  </a>
                {% else %}
                  {% form_field language.glottocode id="lowmediumtext" %}
                {% endif %}
              </td>
              <td>{% form_field language.level0 class="languageBranch" %}</td>
              <td>{% form_field language.level1 class="languageBranch" %}</td>
              <td>{% form_field language.level2 class="languageBranch" %}</td>
              <td>{% form_field language.soundcompcode %}</td>
              <td>{% form_field language.mean_timedepth_BP_years %}</td>
              <td>{% form_field language.std_deviation_timedepth_BP_years %}</td>
              <td>
                <a href="{% url 'language-edit' language.ascii_name.data %}">
                  <img src="{% static 'buttons/edit.png' %}" alt="edit" title="Edit {{ language.utf8_name.data }} metadata" >
                </a>
              </td>
              <td>{% form_field language.rfcWebPath1 %}</td>
              <td>{% form_field language.rfcWebPath2 %}</td>
              <td>{% form_field language.author %}</td>
              <td>{% form_field language.reviewer %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
	  </form>
  {% else %}
    <table>
      <thead> {# handy for the print view #}
        <tr>
          <th></th>
          <th>Name</th>
          <th>ISO-639-3</th>
          <th>Lexemes</th>
        </tr>
      </thead>
      <tbody>
        {% for language in languages %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>
              <small>{{ forloop.counter }}</small>
            </td>
            <td>
              {% if user.is_authenticated %}
                <a href="{% url 'language-edit' language.ascii_name %}">
                  <img src="{% static 'buttons/edit.png' %}" alt="edit" title="Edit {{ language.utf8_name }} metadata">
                </a>
              {% endif %}
              <a href="{% url 'language-report' language.ascii_name %}" alt="view lexeme list" title="View wordlist list for {{ language.utf8_name }}">
                {{ language.utf8_name }}
              </a>
            </td>
            <td>
              <a href="http://www.ethnologue.com/language/{{ language.iso_code }}" target="_blank">
                {{ language.iso_code }}
              </a>
            </td>
            <td>
              {{ language.lexeme_count }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {# TODO REDESIGN THIS #}
  <p>
    <form action="" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>Controls</legend>
        <table>
          {{ language_list_form.as_table }}
        </table>
        {% if current_list.description %}
          <b>Description:</b> {{ current_list.description }}
        {% endif %}
      </fieldset>
    </form>
  </p>
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
  {# include "snippets/change_sort_order.html" #}
  {% if user.is_authenticated %}
    <li>
      <a href="{% url 'language-add-new' current_language_list_name %}">new language</a>
    </li>
    <li>
      <a href="{% url 'add-language-list' %}">new language list</a>
    </li>
    <li>
      <a href="{% url 'edit-language-list' current_language_list_name %}">
        edit language list ‘{{ current_language_list_name }}’
      </a>
    </li>
    <li>
      <a href="{% url 'reorder-language-list' current_language_list_name %}">
        edit sort order ‘{{ current_language_list_name }}’
      </a>
    </li>
  {% endif %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
