{% extends "base.html" %}

{% block title %}Word list report: {{ language.utf8_name }}{% endblock %}

{% block top %}<h1>{{ language.utf8_name }}</h1>{% endblock %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Meaning</th>
    <th>Source Form</th>
    <th>Phonological Form</th>
    <th>Cognate Set</th>
  </tr>
  {% for lexeme in lexemes %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ lexeme.meaning.id }}</a></td>
    <td><a href="{% url meaning-report lexeme.meaning.id %}">{{ lexeme.meaning.gloss }}</a></td>
    <td>{{ lexeme.source_form }}</td>
    <td>{{ lexeme.phon_form }}</td>
    <td>{% for cogset in lexeme.cognate_class.all %}{{ cogset.alias }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
    <td>
     <a href="{% url lexeme-report lexeme.id %}">
       <img src="/media/buttons/view.png" alt="View" title="View detailed information on lexeme" /><a>
     <a href="/lexeme/{{ lexeme.id }}/edit-lexeme/">
       <img src="/media/buttons/edit.png" alt="Edit" title="Edit lexeme" /><a>
    </td>
  </tr>
  {% endfor %}
</table>
<p>Count: {{ lexemes|length }}</p>
{% endblock %}


{% block controls %}
<ul>
  <li><a href="/language/{{ language.ascii_name }}/edit/">Edit</a> entry for 
    {{ language.utf8_name }}</li>
</ul>
{% include "snippets/go_to.html" %}
{% endblock %}

{# vim: set ft=htmldjango: #}
