{% extends "base.html" %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}{{ language.utf8_name }} ({{ wordlist }}){% endblock %}

{% block top %}<h1>{{ language.utf8_name }} ({{ wordlist }})</h1>{% endblock %}

{% block content %}


  {% if user.is_authenticated %}
  <form action="" method="POST" name="lex_ed_form" id="lex_ed_form_copyacross" >{% csrf_token %}
			
	<div class="lex_form">
		<input type="submit" value="Submit" name="lex_form"> <br> <a href="{% url 'view-language-wordlist' language.ascii_name wordlist.name %}"> undo</a><br>
	</div>
  
	<table class="widetable" id="editable">
	
	  <tr class="mid-align">
	  	<th class="hidden"></th>
	    <th>ID</th>
	    <th>Meaning</th>
	    <th>Orthographic</th>
	    <th></th>
	    <th>Transliteration</th>
	    <th>Not<br>Swh<br>
		</th>
	    <th>PhoneMic</th>
	    <th></th>
	    <th>PhoneTic</th>
	    <th alt="Language specific">Gloss</th>
	    <th>Notes</th>
		<th>Root</th>
		<th alt="Number of cognate classes">nCog</th>
	    <th></th>
	  </tr>
	  {% for lexeme in lex_ed_form.lexemes %}
	  {# if lexeme.meaning.data #}
	    <tr>
	  	  <td class="hidden">{{ lexeme.id }}</td>
	      <td class="narrow">{% form_field lexeme.meaning_id class="readonlynarrow" id="narrowtext" %}</td>
	      <td><a href="{% url 'meaning-report' lexeme.meaning_id.data %}">{% form_field lexeme.meaning class="readonly" id="linked" %}</a></td>
	      <td>{% form_field lexeme.source_form id="source_form" class="mediumtext" %}</td>
	      <td>
	      	<div>
	      		<input class="leftcheckarrow" type="checkbox" id="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}" onclick="CopyAcross(this)"><label class="left" for="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}"></label>
				<input class="rightcheckarrow" type="checkbox" id="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}" onclick="CopyAcross(this)"><label class="right" for="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}"></label>
			</div>
	      </td>
	      <td>{% form_field lexeme.transliteration id="transliteration" class="mediumtext" %}</td>
	      <td>{% form_field lexeme.not_swadesh_term %}</td>
	      <td>{% form_field lexeme.phoneMic id="phoneMic" class="mediumtext" %}</td>
	      <td>
	      	<div>
	      		<input class="leftcheckarrow" type="checkbox" id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}" onclick="CopyAcross(this)"><label class="left" for="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"></label>
		      	<input class="rightcheckarrow" type="checkbox" id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}" onclick="CopyAcross(this)"><label class="right" for="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"></label>
			</div>
		  </td>
	      <td>{% form_field lexeme.phon_form id="phoneTic" class="mediumtext" %}</td>
	      <td class="widetext">{% form_field lexeme.gloss class="widetext" id="widetext" %}</td>
	      <td class="widetext">{% form_field lexeme.notes class="widetext" id="widetext" %}</td>
		  <td>{% form_field lexeme.root_form class="mediumtext" id="rootform" %}</td>
	      <td class="narrow">
		        {% form_field lexeme.number_cognate_coded id="narrowtext"class="readonlynarrow" %}
		  </td>
		  <td>
	        <a href="{% url 'view-lexeme' lexeme.id.data %}">
	          <img src="{% static 'buttons/view.png' %}" alt="View" title="View detailed information on lexeme" />
	          </a>
	      </td>
	    </tr>
	    {# endif #}
	  {% endfor %}
	  </table>
	  </form>
  {% else %}
  <table class="widetable">
		<tr>
		    <th>ID</th>
		    <th>Meaning</th>
		    <th>Source Form</th>
		    <th>Phonological Form</th>
		    <th alt="Language specific">Gloss</th>
		    <th>Notes</th>
		    <th alt="Number of cognate classes">nCog</th>
		</tr>
  		{% for lexeme in lexemes %}
		  {# if lexeme.meaning #}
		    <tr class="{% cycle 'odd' 'even' %}">
		      <td>{{ lexeme.meaning.id }}</a></td>
		    <td>{% if lexeme.meaning %}<a href="{% url 'meaning-report' lexeme.meaning.id %}">{{ lexeme.meaning.gloss }}</a>{% endif %}</td>
		      <td>{{ lexeme.source_form }}</td>
		      <td>{{ lexeme.phon_form }}</td>
		      <td>{{ lexeme.gloss }}</td>
		      <td>{{ lexeme.notes|truncatewords:5 }}</td>
		      <td>
		        <a href="{% url 'view-lexeme' lexeme.id %}">
		          <img src="{% static 'buttons/view.png' %}" alt="View" title="View detailed information on lexeme" />
		          <a>
		        {{ lexeme.number_cognate_coded }}
		      </td>
		    </tr>
		    {# endif #}
		  {% endfor %}  		
	</table>
  {% endif %}
<p>Count: {{ lexemes|length }}</p>
{% endblock %}


{% block controls %}
{% include "snippets/prev_next_language.html" %}
{% include "snippets/go_to.html" %}
<strong>{{ language.utf8_name }}:</strong>
<ul class="navigation">
  <li><a href="{% url 'language-edit' language.ascii_name %}">edit language entry</a></li>
  <li><a href="{% url 'language-add-lexeme' language.ascii_name %}">add a new lexeme</a></li>
  {% if semantic_domains %}
    <li><a href="{% url 'language-domains-list' language.ascii_name %}">view semantic domains</a></li>
  {% endif %}
</ul>
{% if language.description %}
<small>
<fieldset><legend><em>Description</em></legend>
  {{ language.description }}
</fieldset>
</small>
{% endif %}

<form action="" method="GET">
    {{ filt_form }} <input type="submit" value="Filter">
</form>

<p>
<form action="" method="POST" name="wordlist_form">{% csrf_token %}
<input class="hidden" value="change-wordlist" name="changewordlist">
<fieldset>
<legend>Change wordlist<legend>
<table>
{{ wrdlst_form.as_table }}
</table>
<p class="help">Limit all results to a predefined set of meanings</p>
</fieldset>
</form>
</p>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
