{% extends "base.html" %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  {{ language.utf8_name }} ({{ wordlist }})
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  <li class="navbar-text">
    List:
  </li>
  <li class="navbar-text dropdown"
      title="Select meaning list"
      data-toggle="tooltip"
      data-placement="bottom">
    <button class="btn btn-default dropdown-toggle"
            type="button" id="meaningListSelection"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
            style="padding: 0px;">
      {{ wordlist.name }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="meaningListSelection"
        style="overflow-y: scroll; height: 23em;">
      {% for m in otherMeaningLists %}
        <li>
          <a href="{% url 'view-language-wordlist' language.ascii_name m.name %}">
            {{ m.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
  {% include "snippets/go_to.html" %}
  {% if semantic_domains %}
    <li>
      <a href="{% url 'language-domains-list' language.ascii_name %}">view semantic domains</a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated %}
      <form action="" method="POST" name="lex_ed_form" id="lex_ed_form_copyacross">
        {% csrf_token %}
        <div class="form-group pull-right">
          <span class="badge important">{{ lexemes|length }}</span>
          <a href="{% url 'language-add-lexeme' language.ascii_name %}"
             class="btn btn-default space-right"
             data-toggle="tooltip" data-placement="top"
             title="add a new lexeme">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
          <a href="{% url 'view-language-wordlist' language.ascii_name wordlist.name %}" class="btn btn-default">Undo</a>
          <input type="submit" value="Save" name="lex_form" class="btn btn-danger">
        </div>
      {% endif %}
        {% include "snippets/prev_next_language.html" %}
        <table class="table table-condensed viewTableFilter"
               id="viewLanguageMeanings">
          <thead>
            <tr>
              {% include "language_wordlist/id_title.html" %}
              {% include "language_wordlist/meaning_title.html" %}
              {% include "language_wordlist/sourceform_title.html" %}
              {% include "language_wordlist/viewcopy_title.html" %}
              {% include "language_wordlist/transliteration_title.html" %}
              {% include "language_wordlist/notswadesh_title.html" %}
              {% include "language_wordlist/isloan_title.html" %}
              {% include "language_wordlist/isexcluded_title.html" %}
              {% include "language_wordlist/loanevent_title.html" %}
              {% include "language_wordlist/rootform_title.html" %}
              {% include "language_wordlist/rootlanguage_title.html" %}
              {% include "language_wordlist/ncog_title.html" %}
              {% include "language_wordlist/phonemic_title.html" %}
              {% include "language_wordlist/phonecopy_title.html" %}
              {% include "language_wordlist/phonetic_title.html" %}
              {% include "language_wordlist/gloss_title.html" %}
              {% include "language_wordlist/notes_title.html" %}
              {% include "language_wordlist/weblookup_title.html" %}
              {% include "language_wordlist/dubious_title.html" %}
            </tr>
            <tr>
              {% include "language_wordlist/id_filter.html" %}
              {% include "language_wordlist/meaning_filter.html" %}
              {% include "language_wordlist/sourceform_filter.html" %}
              {% include "language_wordlist/viewcopy_filter.html" %}
              {% include "language_wordlist/transliteration_filter.html" %}
              {% include "language_wordlist/notswadesh_filter.html" %}
              {% include "language_wordlist/isloan_filter.html" %}
              {% include "language_wordlist/isexcluded_filter.html" %}
              {% include "language_wordlist/loanevent_filter.html" %}
              {% include "language_wordlist/rootform_filter.html" %}
              {% include "language_wordlist/rootlanguage_filter.html" %}
              {% include "language_wordlist/ncog_filter.html" %}
              {% include "language_wordlist/phonemic_filter.html" %}
              {% include "language_wordlist/phonecopy_filter.html" %}
              {% include "language_wordlist/phonetic_filter.html" %}
              {% include "language_wordlist/gloss_filter.html" %}
              {% include "language_wordlist/notes_filter.html" %}
              {% include "language_wordlist/weblookup_filter.html" %}
              {% include "language_wordlist/dubious_filter.html" %}
            </tr>
          </thead>
          <tbody>
            {% for lexeme in lex_ed_form.lexemes %}
              <tr class="content_row"
                  data-lexemeid="{{ lexeme.data.meaning_id }}">
                {% include "language_wordlist/id_data.html" %}
                {% include "language_wordlist/meaning_data.html" %}
                {% include "language_wordlist/webpath_data.html" %}
                {% include "language_wordlist/sourceform_data.html" %}
                {% include "language_wordlist/viewcopy_data.html" %}
                {% include "language_wordlist/transliteration_data.html" %}
                {% include "language_wordlist/notswadesh_data.html" %}
                {% include "language_wordlist/isloan_data.html" %}
                {% include "language_wordlist/isexcluded_data.html" %}
                {% include "language_wordlist/loanevent_data.html" %}
                {% include "language_wordlist/cogclassids_data.html" %}
                {% include "language_wordlist/rootform_data.html" %}
                {% include "language_wordlist/rootlanguage_data.html" %}
                {% include "language_wordlist/ncog_data.html" %}
                {% include "language_wordlist/phonemic_data.html" %}
                {% include "language_wordlist/phonecopy_data.html" %}
                {% include "language_wordlist/phonetic_data.html" %}
                {% include "language_wordlist/gloss_data.html" %}
                {% include "language_wordlist/notes_data.html" %}
                {% include "language_wordlist/weblookup_data.html" %}
                {% include "language_wordlist/dubious_data.html" %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
