{% extends "base.html" %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  {{ language.utf8_name }} ({{ wordlist }})
{% endblock %}

{% block top %}
  <div class="row">
    <div class="col-md-3">
      <h1 {% if language.description %}data-toggle="tooltip" data-placement="bottom" title="{{ language.description }}"{% endif %}>
        {{ language.utf8_name }} ({{ wordlist }})
        <a href="{% url 'language-add-lexeme' language.ascii_name %}"
           class="btn btn-default btn-xs"
           data-toggle="tooltip" data-placement="top"
           title="add a new lexeme">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
        <span class="badge">{{ lexemes|length }}</span>
      </h1>
    </div>
    <div class="col-md-4">
      {% include "snippets/prev_next_language.html" %}
    </div>
  </div>
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
  {% if semantic_domains %}
    <li>
      <a href="{% url 'language-domains-list' language.ascii_name %}">view semantic domains</a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <form action="" method="POST" name="wordlist_form">
        {% csrf_token %}
        <input class="hidden" value="change-wordlist" name="changewordlist">
        <div class="form-group">
          <table>
            {{ wrdlst_form.as_table }}
          </table>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form class="form-inline">
        <div class="form-group">
          <label for="excludeButton">Filter out non-Swadesh terms:</label>
          <input name="excludeButton" type="submit" value="Filter" id="filter_non_swadesh" onclick="ExcludeRows()" class="btn btn-default">
        </div>
      </form>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-12">
        <form action="" method="POST" name="lex_ed_form" id="lex_ed_form_copyacross">
          {% csrf_token %}
          <div class="form-group">
            <label for="langlist_form">Save table?</label>
            <a href="{% url 'view-language-wordlist' language.ascii_name wordlist.name %}" class="btn btn-danger"> undo</a>
            <input type="submit" value="Submit" name="lex_form" class="btn btn-primary">
          </div>
          <table class="table table-striped table-condensed" id="editable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Meaning</th>
                <th></th>
                <th>Orthographic</th>
                <th colspan="3"></th>
                <th>Transliteration</th>
                <th>Not<br>Swh<br></th>
                <th>PhoneMic</th>
                <th colspan="2"></th>
                <th>PhoneTic</th>
                <th alt="Language specific">Gloss</th>
                <th>Notes</th>
                <th>loan</th>
                <th>excl</th>
                <th>Loan<br>Event</th>
                <th></th>
                <th>Root</th>
                <th alt="Number of cognate classes">nCog</th>
                <th></th>
                <th>Web dict ID 1</th>
                <th></th>
                <th>Web dict ID 2</th>
                <th>Dubious</th>
              </tr>
            </thead>
            <tbody>
              {% for lexeme in lex_ed_form.lexemes %}
                <tr class="content_row">
                  <td class="hide">{{ lexeme.id }}</td>
                  <td>{{ lexeme.data.meaning_id }}</td>
                  <td>
                    <a href="{% url 'meaning-report' lexeme.meaning_id.data %}">
                      {{ lexeme.data.meaning }}
                    </a>
                  </td>
                  <td>
                    <a href="https://github.com/lingdb/IELex2-CognaC/wiki/{{ lexeme.data.meaning }}"
                       title="View wiki page." target="_blank">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  </td>
                  <td>{% form_field lexeme.source_form id="source_form" class="form-control" %}</td>
                  <td>
                    <a href="{% url 'view-lexeme' lexeme.id.data %}" title="View detailed information on lexeme">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
                  </td>
                  <td>
                    <button class="leftcheckarrow btn btn-xs"
                            id="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs"
                            id="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                  </td>
                  <td>{% form_field lexeme.transliteration id="transliteration" class="form-control" %}</td>
                  <td>{% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" %}</td>
                  <td>{% form_field lexeme.phoneMic id="phoneMic" size="8" class="form-control" %}</td>
                  <td>
                    <button class="leftcheckarrow btn btn-xs inline"
                            id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs inline"
                            id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                  </td>
                  <td>{% form_field lexeme.phon_form id="phoneTic" size="8" class="form-control" %}</td>
                  <td>{% form_field lexeme.gloss size="8" class="form-control" %}</td>
                  <td>{% form_field lexeme.notes class="form-control" %}</td>
                  <td>{% form_field lexeme.is_loan disabled="disabled" class="form-control" %}</td>
                  <td>{% form_field lexeme.is_excluded disabled="disabled" class="form-control" %}</td>
                  <td>
                    {% if lexeme.object_data.show_loan_event %}
                      {% form_field lexeme.loan_event disabled="disabled" class="form-control" %}
                    {% endif %}
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs"
                            id="src2root#{{lexeme.source_form.name}}#{{lexeme.root_form.name}}"
                            onclick="CopyAcross(this)">
                      <strong>O</strong>
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                  </td>
                  <td>{% form_field lexeme.root_form class="form-control" id="rootform" %}</td>
                  <td class="narrow">
                    <span class="badge">{{ lexeme.data.number_cognate_coded }}</span>
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs"
                            id="src2root#{{lexeme.source_form.name}}#{{lexeme.rfcWebLookup1.name}}"
                            onclick="CopyAcross(this)">
                      <strong>O</strong>
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                  </td>
                  <td>
                    {% form_field lexeme.rfcWebLookup1 class="form-control" %}
                    {% if lexeme.object_data.rfcWebPath1 and lexeme.data.rfcWebLookup1 %}
                      <a href="{{ lexeme.object_data.rfcWebPath1 }}{{ lexeme.data.rfcWebLookup1 }}" target="_blank">
                        <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                    {% endif %}
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs"
                            id="src2root#{{lexeme.source_form.name}}#{{lexeme.rfcWebLookup2.name}}"
                            onclick="CopyAcross(this)">
                      <strong>O</strong>
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                  </td>
                  <td>
                    {% form_field lexeme.rfcWebLookup2 class="form-control" %}
                    {% if lexeme.object_data.rfcWebPath2 and lexeme.data.rfcWebLookup2 %}
                      <a href="{{ lexeme.object_data.rfcWebPath2 }}{{ lexeme.data.rfcWebLookup2 }}" target="_blank">
                        <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                    {% endif %}
                  </td>
                  <td>{% form_field lexeme.dubious class="form-control" %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
          <tr>
            <th>ID</th>
            <th>Meaning</th>
            <th>Source Form</th>
            <th>Phonological Form</th>
            <th alt="Language specific">Gloss</th>
            <th>Notes</th>
            <th alt="Number of cognate classes">nCog</th>
          </tr>
          {% for lexeme in lexemes %}
            <tr class="{% cycle 'odd' 'even' %}">
              <td>{{ lexeme.meaning.id }}</a></td>
              <td>
                {% if lexeme.meaning %}
                  <a href="{% url 'meaning-report' lexeme.meaning.id %}">{{ lexeme.meaning.gloss }}</a>
                {% endif %}
              </td>
              <td>{{ lexeme.source_form }}</td>
              <td>{{ lexeme.phon_form }}</td>
              <td>{{ lexeme.gloss }}</td>
              <td>{{ lexeme.notes|truncatewords:5 }}</td>
              <td>
                <a href="{% url 'view-lexeme' lexeme.id %}">
                  <img src="{% static 'buttons/view.png' %}" alt="View" title="View detailed information on lexeme">
                </a>
                {{ lexeme.number_cognate_coded }}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
