{% extends "base.html"%}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Language Branches
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated and user.is_staff %}
        <form action="" method="POST" name="languageBranches">
          {% csrf_token %}
          <div class="form-group pull-right">
            <a href="/languageBranches/" class="btn btn-default">Undo</a>
            <input type="submit" value="Save" class="btn btn-danger">
          </div>
          <table class="table table-condensed viewTableFilter">
            <thead>
              <tr>
                <th>Level 1 branch ix</th>
                <th>Family ix</th>
                <th>Branch name</th>
                <th>Color (hex)</th>
              </tr>
              <tr>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".family_ix input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".family_ix input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".level1_branch_ix input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level1_branch_ix input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".level1_branch_name input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level1_branch_name input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".hexColor input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".hexColor input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for branch in branches.elements %}
                <tr>
                  <td class="hide">
                    {% form_field branch.idField required="required" %}
                  </td>
                  <td class="family_ix">
                    {% form_field branch.family_ix class="form-control" required="required" pattern="[0-9]+" %}
                  </td>
                  <td class="level1_branch_ix">
                    {% form_field branch.level1_branch_ix class="form-control" required="required" pattern="[0-9]+" %}
                  </td>
                  <td class="level1_branch_name">
                    {% form_field branch.level1_branch_name class="form-control" required="required" %}
                  </td>
                  <td {% if branch.hexColor.data %}
                          style='background-color: #{{ branch.hexColor.data }};'
                      {% endif %}
                      class="hexColor">
                    {% form_field branch.hexColor class="form-control" pattern="[0123456789abcdefABCDEF]{6}" placeholder="c0ffee" %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      {% else %}
        <table class="table table-condensed viewTableFilter">
          <thead>
            <tr>
              <th>Level 1 branch ix</th>
              <th>Family ix</th>
              <th>Branch name</th>
              <th>Color (hex)</th>
            </tr>
            <tr>
              <th>
                <input type="text" class="filterText form-control narrow"
                       data-selector=".family_ix">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".family_ix">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </th>
              <th>
                <input type="text" class="filterText form-control narrow"
                       data-selector=".level1_branch_ix">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".level1_branch_ix">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </th>
              <th>
                <input type="text" class="filterText form-control narrow"
                       data-selector=".level1_branch_name">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".level1_branch_name">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </th>
              <th>
                <input type="text" class="filterText form-control narrow"
                       data-selector=".hexColor">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".hexColor">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for branch in branches.elements %}
              <tr>
                <td class="family_ix">
                  {{ branch.family_ix.data }}
                </td>
                <td class="level1_branch_ix">
                  {{ branch.level1_branch_ix.data }}
                </td>
                <td class="level1_branch_name">
                  {{ branch.level1_branch_name.data }}
                </td>
                <td {% if branch.hexColor.data %}
                        style='background-color: #{{ branch.hexColor.data }};'
                    {% endif %}
                    class="hexColor">
                  {{ branch.hexColor.data }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    <div class="col-md-12">
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
