{% extends "base.html" %}
{% load lexicon_utils %}
{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Language list ‘{{ current_language_list_name }}’
{% endblock %}

{% block top %}
  <h1>Language list ‘{{ current_language_list_name }}’</h1>
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <form action="" method="post">
        {% csrf_token %}
        <fieldset>
          <table classs="table">
            {{ language_list_form.as_table }}
          </table>
          {% if current_list.description %}
            <b>Description:</b> {{ current_list.description }}
          {% endif %}
        </fieldset>
      </form>
    </div>
    {% if user.is_authenticated %}
      <div class="col-md-4">
        <a href="{% url 'language-add-new' current_language_list_name %}"
           class="btn btn-default"
           data-toggle="tooltip" data-placement="bottom"
           title="Add new language">
          <span class="glyphicon glyphicon-plus"></span>
          lg
        </a>
        <a href="{% url 'add-language-list' %}"
           class="btn btn-default"
           data-toggle="tooltip" data-placement="bottom"
           title="New language list">
          <span class="glyphicon glyphicon-plus"></span>
          lg list
        </a>
        <a href="{% url 'edit-language-list' current_language_list_name %}"
           class="btn btn-default"
           data-toggle="tooltip" data-placement="bottom"
           title="Edit language list">
          <span class="glyphicon glyphicon-edit"></span>
          lg list ‘{{ current_language_list_name }}’
        </a>
        <a href="{% url 'reorder-language-list' current_language_list_name %}"
           class="btn btn-default"
           data-toggle="tooltip" data-placement="bottom"
           title="Edit sort order">
          <span class="glyphicon glyphicon-edit"></span>
          sort order ‘{{ current_language_list_name }}’
        </a>
      </div>
    {% endif %}
  </div>
  {% if user.is_authenticated and user.is_staff %}
    <hr>
    <div class="row">
      <div class="col-md-12">
        <form action="" method="POST" name="langlist_ed_form">
          {% csrf_token %}
          <div class="form-group pull-right">
            <a href="{% url 'view-language-list' current_list.name %}" class="btn btn-default"> undo</a>
            <input type="submit" value="Save" name="langlist_form" class="btn btn-danger">
          </div>
          <table class="table table-striped viewTableFilter">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Variety</th>
                <th></th>
                <th>ISO</th>
                <th style="width: 100px;">Glotto</th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Mean time depth (yrs)">
                  Mean TD (yrs)
                </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Std Dev. time depth (yrs)">
                  Std Dev. (yrs)
                </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Representative">
                  Rep.
                </th>
                <th>Foss.<br>Stat.</th>
                <th>Low.<br>Stat.</th>
                <th>Web path 1</th>
                <!--
                <th>Web path 2</th>
                -->
                <th>Author</th>
                <th>Reviewer</th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="(#lexemes - #meanings)">
                  Too<br>many{# Lex.-Mgs #}
                </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Number of meanings">
                  Mgs{# Number of meanings per language #}
                </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Number of lexemes">
                  Lex.{# Number of lexemes per language #}
                  </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Number of entries">
                  Entd{# Number of entries per language #}
                  </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Level 0 branch">
                  Lv 0
                </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Level 1 branch">
                  Lv 1
                </th>
                <th data-toggle="tooltip" data-placement="bottom" data-container="body" title="Level 2 branch">
                  Lv 2
                </th>
                <th>SndComp<br>code</th>
              </tr>
              <tr>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".entryNo">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterText form-control"
                         data-selector=".languageName">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".languageName">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".languageVariety input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".languageVariety input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th></th>
                <th>
                  <input type="text" class="filterText form-control"
                         data-selector=".languageIsoCode" style="width: 3em;">
                </th>
                <th>
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".languageGlottocode">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".languageGlottocode">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageMeanTimeDepth input" style="width: 4em;">
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageStdDeviationTimeDepth input" style="width: 4em;">
                </th>
                <th>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".languageRepresentative input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </th>
                <th>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".languageFossStat input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </th>
                <th>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".languageLowStat input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageRfcWebPath1 input">
                </th>
                <!--
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageRfcWebPath2 input">
                </th>
                -->
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageAuthor input">
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageReviewer input">
                </th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".languageExcessCount">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".languageMgsCount">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".languageLexCount">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".languageEntdCount">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageLevel0 input" style="width: 1.5em;">
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageLevel1 input" style="width: 1.5em;">
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".languageLevel2 input" style="width: 1.5em;">
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".languageSndCompCode input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".languageSndCompCode input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for language in lang_ed_form.langlist %}
                <tr>
                  <td class="entryNo">
                    {{ forloop.counter }}
                  </td>
                  <td class="languageName">
                    {% form_field language.ascii_name class="language_name hide" %}
                    <a href="{% url 'language-report' language.ascii_name.data %}" alt="view lexeme list"
                      title="View wordlist list for {{ language.utf8_name.data }}">
                      {{ language.utf8_name.data }}
                    </a>
                  </td>
                  <td class="languageVariety">
                    {% form_field language.variety size="8" class="form-control" %}
                  </td>
                  <td>
                    <a href="{% url 'language-edit' language.ascii_name.data %}"
                       title="Edit {{ language.utf8_name.data }} metadata"
                       data-toggle="tooltip" data-placement="top">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  </td>
                  <td class="languageIsoCode" style="padding-left: 0.5em;">
                    {% if language.iso_code.data %}
                      <a href="http://en.wikipedia.org/wiki/ISO_639:{{ language.iso_code.data }}" target="_blank">
                        {{ language.iso_code.data }}
                      </a>
                      {% form_field language.iso_code class="hide" %}
                    {% else %}
                      {% form_field language.iso_code maxlength="3" size="3" class="form-control" style="width: 3em;" %}
                    {% endif %}
                  </td>
                  <td class="languageGlottocode">
                    {% if language.data.glottocode %}
                      <a href="http://glottolog.org/resource/languoid/id/{{ language.data.glottocode }}" target="_blank">
                        {{ language.data.glottocode }}
                      </a>
                      {% form_field language.glottocode class="hide" %}
                    {% else %}
                      {% form_field language.glottocode maxlength="8" size="8" class="form-control" %}
                    {% endif %}
                  </td>
                  <td class="languageMeanTimeDepth">
                    {% form_field language.mean_timedepth_BP_years maxlength="4" size="4" class="form-control" style="width: 4em;" %}
                  </td>
                  <td class="languageStdDeviationTimeDepth">
                    {% form_field language.std_deviation_timedepth_BP_years maxlength="4" size="4" class="form-control" style="width: 4em;" %}
                  </td>
                  <td class="languageRepresentative">
                    <div class="centralised_checkbox">
                      {% form_field language.representative class="form-control" %}
                    </div>
                  </td>
                  <td class="languageFossStat">
                    {% form_field language.foss_stat onclick="MutexCheckbox(this)" class="MutexCheckbox form-control" %}
                  </td>
                  <td class="languageLowStat">
                    {% form_field language.low_stat onclick="MutexCheckbox(this)" class="MutexCheckbox form-control" %}
                  </td>
                  <td class="languageRfcWebPath1">
                    {% form_field language.rfcWebPath1 size="4" class="form-control" %}
                  </td>
                  <!--
                  <td class="languageRfcWebPath2">
                    {% form_field language.rfcWebPath2 size="4" class="form-control" %}
                  </td>
                  -->
                  <td class="languageAuthor">
                    {% form_field language.author size="8" class="form-control" %}
                  </td>
                  <td class="languageReviewer">
                    {% form_field language.reviewer size="8" class="form-control" %}
                  </td>
                  <td class="languageExcessCount">
                    <center>
                      <span class="badge">{{ language.data.excess_count }}</span>
                    </center>
                  </td>
                  <td class="languageMgsCount">
                    <center>
                      <span class="badge">{{ language.data.mgs_count }}</span>
                    </center>
                  </td>
                  <td class="languageLexCount">
                    <center>
                      <span class="badge">{{ language.data.lex_count }}</span>
                    </center>
                  </td>
                  <td class="languageEntdCount">
                    <center>
                      <span class="badge">{{ language.data.entd_count }}</span>
                    </center>
                  </td>
                  <td class="languageLevel0">
                    <center>
                      {% form_field language.level0 class="languageBranch form-control" maxlength="1" size="1" style="width: 1.5em;" %}
                    </center>
                  </td>
                  <td class="languageLevel1">
                    <center>
                      {% form_field language.level1 class="languageBranch form-control" maxlength="1" size="1" style="width: 1.5em;" %}
                    </center>
                  </td>
                  <td class="languageLevel2">
                    <center>
                      {% form_field language.level2 class="languageBranch form-control" maxlength="1" size="1" style="width: 1.5em;" %}
                    </center>
                  </td>
                  <td class="languageSndCompCode">
                    {% form_field language.soundcompcode size="8" class="form-control" %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-4">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>ISO-639-3</th>
              <th>Lexemes</th>
            </tr>
          </thead>
          <tbody>
            {% for language in languages %}
              <tr>
                <td>
                  <small>{{ forloop.counter }}</small>
                </td>
                <td>
                  {% if user.is_authenticated %}
                    <a href="{% url 'language-edit' language.ascii_name %}">
                      <img src="{% static 'buttons/edit.png' %}" alt="edit" title="Edit {{ language.utf8_name }} metadata">
                    </a>
                  {% endif %}
                  <a href="{% url 'language-report' language.ascii_name %}" alt="view lexeme list" title="View wordlist list for {{ language.utf8_name }}">
                    {{ language.utf8_name }}
                  </a>
                </td>
                <td>
                  <a href="http://www.ethnologue.com/language/{{ language.iso_code }}" target="_blank">
                    {{ language.iso_code }}
                  </a>
                </td>
                <td>
                  {{ language.lexeme_count }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
