{% extends "base.html" %}
{% load lexicon_utils %}

{% block title %}Languages{% endblock %}

{% block top %}<h1>Languages</h1>{% endblock %}

{% block content %}
<table>
  <thead> {# handy for the print view #}
    <tr>
      <th>Count</th>
      <th>Language Name</th>
      <th>ISO-639-3 Code</th>
      <th>Included</th>
    </tr>
  </thead>
  <tbody>
  {% for language in languages %}
  <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url language-report language.id %}">{{ language.utf8_name }}</a></td>
      <td><a href="http://www.ethnologue.com/show_language.asp?code={{ language.iso_code }}">{{ language.iso_code }}</a></td>
      <td>{% if language.id|in_list:current_list.language_id_list %}
	    <img src="/media/buttons/tick.png" alt="*" title="Included" />
	  {% else %}
	    <img src="/media/buttons/delete.png" alt="" title="Excluded" />
	  {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}
<h2>Controls</h2>
<p>
<form action="" method="post">
<fieldset>
<legend>Language List<legend>
<table>
{{ form.as_table }}
</table>
<p class="help">Limit all results to a predefined list of languages</p>
</fieldset>
</form>
</p>
{% if debug %}
<h2>DEBUG</h2>
{{ debug }}
{% endif %}
{% endblock %}

{# vim: set ft=htmldjango: #}
