{% extends "base.html" %}

{% load wtforms %}

{% block title %}{{ language.utf8_name }}{% endblock %}

{% block top %}
  <h1>{{ language.utf8_name }} <sup><span title="language internal ID [table: 'lexicon_language']" style="color:#666;font-size:50%;">ID: {{language.id}}</span></sup></h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal"
            action="" method="POST">
        {% csrf_token %}
        {{ form.renderAsFormGroup | safe }}
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-danger">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
