{% extends "base.html" %}
{% load lexicon_utils %}
{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Lgs Rfc: Stats [{{ current_language_list_name }}]
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  <li>
    <a href="?exportCsv=utf8_name,mean_timedepth_BP_years,std_deviation_timedepth_BP_years,level0,level1"
       title="Download current language list as .csv"
       data-toggle="tooltip" data-placement="bottom">
      <span class="glyphicon glyphicon-download-alt"></span>
    </a>
  </li>
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12"
         {% if user.is_authenticated and user.is_staff %}
            style="margin-top: 75px;"
         {% else %}
            style="margin-top: 32px;"
         {% endif %}>
      {% if user.is_authenticated and user.is_staff %}
        <form action="" method="POST" name="langlist_ed_form">
          {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated and user.is_staff %}
          <div class="form-group pull-right">
            <a href="{% url 'language-add-new' current_language_list_name %}"
               class="btn btn-default"
               data-toggle="tooltip" data-placement="bottom"
               title="Add new language">
              <span class="glyphicon glyphicon-plus"></span>
              lg
            </a>
            <a href="{% url 'add-language-list' %}"
               class="btn btn-default"
               data-toggle="tooltip" data-placement="bottom"
               title="New language list">
              <span class="glyphicon glyphicon-plus"></span>
              lg list
            </a>
            <a href="{% url 'edit-language-list' current_language_list_name %}"
               class="btn btn-default"
               data-toggle="tooltip" data-placement="bottom"
               title="Edit language list">
              <span class="glyphicon glyphicon-edit"></span>
              lg list ‘{{ current_language_list_name }}’
            </a>
            <a href="{% url 'reorder-language-list' current_language_list_name %}"
               class="btn btn-default space-right"
               data-toggle="tooltip" data-placement="bottom"
               title="Edit sort order">
              <span class="glyphicon glyphicon-edit"></span>
              sort order ‘{{ current_language_list_name }}’
            </a>
            <span class="badge important updatePercentages"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Overall progress of visible entries">
              <div class="progress"
                   style="width: 100px; margin-top: 2.5px; margin-bottom: 2.5px;">
                <div class="progress-bar"
                     role="progressbar"
                     aria-valuenow="0"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: 0%;">
                  <span class="sr-only">
                    0% Complete
                  </span>
                </div>
              </div>
            </span>
            <span class="badge important updateCounts"
                  data-countformat="countVisible initial"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Visible / Total rows">
              {{ form.langlist|length }}
            </span>
            <a href="{% url 'view-language-progress' current_list.name %}" class="btn btn-default"> undo</a>
            <input type="submit" value="Save" name="progress_form" class="btn btn-danger">
          </div>
          <h1 class="inline">
            Languages Reference: Statistics
          </h1>
          {% endif %}
          {% include "snippets/cladeFilter.html" %}
        </div>{# .fixedContainer #}
        <table class="table table-striped viewTableFilter"
               {% if user.is_authenticated and user.is_staff %}
                  data-floatheadtop="65"
               {% else %}
                  data-floatheadtop="32"
               {% endif %}>
          <thead>
            <tr>
              {# branchcolor_title.html #}
              <th colspan="2"></th>
              {# id_title.html #}
              <th>ID</th>
              {# entryno_title.html #}
              <th></th>
              {# lv_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Clade level 0">
                Cl 0
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Clade level 0 abbreviation"
                  style="width:5em">
                Cl 0 abbr.
              </th>
              {% if user.is_staff %}
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 1">
                  Cl 1
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 1 abbreviation"
                    style="width:5em">
                  Cl 1 abbr.
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 2">
                  Cl 2
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 2 abbreviation"
                    style="width:5em">
                  Cl 2 abbr.
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 3"
                    class="hide">
                  Cl 3
                </th>
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Clade level 3 abbreviation"
                    class="hide"
                    style="width:5em">
                  Cl 3 abbr.
                </th>
                {# sortRankInClade_title.html #}
                <th data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                    title="Sort rank in clade">
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Sort Ix
                    </div>
                  </div>
                </th>
              {% endif %}
              {# historical_title.html #}
              <th style="width:35px">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Historical
                  </div>
                </div>
              </th>
              {# notInExport_title.html #}
              <th style="width:35px">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Not in Exp.
                  </div>
                </div>
              </th>
              {# name_link.html #}
              <th></th>
              {# name_title.html #}
              <th>Display name</th>
              {# author_title.html #}
              <th>Author</th>
              {# entryTimeframe_title.html #}
              {% if user.is_authenticated and user.is_staff %}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Timeframe
                  </div>
                </div>
              </th>
              {% endif %}
              {# reviewer_title.html #}
              <th>
                Reviewer
              </th>
              {# progress_title.html #}
              <th colspan="2">
                Progress
              </th>
              {# mgs_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of meanings">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Meanings{# Number of meanings per language #}
                  </div>
                </div>
              </th>
              {# orphans_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="The number of meanings and the meanings as tooltip for which that language does have one or more lexemes, but ALL of those lexemes are marked as 'Not Swadesh'.">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Orphan Mgs
                  </div>
                </div>
              </th>
              {# entd_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of entries">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Lexemes{# Number of entries per language #}
                  </div>
                </div>
              </th>
              {# lex_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of lexemes">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Swadesh{# Number of lexemes per language #}
                  </div>
                </div>
              </th>
              {# notSwh_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of exluded lexemes per language">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Not Swh{# Number of excluded lexemes per language #}
                  </div>
                </div>
              </th>
              {# toomany_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="(#lexemes - #meanings)">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Too many{# Lex.-Mgs #}
                  </div>
                </div>
              </th>
              {# cogLoan_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as loanword per language">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. Loan/Lg
                  </div>
                </div>
              </th>
              {# cogLoanPll_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as parallel loan event per language">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. Pll/Lg
                  </div>
                </div>
              </th>
              {# cogIdeophonic_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as being ideophonic">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. Ideoph/Lg
                  </div>
                </div>
              </th>
              {# cogPllDerv_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as being a parallel derivation">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. PllDrv/Lg
                  </div>
                </div>
              </th>
              {# cogDub_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes marked as being a dubious set">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. Dub/Lg
                  </div>
                </div>
              </th>
             {# unassigned_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of lexemes without a cognate class">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Unassigned
                  </div>
                </div>
              </th>
              {# check_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Check
                  </div>
                </div>
              </th>
            </tr>
            <tr class="filterBar">
              {# branchcolor_filter.html #}
              <td colspan="2"></td>
              {# id_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".idField">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# entryno_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".entryNo">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# lv_filter.html #}
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterNumberInput form-control"
                         data-selector=".languageLevel0 input"
                         style="width: 1.5em;">
                {% else %}
                  <input type="text"
                         class="filterNumber form-control"
                         data-selector=".languageLevel0"
                         style="width: 1.5em;">
                {% endif %}
              </td>
              <td>
                <input type="text"
                       class="filterText form-control"
                       data-selector=".languageLevel0Abbr"
                       style="width: 4em;">
              </td>
              {% if user.is_staff %}
                <td>
                  <input type="text"
                         class="filterNumberInput form-control"
                         data-selector=".languageLevel1 input"
                         style="width: 1.5em;">
                </td>
                <td>
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageLevel1Abbr"
                         style="width: 4em;">
                </td>
                <td>
                  <input type="text"
                         class="filterNumberInput form-control"
                         data-selector=".languageLevel2 input"
                         style="width: 1.5em;">
                </td>
                <td>
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageLevel2Abbr"
                         style="width: 4em;">
                </td>
                <td class="hide">
                    <input type="text"
                           class="filterNumberInput form-control"
                           data-selector=".languageLevel3 input"
                           style="width: 1.5em;">
                </td>
                <td class="hide">
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageLevel3Abbr"
                         style="width: 4em;">
                </td>
                {# sortRankInClade_filter.html #}
                <td>
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".sortRankInClade input"
                         style="width: 1.5em;">
                </td>
              {% endif %}
              {# historical_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".languageHistorical input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# notInExport_filter.html #}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".notInExport input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# name_link.html #}
              <td></td>
              {# name_filter.html #}
              <td>
                <input type="text" class="filterInput form-control"
                       data-selector=".languageName input.language_name">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".languageName input.language_name">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# author_filter.html #}
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".languageAuthor input"
                         style="width:8em;">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageAuthor"
                         style="width:8em%;">
                {% endif %}
              </td>
              {# entryTimeframe_filter.html #}
              {% if user.is_authenticated and user.is_staff %}
              <td>
                <input type="text"
                       class="filterInput form-control"
                       data-selector=".entryTimeframe input"
                       style="width:5em;">
              </td>
              {% endif %}
              {# reviewer_filter.html #}
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".languageReviewer input"
                         style="width: 100%;">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".languageReviewer"
                         style="width: 100%;">
                {% endif %}
              </td>
              {# progress_filter.html #}
              <td class="nowrap"
                  colspan="2">
                <input type="text"
                       class="filterInput form-control"
                       data-selector=".progressData input"
                       style="width: 1.5em;">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".progressData input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# mgs_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageMgsCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# orphans_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageOrphansCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# entd_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageEntdCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# lex_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageLexCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# notSwh_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageNotSwhCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# toomany_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageExcessCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cogLoan_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageCogLoanCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cogLoanPll_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageCogParallelLoanCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cogIdeophonic_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageCogIdeophonic">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cogPllDerv_filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageCogPllDerv">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cogDub__filter.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageCogDub">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# unassigned_title.html #}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".languageUnassignedCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# check_filter.html #}
              <td></td>
            </tr>
          </thead>
          <tbody>
            {% for language in form.langlist %}
              <tr data-cladefilter-representative="{{ language.object_data.representative }}"
                  data-cladefilter-cladepath="{{ language.object_data.cladePath }}">
                {# branchcolor_data.html #}
                <td class="languageBranchColor"
                    style="background-color: #{{ language.object_data.hexColor }};"
                  ></td>
                <td class="languageBranchColorSpace"></td>
                {# id_data.html #}
                <td class="idField numberField">
                  {{ language.object_data.id }}
                </td>
                {# entryno_data.html #}
                <td class="entryNo numberField">
                  {{ forloop.counter }}
                </td>
                {# lv_data.html #}
                <td class="languageLevel0"
                  {% if language.object_data.level0Tooltip %}
                    title="{{ language.object_data.level0Tooltip }}"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body"
                  {% endif %}
                  >
                  <center>
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field language.level0 class="languageBranch form-control numberField" maxlength="2" size="1" style="width: 2em;" pattern="^[0-9]{1,2}$" %}
                    {% elif language.level0.data %}
                      {{ language.level0.data }}
                    {% endif %}
                  </center>
                </td>
                <td class="languageLevel0Abbr">
                  {% if language.object_data.level0Tooltip %}
                    <span class="badge" style="background-color: #{{ language.object_data.level0Color }};">
                      {{ language.object_data.level0Tooltip }}
                    </span>
                  {% endif %}
                </td>
                {% if user.is_staff %}
                  <td class="languageLevel1"
                    {% if language.object_data.level1Tooltip %}
                      title="{{ language.object_data.level1Tooltip }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                    {% endif %}
                    >
                    <center>
                      {% form_field language.level1 class="languageBranch form-control numberField" maxlength="2" size="1" style="width: 2em;" pattern="^[0-9]{1,2}$" %}
                    </center>
                  </td>
                  <td class="languageLevel1Abbr">
                    {% if language.object_data.level1Tooltip %}
                      <span class="badge" style="background-color: #{{ language.object_data.level1Color }};">
                        {{ language.object_data.level1Tooltip }}
                      </span>
                    {% endif %}
                  </td>
                  <td class="languageLevel2"
                    {% if language.object_data.level2Tooltip %}
                      title="{{ language.object_data.level2Tooltip }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                    {% endif %}
                    >
                    <center>
                      {% form_field language.level2 class="languageBranch form-control numberField" maxlength="2" size="1" style="width: 2em;" pattern="^[0-9]{1,2}$" %}
                    </center>
                  </td>
                  <td class="languageLevel2Abbr">
                    {% if language.object_data.level2Tooltip %}
                      <span class="badge" style="background-color: #{{ language.object_data.level2Color }};">
                        {{ language.object_data.level2Tooltip }}
                      </span>
                    {% endif %}
                  </td>
                  <td class="languageLevel3 hide"
                    {% if language.object_data.level3Tooltip %}
                      title="{{ language.object_data.level3Tooltip }}"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body"
                    {% endif %}
                    >
                    <center>
                      {% form_field language.level3 class="languageBranch form-control numberField" maxlength="2" size="1" style="width: 2em;" pattern="^[0-9]{1,2}$" %}
                    </center>
                  </td>
                  <td class="languageLevel3Abbr hide">
                    {% if language.object_data.level3Tooltip %}
                      <span class="badge" style="background-color: #{{ language.object_data.level3Color }};">
                        {{ language.object_data.level3Tooltip }}
                      </span>
                    {% endif %}
                  </td>
                  {# sortRankInClade_data.html #}
                  <td class="sortRankInClade">
                    {% form_field language.sortRankInClade size="2" class="form-control numberField" pattern="^[0-9]{1,3}$" style="width: 2em;" %}
                  </td>
                {% endif %}
                {# historical_data.html #}
                <td class="languageHistorical">
                  <input type="checkbox"
                         disabled="disabled"
                         class="form-control"
                         {% if language.object_data.historical %}
                         checked="checked"
                         {% endif %}>
                </td>
                {# notInExport_data.html #}
                <td class="notInExport">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.notInExport class="form-control" %}
                  {% else %}
                    {% form_field language.notInExport class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# name_link.html #}
                <td>
                  <a href="{% url 'view-language-wordlist' language.object_data.ascii_name wordlist %}"
                     alt="view lexeme list"
                     title="View wordlist list for {{ language.utf8_name.data }}">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                  </a>
                </td>
                {# name_data.html #}
                <td class="languageName">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.idField class="hide" %}
                    {% form_field language.lastTouched class="hide" %}
                    {% form_field language.lastEditedBy class="hide" %}
                  {% endif %}
                  {% form_field language.utf8_name class="language_name form-control" required="required" style="width: 13em;" %}
                </td>
                {# author_data.html #}
                <td class="languageAuthor">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.author class="form-control" style="width:8em" data-longinput="25" %}
                  {% else %}
                    {{ language.author.data }}
                  {% endif %}
                </td>
                {# entryTimeframe_data.html #}
                {% if user.is_authenticated and user.is_staff %}
                <td class="entryTimeframe">
                  {% form_field language.entryTimeframe class="form-control" style="width:5em" %}
                </td>
                {% endif %}
                {# reviewer_data.html #}
                <td class="languageReviewer">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.reviewer size="8" class="form-control" %}
                  {% elif language.reviewer.data %}
                    {{ language.reviewer.data }}
                  {% endif %}
                </td>
                {# progress_data.html #}
                <td class="progressData">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field language.progress class="form-control numberField" pattern="^[0-5]{1}$" style="width: 1.5em;" %}
                  {% else %}
                    {{ language.progress.data }}
                  {% endif %}
                </td>
                <td class="progressBar">
                 <div class="progress">
                     <div class="progress-bar {{ language.object_data.progressBarClass }}"
                          role="progressbar"
                          aria-valuenow="{{ language.object_data.progressPercentage }}"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: {{ language.object_data.progressPercentage }}%;">
                       <span class="sr-only">
                         {{ language.object_data.progressPercentage }}% Complete
                       </span>
                     </div>
                  </div>
                </td>
                {# mgs_data.html #}
                <td class="languageMgsCount">
                  <center>
                    <span class="badge">{{ language.object_data.meaningCount }}</span>
                  </center>
                </td>
                {# orphans_data.html #}
                <td class="languageOrphansCount">
                  <center>
                    {% if language.object_data.orphansCount > 0 %}
                    <span title="{{ language.object_data.orphansList }}" class="badge" style="background-color:#FFA500">{{ language.object_data.orphansCount }}</span>
                    {% else %}
                    <span title="{{ language.object_data.orphansList }}" class="badge">{{ language.object_data.orphansCount }}</span>
                    {% endif %}
                  </center>
                </td>
               {# entd_data.html #}
                <td class="languageEntdCount">
                  <center>
                    <span class="badge">{{ language.object_data.entryCount }}</span>
                  </center>
                </td>
                {# lex_data.html #}
                <td class="languageLexCount">
                  <center>
                    <span class="badge">{{ language.object_data.lexCount }}</span>
                  </center>
                </td>
                {# notSwh_data.html #}
                <td class="languageNotSwhCount">
                  <center>
                    <span class="badge">{{ language.object_data.nonLexCount }}</span>
                  </center>
                </td>
                {# toomany_data.html #}
                <td class="languageExcessCount">
                  <center>
                    <span class="badge">{{ language.object_data.excessCount }}</span>
                  </center>
                </td>
                {# cogLoan_data.html #}
                <td class="languageCogLoanCount">
                  <center>
                    <span class="badge">{{ language.object_data.cogLoanCount }}</span>
                  </center>
                </td>
                {# cogLoanPll_data.html #}
                <td class="languageCogParallelLoanCount">
                  <center>
                    <span class="badge">{{ language.object_data.cogParallelLoanCount }}</span>
                  </center>
                </td>
                {# cogIdeophonic_data.html #}
                <td class="languageCogIdeophonic">
                  <center>
                    <span class="badge">{{ language.object_data.cogIdeophonicCount }}</span>
                  </center>
                </td>
                {# cogPllDerv_data.html #}
                <td class="languageCogPllDerv">
                  <center>
                    <span class="badge">{{ language.object_data.cogPllDerivationCount }}</span>
                  </center>
                </td>
                {# cogDub_data.html #}
                <td class="languageCogDub">
                  <center>
                    <span class="badge">{{ language.object_data.cogDubSetCount }}</span>
                  </center>
                </td>
                {# unassigned_data.html #}
                <td class="languageUnassignedCount">
                  <center>
                    <span class="badge">{{ language.object_data.unassignedCount }}</span>
                  </center>
                </td>
                {# check_data.html #}
                <td>
                  <a class="btn btn-default bootboxHtmlSnippet"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-htmlsource="/language/{{ language.object_data.ascii_name }}/check"
                     title="Check this language.">
                    <span class="glyphicon glyphicon-list"></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated and user.is_staff %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
