{% extends "base.html" %}

{% block title %}Add new language{% endblock %}

{% block top %}
  <h1>Add new language</h1>
{% endblock %}

{% block content %}
  The <strong>URL Name</strong> field is obligatory.
  Allowable characters are
  <code>a-z</code>, <code>A-Z</code> and <code>_</code> (no spaces!).
  <form action="" method="POST">{% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" name="submit" value="Submit">
    <input type="submit" name="cancel" value="Cancel">
  </form>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
