{% extends "base.html" %}

{% block title %}Word list report: {{ language.utf8_name }}{% endblock %}

{% block top %}<h1>{{ language.utf8_name }}</h1>{% endblock %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Meaning</th>
    <th>Source Form</th>
    <th>Phonological Form</th>
    <th>Notes</th>
    <th>Cognate Set</th>
  </tr>
  {% for lexeme in lexemes %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ lexeme.meaning.id }}</a></td>
    <td><a href="{% url meaning-report lexeme.meaning.id %}">{{ lexeme.meaning.gloss }}</a></td>
    <td>{{ lexeme.source_form }}</td>
    <td>{{ lexeme.phon_form }}</td>
    <td><a href="/lexeme/{{ lexeme.id }}" title="{{ lexeme.notes }}">{{ lexeme.notes|truncatewords:5 }}</a></td>
    <td>{% for cogset in lexeme.cognate_class.all %}{{ cogset.alias }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
    <td>
     <a href="{% url lexeme-report lexeme.id %}">
       <img src="/media/buttons/view.png" alt="View" title="View detailed information on lexeme" /><a>
      <a href="/lexeme/{{ lexeme.id }}/duplicate">
          <img src="/media/buttons/duplicate_lexeme.png" alt="Duplicate" title="Duplicate lexical entry" />
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
<p>Count: {{ lexemes|length }}</p>
{% endblock %}


{% block controls %}
{% include "snippets/prev_next_language.html" %}
{% include "snippets/go_to.html" %}
<ul class="navigation">
  <li><a href="/language/{{ language.ascii_name }}/edit/">edit entry for 
    {{ language.utf8_name }}</a></li>
  <li><a href="/language/{{ language.ascii_name }}/add-lexeme/">add a new lexeme</a></li>
</ul>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
