{% extends "base.html" %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Lg: {{ language.utf8_name }}
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
  {% if semantic_domains %}
    <li>
      <a href="{% url 'language-domains-list' language.ascii_name %}">
        view semantic domains
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  {% include "snippets/lexemeHandlingModal.html" %}
  <div class="row">
    <div class="col-md-12"
         {% if user.is_authenticated %}
            style="margin-top: 51px;"
         {% else %}
            style="margin-top: 43px;"
         {% endif %}>
      {% if user.is_authenticated %}
      <form action="" method="POST" name="lex_ed_form" id="lex_ed_form_copyacross">
        {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated %}
          <div class="form-group pull-right">
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Handle lexemes for this table.">
                 <button type="button"
                         data-toggle="modal"
                         data-target="#lexemeHandlingModal"
                         class="btn btn-default">
                   <span class="glyphicon glyphicon-list-alt"></span>
                 </button>
            </div>
            <span class="badge important updateCounts"
                  data-countformat="countVisible countSwadesh initial"
                  data-swadeshselector=".lexemeNotSwadeshTerm input"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Visible / Swadesh / Total rows">
              {{ lexemes|length }}
            </span>
            Dup. mgs:
            <button type="button"
                    class="filterDistinct btn btn-default"
                    data-attr="meaningid"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Filter duplicate meanings"
                    data-selector="filterDistinct">
              <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <a class="btn btn-default bootboxHtmlSnippet"
               data-toggle="tooltip"
               data-placement="top"
               data-htmlsource="check"
               title="Give a report on this language.">
               Check
            </a>
            <a href="{% url 'language-add-lexeme' language.ascii_name %}"
               class="btn btn-default space-right"
               data-toggle="tooltip" data-placement="top"
               title="add a new lexeme">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
            <a href="{% url 'view-language-wordlist' language.ascii_name wordlist.name %}"
               class="btn btn-default">
               Undo
            </a>
            <input type="submit" value="Save"
                   name="lex_form" class="btn btn-danger">
          </div>
        {% endif %}
        {% include "snippets/prev_next_language.html" %}
      </div>
        <table class="table table-condensed viewTableFilter markNewMeaning"
               id="viewLanguageMeanings"
               {% if user.is_authenticated %}
                  data-floatheadtop="51"
               {% else %}
                  data-floatheadtop="43"
               {% endif %}>
          <thead>
            <tr>
              {# delete_lexeme_title.html #}
              {% if user.is_authenticated and user.is_superuser %}
              <th></th>
              {% endif %}
              {# id_title.html #}
              <th class="hide"></th>
              {# FIXME warning label for Dbl check ones #}
              {# warnings_title.html #}
              <th></th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    <span style="color:#aaa;font-size:80%">Elic. Ix.</span>
                  </div>
                </div>
              </th>
              {# meaning_title.html #}
              <th colspan="2">Meaning</th>
              {# romanised_title.html #}
              <th>Roman(ised)</th>
              {# viewcopy_title.html #}
              <th colspan="3"></th>
              {# nativeScript_title.html #}
              <th>Native Script</th>
              {# notswadesh_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Not Swh
                  </div>
                </div>
              </th>
              {# ncog_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes"
                  style="width: 50px; border-left: 2px solid #dddddd;">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    nCog
                  </div>
                </div>
              </th>
              {# cognateclassids_title.html #}
              <th style="width: 45px;">
                Cog.<br>IDs
              </th>
              {# cognateclassview_title.html #}
              <th></th>
              {# cognateclasses_title.html #}
              <th>Cog.<br>Alias</th>
              {# rootform_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference form">
                Root ref. form
              </th>
              {# rootlanguage_title.html #}
              <th style="width: 155px;"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference language">
                Root ref. language
              </th>
              {# loanevent_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Loan Evt
                  </div>
                </div>
              </th>
              {# phonemic_title.html #}
              <th style="border-left: 2px solid #dddddd;">
                PhoneMic
              </th>
              {# phonecopy_title.html #}
              <th colspan="2"></th>
              {# phonetic_title.html #}
              <th>PhoneTic</th>
              {# gloss_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Language specific">
                Gloss
              </th>
              {# notes_title.html #}
              <th>Notes</th>
              {# weblookup_title.html #}
              <th></th>
              <th>Dict ID 1</th>
              <!--
              <th></th>
              <th>Dict ID 2</th>
              -->
              {# dubious_title.html #}
              <th alt="Dubious">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Dub?
                  </div>
                </div>
              </th>
            </tr>
            <tr class="filterBar">
              {# delete_lexeme_filter.html#}
              {% if user.is_authenticated and user.is_superuser %}
              <td></td>
              {% endif %}
              {# id_filter.html #}
              <td class="hide"></td>
              {# warnings_filter.html #}
              <td></td>
              {# Elic Ix #}
              <td>
                <input type="text"
                       class="filterNumber form-control"
                       data-selector=".lexemeIxElicitation"
                       style="width: 2em;">
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".lexemeIxElicitation">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
              </td>
              {# meaning_filter.html #}
              <td colspan="2">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeMeaning">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeMeaning">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# romanised_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemeRomanised input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeRomanised input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemeRomanised">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeRomanised">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# viewcopy_filter.html #}
              <td colspan="3"></td>
              {# nativeScript_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemeNativeScript input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeNativeScript input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemeNativeScript">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeNativeScript">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# notswadesh_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-danger"
                        data-selector=".lexemeNotSwadeshTerm input">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
              </td>
              {# ncog_filter.html #}
              <td style="width: 50px; border-left: 2px solid #dddddd;">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeNumCogCoded" style="width: 1.5em;">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".lexemeNumCogCoded">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cognateclassids_filter.html #}
              <td style="width: 45px;">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".cognateClassId">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cognateclassview_filter.html #}
              <td>
              </td>
              {# cognateclasses_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".cognateClasses input"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".cognateClasses"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% endif %}
              </td>
              {# rootform_filter.html #}
              <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootForm">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootForm">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# rootlanguage_filter.html #}
              <td style="width: 155px;">
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootLanguage">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootLanguage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# loanevent_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeLoanEvent input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# phonemic_filter.html #}
              <td style="border-left: 2px solid #dddddd;">
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemePhoneMic input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemePhoneMic input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemePhoneMic">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemePhoneMic">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# phonecopy_filter.html #}
              <td colspan="2"></td>
              {# phonetic_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemePhonForm input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemePhonForm input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemePhonForm">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemePhonForm">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# gloss_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemeGloss input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeGloss input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".lexemeGloss">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeGloss">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# notes_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".lexemeNotes input">
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".lexemeNotes">
                  </div>
                {% endif %}
              </td>
              {# weblookup_filter.html #}
              <td></td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".lexemeRfcWebLookup1 input">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".lexemeRfcWebLookup1">
                {% endif %}
              </td>
              <!--
              <td></td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".lexemeRfcWebLookup2 input">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".lexemeRfcWebLookup2">
                {% endif %}
              </td>
              -->
              {# dubious_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeDubious input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
            </tr>
          </thead>
          <tbody>
            {% for lexeme in lex_ed_form.lexemes %}
              <tr class="content_row" data-meaningid="{{ lexeme.data.meaning_id }}">
                {# delete_lexeme_data.html #}
                {% if user.is_authenticated and user.is_superuser %}
                <td>
                  <!-- <a href="{% url 'view-lexeme' lexeme.id.data %}" title="View detailed information on lexeme">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                  </a> -->
                  <div class="btn btn-xs btn-danger" title="" 
                    data-toggle="tooltip" data-placement="bottom" data-original-title="Delete lexeme" onclick="return confirm('Are you really sure to delete lexeme {{ lexeme.data.meaning }} for language {{ language.utf8_name }}? Please think twice before you press the OK button!!')">
                    <a style="text-decoration:none;color:#FFFFFF;" href="{% url 'view-lexeme' lexeme.id.data %}delete/"><span class="glyphicon glyphicon-remove-sign"></span></a>
                  </div>
                </td>
                {% endif %}
                {# id_data.html #}
                <td class="hide">
                  {{ lexeme.id }}
                  {{ lexeme.lastTouched }}
                  {{ lexeme.lastEditedBy }}
                </td>
                {# warnings_data.html #}
                <td>
                  {% if lexeme.object_data.meaning.doubleCheck %}
                  <div style="color: #ff0000;"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="Special care and attention needed with this meaning. Please click on the i icon to read the full specification of the precise comparison meaning intended, and the exact term required here.">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                  </div>
                  {% endif %}
                </td>
                {# meaning_data.html #}
                <td>
                  <a href="https://github.com/lingdb/CoBL-public/wiki/{{ lexeme.object_data.meaning }}"
                     title="View wiki page."
                     target="_blank"
                     style="color: #006400;">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
                  {% if lexeme.object_data.meaning.exampleContext %}
                  <span class="badge"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-container="body"
                        title="{{ lexeme.object_data.meaning.exampleContext }}">
                    eg
                  </span>
                  {% endif %}
                </td>
                <td class="lexemeIxElicitation" align="right">
                  <span style="color:#aaa;font-size:60%;">{{ lexeme.object_data.meaning.ixElicitation }}</span>
                </td>
                <td class="lexemeMeaning">
                  {% if lexeme.object_data.language.rfcWebPath1 and lexeme.object_data.rfcWebLookup1 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath1 }}{{ lexeme.object_data.rfcWebLookup1 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                  {% endif %}
                  {% if lexeme.object_data.language.rfcWebPath2 and lexeme.object_data.rfcWebLookup2 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath2 }}{{ lexeme.object_data.rfcWebLookup2 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  {% endif %}
                  <a href="{% url 'meaning-report' lexeme.meaning_id.data %}"
                     style="font-size: 15px; color: #006400;"
                     {% if lexeme.object_data.meaning.tooltip %}
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="{{ lexeme.object_data.meaning.tooltip }}"
                     {% endif %}>
                    {{ lexeme.data.meaning }}
                  </a>
                </td>
                {# romanised_data.html #}
                <td class="lexemeRomanised">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.romanised id="romanised" class="form-control" style="font-size: 15px;" %}
                  {% elif lexeme.object_data.romanised %}
                    {{ lexeme.object_data.romanised }}
                  {% endif %}
                </td>
                {# viewcopy_data.html #}
                <td>
                  <a href="{% url 'view-lexeme' lexeme.id.data %}" title="View detailed information on lexeme">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                </td>
                <td>
                  {% if user.is_authenticated %}
                    <button class="leftcheckarrow btn btn-xs" type="button"
                            id="translit2src#{{lexeme.nativeScript.name}}#{{lexeme.romanised.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                  {% endif %}
                </td>
                <td>
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs" type="button"
                            id="src2translit#{{lexeme.romanised.name}}#{{lexeme.nativeScript.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                  {% endif %}
                </td>
                {# nativeScript_data.html #}
                <td class="lexemeNativeScript">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.nativeScript id="nativeScript" class="form-control" %}
                  {% elif lexeme.object_data.nativeScript %}
                    {{ lexeme.object_data.nativeScript }}
                  {% endif %}
                </td>
                {# notswadesh_data.html #}
                <td class="lexemeNotSwadeshTerm">
                  {% if lexeme.object_data.notTargetCountPerMeaning %}
                    <span class="glyphicon glyphicon-plus-sign pull-right" 
                          title="The meaning '{{lexeme.data.meaning}}' has {{lexeme.object_data.notTargetCountPerMeaning}} further not target lexeme(s)."></span>
                  {% endif %}
                  {% if user.is_authenticated %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" %}
                  {% else %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# ncog_data.html #}
                <td class="lexemeNumCogCoded"
                    style="width: 50px; border-left: 2px solid #dddddd;">
                  <center>
                    <span class="badge">
                      {{ lexeme.object_data.number_cognate_coded }}
                    </span>
                  </center>
                </td>
                {# cognateclassids_data.html #}
                <td class="cognateClassId" style="text-align: center; width: 45px;">
                  {% for c in lexeme.object_data.allCognateClasses %}
                    <a href="/cognate/{{ c.id }}/"
                       target="_blank"
                       style="color: #8B4510;">
                      {{ c.id }}
                    </a>
                  {% endfor %}
                </td>
                {# cognateclassview_data.html #}
                <td style="padding-left: 4px; padding-right: 4px;">
                  <a href="/meaning/{{ lexeme.object_data.meaning.gloss }}/cognateclasslist/">
                    <img src="{% static '1c.png' %}">
                  </a>
                </td>
                {# cognateclasses_data.html #}
                <td style="text-align: center; color: #8B4510;">
                  <div class="cognateClasses">
                    {% if user.is_authenticated %}
                      {% form_field lexeme.combinedCognateClassAssignment class="form-control combinedCognateClassAssignment" data-lexemeid=lexeme.object_data.id %}
                    {% else %}
                      {{ lexeme.object_data.combinedCognateClassAssignment }}
                    {% endif %}
                  </div>
                </td>
                {# rootform_data.html #}
                <td class="lexemeRootForm" style="color: #8B4510;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootFormOrPlaceholder }}
                  {% endif %}
                </td>
                {# rootlanguage_data.html #}
                <td class="lexemeRootLanguage nowrap" style="color: #8B4510; width: 155px;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootLanguageOrPlaceholder }}
                  {% endif %}
                </td>
                {# loanevent_data.html #}
                <td class="lexemeLoanEvent"
                    {% if lexeme.object_data.show_loan_event%}
                    data-toggle="tooltip"
                    data-container="body"
                    data-placement="top"
                    title="{{ lexeme.object_data.loanEventSourceTitle }}"
                    {% endif %}>
                  {% if lexeme.object_data.show_loan_event %}
                    <input type="checkbox"
                      {% if lexeme.object_data.loan_event %}
                        checked="checked"
                      {% endif %}
                      class="form-control"
                      disabled="disabled">
                  {% endif %}
                </td>
                {# phonemic_data.html #}
                <td class="lexemePhoneMic" style="border-left: 2px solid #dddddd;">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.phoneMic id="phoneMic" size="8" class="form-control" %}
                  {% elif lexeme.phoneMic.data %}
                    {{ lexeme.phoneMic.data }}
                  {% endif %}
                </td>
                {# phonecopy_data.html #}
                <td>
                  {% if user.is_authenticated %}
                    <button class="leftcheckarrow btn btn-xs inline"
                            type="button"
                            id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                  {% endif %}
                </td>
                <td>
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs inline"
                            type="button"
                            id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                  {% endif %}
                </td>
                {# phonetic_data.html #}
                <td class="lexemePhonForm">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.phon_form id="phoneTic" size="8" class="form-control" %}
                  {% elif lexeme.phon_form.data %}
                    {{ lexeme.phon_form.data }}
                  {% endif %}
                </td>
                {# gloss_data.html #}
                <td class="lexemeGloss">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.gloss size="8" class="form-control" data-longinput="16" %}
                  {% elif lexeme.object_data.gloss %}
                    {{ lexeme.object_data.gloss }}
                  {% endif %}
                </td>
                {# notes_data.html #}
                <td class="lexemeNotes">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.notes class="form-control" data-longinput="15" %}
                  {% elif lexeme.notes.data %}
                    {{ lexeme.notes.data }}
                  {% endif %}
                </td>
                {# weblookup_data.html #}
                <td>
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs"
                            type="button"
                            id="src2root#{{lexeme.romanised.name}}#{{lexeme.rfcWebLookup1.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                  {% endif %}
                </td>
                <td class="lexemeRfcWebLookup1">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.rfcWebLookup1 class="form-control" %}
                  {% elif lexeme.rfcWebLookup1.data %}
                    {{ lexeme.rfcWebLookup1.data }}
                  {% endif %}
                </td>
                <td class="hide">
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs"
                            type="button"
                            id="src2root#{{lexeme.romanised.name}}#{{lexeme.rfcWebLookup2.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                  {% endif %}
                </td>
                <td class="lexemeRfcWebLookup2 hide">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.rfcWebLookup2 class="form-control" %}
                  {% elif lexeme.rfcWebLookup2.data %}
                    {{ lexeme.rfcWebLookup2.data }}
                  {% endif %}
                </td>
                {# dubious_data.html #}
                <td class="lexemeDubious">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.dubious class="form-control" %}
                  {% else %}
                    {% form_field lexeme.dubious class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
