{% extends "base.html" %}
{% load lexicon_utils %}

{% block title %}Languages{% endblock %}

{% block top %}<h1>Languages</h1>{% endblock %}

{% block content %}
<table>
  <thead> {# handy for the print view #}
    <tr>
      <th></th>
      <th>Name</th>
      <th>ISO-639-3</th>
      <th>Lexemes</th>
      <th>% Coded</th>
      <th>Include</th>
    </tr>
  </thead>
  <tbody>
  {% for language in languages %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>
        <small>{{ forloop.counter }}</small>
    </td>
      <td>
        <a href="{% url language-edit language.ascii_name %}">
          <img src="/media/buttons/edit.png" alt="edit" title="Edit {{ language.utf8_name }} metadata" />
        </a>
        <a href="{% url language-report language.ascii_name %}" alt="view lexeme list" title="View Swadesh list for {{ language.utf8_name }}">
          {{ language.utf8_name }}
        </a>
      </td>
      <td>
        <a href="http://www.ethnologue.com/show_language.asp?code={{ language.iso_code }}" target="_blank">
          {{ language.iso_code }}
        </a>
      </td>
      <td>
        {{ language.lexeme_set.all.count }}
      </td>
      <td>
        {{ language.percent_coded }}
      </td>
      <td>{% if language.id|in_list:current_list.language_id_list %}
            <img src="/media/buttons/tick.png" alt="*" title="Included" />
          {% else %}
            <img src="/media/buttons/delete.png" alt="" title="Excluded" />
          {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}
{% include "snippets/change_sort_order.html" %}
<ul class="navigation">
{% if user.is_superuser %}
<li><a href="/languages/reorder/">edit genealogical sort order</a></li>
<li><a href="/languages/add-new/">add/delete language</a></li>
</ul>
{% endif %}
<h2>Controls</h2>
<p>
<form action="" method="post">{% csrf_token %}
<fieldset>
<legend>Language List<legend>
<table>
{{ language_list_form.as_table }}
</table>
{% if current_list.description %}
<small>
  <b>Description:</b> {{ current_list.description }}
</small>
{% endif %}
<p class="help">Limit all results to a predefined list of languages</p>
</fieldset>
</form>
</p>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
