{% extends "base.html" %}

{% load wtforms %}

{% block title %}{{ language.utf8_name }}{% endblock %}

{% block top %}
  <h1>{{ language.utf8_name }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal"
            action="" method="POST">
        {% csrf_token %}
        {% form_field form.idField required="required" class="hide" %}
        {% form_field form.lastTouched required="required" class="hide" %}
        {% form_field form.lastEditedBy required="required" class="hide" %}
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.utf8_name.label }}</label>
          <div class="col-sm-8">
            {% form_field form.utf8_name required="required" class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.ascii_name.label }}</label>
          <div class="col-sm-8">
            {% form_field form.ascii_name required="required" class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">Ascii name</label>
          <div class="col-sm-8">
            {{ language.originalAsciiName }}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.iso_code.label }}</label>
          <div class="col-sm-8">
            {% form_field form.iso_code class="form-control" pattern="(^$|...)" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">Glottocode</label>
          <div class="col-sm-8">
            {% form_field form.glottocode class="form-control" pattern="(^$|[a-z]{4}\d{4})" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.variety.label }}</label>
          <div class="col-sm-8">
            {% form_field form.variety class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
              <label>
                {% form_field form.foss_stat %}
                {{ form.foss_stat.label }}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
              <label>
                {% form_field form.low_stat %}
                {{ form.low_stat.label }}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.soundcompcode.label }}</label>
          <div class="col-sm-8">
            {% form_field form.soundcompcode class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.level0.label }}</label>
          <div class="col-sm-8">
            {% form_field form.level0 class="form-control" pattern="\d*" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.level1.label }}</label>
          <div class="col-sm-8">
            {% form_field form.level1 class="form-control" pattern="\d*" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.level2.label }}</label>
          <div class="col-sm-8">
            {% form_field form.level2 class="form-control" pattern="\d*" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.level3.label }}</label>
          <div class="col-sm-8">
            {% form_field form.level3 class="form-control" pattern="\d*" %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <div class="checkbox">
              <label>
                {% form_field form.representative %}
                {{ form.representative.label }}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.mean_timedepth_BP_years.label }}</label>
          <div class="col-sm-8">
            {% form_field form.mean_timedepth_BP_years class="form-control" pattern="[0-9]{0,4}" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.std_deviation_timedepth_BP_years.label }}</label>
          <div class="col-sm-8">
            {% form_field form.std_deviation_timedepth_BP_years class="form-control" pattern="[0-9]{0,4}" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.rfcWebPath1.label }}</label>
          <div class="col-sm-8">
            {% form_field form.rfcWebPath1 class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.rfcWebPath2.label }}</label>
          <div class="col-sm-8">
            {% form_field form.rfcWebPath2 class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.author.label }}</label>
          <div class="col-sm-8">
            {% form_field form.author class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.reviewer.label }}</label>
          <div class="col-sm-8">
            {% form_field form.reviewer class="form-control" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.earliestTimeDepthBound.label }}</label>
          <div class="col-sm-8">
            {% form_field form.earliestTimeDepthBound class="form-control" pattern="[0-9]{0,4}" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.latestTimeDepthBound.label }}</label>
          <div class="col-sm-8">
            {% form_field form.latestTimeDepthBound class="form-control" pattern="[0-9]{0,4}" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.progress.label }}</label>
          <div class="col-sm-8">
            {% form_field form.progress class="form-control" pattern="^\d$" required="required" %}
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">{{ form.sortRankInClade.label }}</label>
          <div class="col-sm-8">
            {% form_field form.sortRankInClade class="form-control" pattern="\d*" %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-danger">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
