{% extends "base.html" %}

{% block title %}Semantic domains{% endblock %}

{% block top %}
  <h1>
    {{ language.utf8_name }} ― Semantic domains
  </h1>
{% endblock %}

{% block content %}
  {% if not domains %}
    {{ language.utf8_name }} does not have any lexemes registered as extensions of
    <a href="{% url 'view-domains' %}">semantic domains</a>
  {% else %}
    {{ language.utf8_name }} has lexemes registered as extensions of the following
    <a href="{% url 'view-domains' %}">semantic domains</a>:
    <ul>
      {% for domain in domains %}
        <li>
          <a href="{% url 'language-domain-view' language.ascii_name domain.name %}">
            {{ domain.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
  <li>
    <a href="{% url 'language-report' language.ascii_name %}">
      Back to language list ‘{{ language.utf8_name }}’
    </a>
  </li>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
