{% extends "base.html" %}
{% load lexicon_utils %}
{% block title %}Lexeme report{% endblock %}

{% block top %}
<h1>{{ lexeme.language.utf8_name }}: {% include "snippets/lexeme_form.html" %}</h1>
{% endblock %}

{% block content %}

{# -- Lexeme -------------------------------------------------------- #}
<h2>Lexeme data</h2>

{% ifequal action "edit" %} 
<form action="" method="post">{% csrf_token %}
<fieldset>
<table>
  {{ form.as_table }}
  <tr><td class="rowname">Cognate codes:</td>
      <td>{% for cs in lexeme.cognate_class.all %}
        <a href="/cognate/{{ cs.id }}/">{{ cs.alias }}</a>
        {% if forloop.last %}{% else %}, {% endif %}
          {% endfor %}</td>
  </tr>
</table>
{% include "buttons/submit-gloss-cancel.html" %}
</fieldset>
</form>
{% else %}
<fieldset><legend>
            {% if user.is_authenticated %}
            <a href="/lexeme/{{ lexeme.id }}/edit">
              <img src="/media/buttons/edit-pencil.png" alt="Edit" title="Edit" />
            </a>
            <img src="/media/buttons/delete.png" 
              alt="To delete lexeme add /delete/to url (use with care!)" 
              title="To delete lexeme add /delete/ to url (use with care!)" />
            {% endif %}
          </legend>
<table>
  <tr><td class="rowname">Language:</td><td><a href="/language/{{ lexeme.language.ascii_name }}/">{{ lexeme.language.utf8_name }}</a></td></tr>
  <tr><td class="rowname">Meaning:</td><td><a href="/meaning/{{ lexeme.meaning.gloss }}/{{ lexeme.id }}/#lexeme_{{ lexeme.id }}">{{ lexeme.meaning.gloss }}</a></td></tr>
<tr><td class="rowname">Source form:</td><td>{{ lexeme.source_form }}</td></tr>
<tr><td class="rowname">Phonological form:</td><td>{{ lexeme.phon_form }}</td></tr>
<tr><td class="rowname">Gloss:</td><td>{{ lexeme.gloss }}</td></tr>
{% if lexeme.semanticextension_set.count %}
<tr><td class="rowname">Semantic extension/s:</td>
  <td>{% for extension in lexeme.semanticextension_set.all %}{{ extension.relation.relation_code }}{% if not forloop.last %},{% endif %} {% endfor %}</td>
</tr>
{% endif %}
<tr><td class="rowname">Notes:</td><td>{{ lexeme.notes|wikilink }}</td></tr>
<tr><td class="rowname">Cognate codes:</td>
    <td>{% for cs in lexeme.cognate_class.all %}
      <a href="/cognate/{{ cs.id }}/">{{ cs.alias }}</a>
      {% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}</td>
</tr>
</table>
</fieldset>
{% endifequal %}


{# -- Sources ------------------------------------------------------- #}
<h2>Source{{ lexeme.lexemecitation_set.count|pluralize}} of lexical data</h2>

{% for citation in lexeme.lexemecitation_set.all %}
  {% ifequal citation.id active_citation_id %}
    {% ifequal action "edit-citation" %}
      <form action="" method="post">{% csrf_token %}
      <fieldset>
      <table>
      {{ citation.source.citation_text }}
      {{ form.as_table }}
      </table>
      {% include "buttons/submit-gloss-cancel.html" %}
      </fieldset>
    </form>
    {% else %}
      <fieldset>
        <legend>
          <a href="/lexeme/{{ lexeme.id }}/edit-citation/{{ citation.id }}">
            <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit citation details" /></a>
          <a href="/lexeme/{{ lexeme.id }}/delink-citation/{{ citation.id }}">
            <img src="/media/buttons/delink.png" alt="Delink" title="Delink citation" /></a>
        </legend>
        {% include "snippets/citation_report.html" %}
      </fieldset>
    {% endifequal %}
  {% else %}
  <fieldset>
    <legend>
        {% if user.is_authenticated %}
        <a href="/lexeme/{{ lexeme.id }}/edit-citation/{{ citation.id }}">
          <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit citation details" /></a>
        <a href="/lexeme/{{ lexeme.id }}/delink-citation/{{ citation.id }}">
          <img src="/media/buttons/delink.png" alt="Delink" title="Delink citation" /></a>
        {% endif %}
        <a href="/source/{{ citation.source.id }}/">
          <img src="/media/buttons/view-big.png", alt="View source", title="View source" /></a>
    </legend>
    {% include "snippets/citation_report.html" %}
  </fieldset>
  {% endifequal %}
{% endfor %}

{% ifequal action "add-citation" %}
  <form action="" method="post">{% csrf_token %}
  <fieldset>
    <table>
    {{ form.as_table }}
  </table>
  {% include "buttons/submit-gloss-cancel.html" %}
  </fieldset>
  </form>
{% else %}
  {% if user.is_authenticated %}
  <fieldset><legend><strong>Add link to source</strong>
              <a href="/lexeme/{{ lexeme.id }}/add-citation/">
              <img src="/media/buttons/add-link.png" alt="Add" title="Add link to citation" /></a>
            </legend>     
      <small>Add a link to a source already in the database</small><br />
      <strong>Add link to new Source</strong> 
      <a href="/source/add/lexeme/{{ lexeme.id }}/">
        <img src="/media/buttons/add.png" alt="Add new source" title="Add citation to new source" />
      </a><br />
      <small>Add a new source to the database and link to it</small>
  </fieldset>
  {% endif %}
{% endifequal %}


{# -- Cognate judgements -------------------------------------------- #}
<h2>Cognate coding</h2>
{% if lexeme.cognatejudgement_set.count %}
{% for cj in lexeme.cognatejudgement_set.all %}
<fieldset>
    <legend>
      <strong>Cognate Class {{ cj.cognate_class.alias }}</strong>
      {% if user.is_authenticated %}
      <a href="/lexeme/{{ lexeme.id }}/delink-cognate/{{ cj.id }}/">
        <img src="/media/buttons/delink.png" alt="Delink" title="Delink cognate from this lexeme" />
      </a>
      {% endif %}
    </legend>
    {% for citation in cj.cognatejudgementcitation_set.all %}
    {% ifequal action "edit-cognate-citation" %}
      {% ifequal citation.id active_citation_id %}
        <form action="" method="post">{% csrf_token %}
        <fieldset>
        <table>
        {{ citation.source.citation_text }}
        {{ form.as_table }}
        </table>
        {% include "buttons/submit-gloss-cancel.html" %}
        </fieldset>
        </form>
      {% else %}
        <fieldset>
          <legend>
            {% if user.is_authenticated %}
            <a href="/lexeme/{{ lexeme.id }}/edit-cognate-citation/{{ citation.id }}">
              <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit cognate citation details" />
            </a>
            <a href="/lexeme/{{ lexeme.id }}/delink-cognate-citation/{{ citation.id }}">
              <img src="/media/buttons/delink.png" alt="Delink" title="Delink cognate citation" />
            </a>
            {% endif %}
            <a href="/source/{{ citation.source.id }}/">
              <img src="/media/buttons/view-big.png", alt="View source", title="View source" /></a>
          </legend>
          {% include "snippets/citation_report.html" %}
        </fieldset>
      {% endifequal %}
    {% else %}
      <fieldset>
        <legend>
          {% if user.is_authenticated %}
          <a href="/lexeme/{{ lexeme.id }}/edit-cognate-citation/{{ citation.id }}">
            <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit cognate citation details" />
          </a>
          <a href="/lexeme/{{ lexeme.id }}/delink-cognate-citation/{{ citation.id }}">
            <img src="/media/buttons/delink.png" alt="Delink" title="Delink cognate citation" />
          </a>
          {% endif %}
          <a href="/source/{{ citation.source.id }}/">
            <img src="/media/buttons/view-big.png", alt="View source", title="View source" /></a>
        </legend>
        {% include "snippets/citation_report.html" %}
      </fieldset>
    {% endifequal %}
    {% endfor %}
  {% ifequal active_cogjudge_citation_id cj.id %}
    <form action="" method="post">{% csrf_token %}
    <fieldset>
      <table>
      {{ form.as_table }}
    </table>
    {% include "buttons/submit-gloss-cancel.html" %}
    </fieldset>
    </form>
  {% else %}
    {% if user.is_authenticated %}
    <fieldset>
      <legend><strong>Add link to source</strong>
        <a href="/lexeme/{{ lexeme.id }}/add-cognate-citation/{{ cj.id }}/">
          <img src="/media/buttons/add-link.png" alt="Add" title="Add link to citation" /></a></legend>
        </a>
      </legend>
    <small>Add a link to a source already in the database</small><br />
    <strong>Add link to new Source</strong> 
      <a href="/source/add/cognate-judgement/{{ cj.id }}">
        <img src="/media/buttons/add.png" alt="Add new source" title="Add citation to new source" /> 
      </a><br />
      <small>Add a new source to the database and link to it</small>
    </fieldset>
    {% endif %}
  {% endifequal %}
</fieldset>
{% endfor %}
{% endif %}

{% if user.is_authenticated %}
<fieldset>
  <legend>
    <strong>Add link to cognate class</strong>
    <a href="/meaning/{{ lexeme.meaning.gloss }}/{{ lexeme.id }}/add/#lexeme_{{ lexeme.id }}">
      <img src="/media/buttons/add-link.png" alt="Add new cognate judgement" title="Add new cognate judgement" />
    </a>
  </legend>
      <small><ul>
        <li>This is additional to judgments already made. </li>
        <li>After adding a new cognate judgement it is normally appropriate to
        delete the other ones (forms <em>can</em> belong to more than one
        class, but usually shouldn't)</li>
      </ul></small>
    <strong>Add link to new cognate class</strong> 
    <a href="/lexeme/{{ lexeme.id }}/add-new-cognate/">
      <img src="/media/buttons/add-link.png" alt="Add new cognate judgement" title="Add cognate judgement to new cognate class" />
    </a>
      <small><ul>
        <li>Only link to a new, hitherto unseen, cognate class when you expect there to 
        be more members of it</li>
      </ul></small>
</fieldset>
{% endif %}
{% endblock %}

{% block controls %}
{% include "snippets/prev_next_lexeme.html" %}
{% include "snippets/go_to.html" %}
<ul class="navigation">
  {% if lexeme.meaning %}
    <li><a href="/meaning/{{ lexeme.meaning.gloss }}">back to meaning list ‘{{ lexeme.meaning.gloss }}’</a></li>
  {% endif %}
  {% if lexeme.semanticextension_set.exists %}
  <li><a href="{% url lexeme-domains-list lexeme.id  %}">view semantic exensions</a></li>
  {% endif %}
  <li><a href="/language/{{ lexeme.language.ascii_name }}">back to ‘{{ lexeme.language.utf8_name }}’ wordlist</a></li>
  {% if user.is_authenticated %}
    <li><a href="{% url language-add-lexeme lexeme.language.ascii_name %}">add a new lexeme to ‘{{ lexeme.language.utf8_name }}’</a></li>
      {% if lexeme.meaning %}
      <li><a href="{% url meaning-add-lexeme lexeme.meaning.gloss %}">add a new lexeme to ‘{{ lexeme.meaning.gloss }}’</a></li>
  {% endif %}
  {% endif %}
</ul>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
