{% extends "base.html" %}
{% block title %}Lexeme report{% endblock %}

{% block top %}<h1>{% include "snippets/language_lexeme.html" %}</h1>{% endblock %}

{% block content %}

{# -- Lexeme -------------------------------------------------------- #}
<h2>Lexeme data</h2>

{% ifequal action "edit-lexeme" %} 
<form action="" method="post">
<fieldset>
<table>
  <tr><td class="rowname">Language:</td><td><a href="/language/{{ lexeme.language.ascii_name }}">{{ lexeme.language.utf8_name }}</a></td></tr>
<tr><td class="rowname">Meaning:</td><td><a href="/meaning/{{ lexeme.meaning.gloss }}">{{ lexeme.meaning.gloss }}</a></td></tr>
<tr><td class="rowname">Source form:</td><td>{{ form.source_form }}</td></tr>
<tr><td class="rowname">Phonological form:</td><td>{{ form.phon_form }}</td></tr>
<tr><td class="rowname">Notes:</td><td>{{ form.notes }}</td></tr>
<tr><td class="rowname">Sources:</td>
    <td>{{ form.sources }}</td>
</tr>
<tr><td class="rowname">Cognate codes:</td>
    <td>{% for cs in lexeme.cognate_class.all %}
	        {{ cs.alias }}{% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}</td>
</tr>
</table>
 <input type="submit" name="submit" value="Submit" /> 
 <input type="submit" name="cancel" value="Cancel" /> 
</fieldset>
</form>
{% else %}
<fieldset><legend><a href="/lexeme/{{ lexeme.id }}/edit-lexeme">
            <img src="/media/buttons/edit-pencil.png" alt="Edit" title="Edit" /></a></legend>
<table>
  <tr><td class="rowname">Language:</td><td><a href="/language/{{ lexeme.language.ascii_name }}">{{ lexeme.language.utf8_name }}</a></td></tr>
<tr><td class="rowname">Meaning:</td><td><a href="/meaning/{{ lexeme.meaning.gloss }}">{{ lexeme.meaning.gloss }}</a></td></tr>
<tr><td class="rowname">Source form:</td><td>{{ lexeme.source_form }}</td></tr>
<tr><td class="rowname">Phonological form:</td><td>{{ lexeme.phon_form }}</td></tr>
<tr><td class="rowname">Notes:</td><td>{{ lexeme.notes }}</td></tr>
<tr><td class="rowname">Cognate codes:</td>
    <td>{% for cs in lexeme.cognate_class.all %}
	        {{ cs.alias }}{% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}</td>
</tr>
</table>
</fieldset>
{% endifequal %}


{# -- Sources ------------------------------------------------------- #}
<h2>Source{{ lexeme.lexemecitation_set.count|pluralize}} of lexical data</h2>

{% for citation in lexeme.lexemecitation_set.all %}
  {% ifequal citation.id active_citation_id %}
    {% ifequal action "edit-citation" %}
      <form action="" method="post">
      <fieldset>
      <table>
      {{ citation.source.citation_text }}
      {{ form.as_table }}
      </table>
      <input type="submit" name="submit" value="Submit" /> 
      <input type="submit" name="cancel" value="Cancel" /> 
      </fieldset>
    </form>
    {% else %}
      <fieldset>
        <legend>
          <a href="/lexeme/{{ lexeme.id }}/edit-citation/{{ citation.id }}">
            <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit citation details" /></a>
          <a href="/lexeme/{{ lexeme.id }}/delink-citation/{{ citation.id }}">
            <img src="/media/buttons/delink.png" alt="Delink" title="Delink citation" /></a>
        </legend>
	{% include "snippets/citation_report.html" %}
      </fieldset>
    {% endifequal %}
  {% else %}
  <fieldset>
    <legend>
          <a href="/lexeme/{{ lexeme.id }}/edit-citation/{{ citation.id }}">
            <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit citation details" /></a>
          <a href="/lexeme/{{ lexeme.id }}/delink-citation/{{ citation.id }}">
            <img src="/media/buttons/delink.png" alt="Delink" title="Delink citation" /></a>
          <a href="/source/{{ citation.source.id }}/">
            <img src="/media/buttons/view-big.png", alt="View source", title="View source" /></a>
    </legend>
    {% include "snippets/citation_report.html" %}
  </fieldset>
  {% endifequal %}
{% endfor %}

{% ifequal action "add-citation" %}
  <form action="" method="post">
  <fieldset>
    <table>
    {{ form.as_table }}
  </table>
  <input type="submit" name="submit" value="Submit" /> 
  <input type="submit" name="cancel" value="Cancel" /> 
  </fieldset>
  </form>
{% else %}
<fieldset><legend><a href="/lexeme/{{ lexeme.id }}/add-citation/">
            <img src="/media/buttons/add-link.png" alt="Add" title="Add link to citation" /></a></legend>
  <small>Add a link to a source already in the database</small>
</fieldset>
{% endifequal %}


{# -- Cognate judgements -------------------------------------------- #}
<h2>Cognate coding</h2>
{% if lexeme.cognatejudgement_set.count %}
{% for cj in lexeme.cognatejudgement_set.all %}
<fieldset>
    <legend>
      <strong>Cognate Class {{ cj.cognate_class.alias }}</strong>
      <a href="/lexeme/{{ lexeme.id }}/delink-cognate/{{ cj.id }}">
        <img src="/media/buttons/delink.png" alt="Delink" title="Delink cognate from this lexeme" />
      </a>
    </legend>
    {% for citation in cj.cognatejudgementcitation_set.all %}
    {% ifequal action "edit-cognate" %}
      {% ifequal citation.id active_citation_id %}
	<form action="" method="post">
	<fieldset>
	<table>
	{{ citation.source.citation_text }}
	{{ form.as_table }}
	</table>
	<input type="submit" name="submit" value="Submit" /> 
	<input type="submit" name="cancel" value="Cancel" /> 
	</fieldset>
	<form>
      {% else %}
	<fieldset>
          <legend>
            <a href="/lexeme/{{ lexeme.id }}/edit-cognate/{{ cj.cognate_class.id }}/{{ citation.id }}">
              <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit cognate citation details" />
            </a>
            <a href="/lexeme/{{ lexeme.id }}/delink-cognate-citation/{{ citation.id }}">
              <img src="/media/buttons/delink.png" alt="Delink" title="Delink cognate citation" />
            </a>
            <a href="/source/{{ citation.source.id }}/">
              <img src="/media/buttons/view-big.png", alt="View source", title="View source" /></a>
          </legend>
	  {% include "snippets/citation_report.html" %}
	</fieldset>
      {% endifequal %}
    {% else %}
      <fieldset>
        <legend>
          <a href="/lexeme/{{ lexeme.id }}/edit-cognate/{{ cj.cognate_class.id }}/{{ citation.id }}">
            <img src="/media/buttons/edit-link.png" alt="Edit" title="Edit cognate citation details" />
          </a>
          <a href="/lexeme/{{ lexeme.id }}/delink-cognate-citation/{{ citation.id }}">
            <img src="/media/buttons/delink.png" alt="Delink" title="Delink cognate citation" />
          </a>
          <a href="/source/{{ citation.source.id }}/">
            <img src="/media/buttons/view-big.png", alt="View source", title="View source" /></a>
        </legend>
	{% include "snippets/citation_report.html" %}
      </fieldset>
    {% endifequal %}
    {% endfor %}
  {% ifequal active_cogjudge_citation_id cj.id %}
    <form action="" method="post">
    <fieldset>
      <table>
      {{ form.as_table }}
    </table>
    <input type="submit" name="submit" value="Submit" /> 
    <input type="submit" name="cancel" value="Cancel" /> 
    </fieldset>
    </form>
  {% else %}
    <fieldset>
      <legend>
        <a href="/lexeme/{{ lexeme.id }}/add-cognate-citation/{{ cj.id }}">
          <img src="/media/buttons/add-link.png" alt="Add" title="Add link to citation" /></a></legend>
        </a>
      </legend>
    <small>Add a link to a source already in the database</small>
    </fieldset>
  {% endifequal %}
</fieldset>
{% endfor %}
{% endif %}
<fieldset>
  <legend>
    <strong>Add link to cognate class</strong>
    <a href="/meaning/{{ lexeme.meaning.gloss }}/{{ lexeme.id }}/add/">
      <img src="/media/buttons/add-link.png" alt="Add new cognate judgement" title="Add new cognate judgement" />
    </a>
  </legend>
      <small><ul>
        <li>This is additional to judgments already made. </li>
        <li>After adding a new cognate judgement it is normally appropriate to
        delete the other ones (forms <em>can</em> belong to more than one
        class, but usually shouldn't)</li>
      </ul></small>
    <strong>Link to new cognate class</strong> 
    <a href="/lexeme/{{ lexeme.id }}/add-new-cognate/">
      <img src="/media/buttons/add-link.png" alt="Add new cognate judgement" title="Add cognate judgement to new cognate class" />
    </a>
      <small><ul>
        <li>Only link to a new, hitherto unseen, cognate class when you expect there to 
        be more members of it</li>
      </ul></small>
</fieldset>
{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}
<ul>
  <li>Back to meaning list ‘<a href="/meaning/{{ lexeme.meaning.gloss }}">{{ lexeme.meaning.gloss }}</a>’</li>
</ul>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
