{% extends "base.html" %}

{% load wtforms %}

{% block title %}Add lexeme{% endblock %}

{% block top %}
  <h1>Add lexeme</h1>
{% endblock %}

{% block content %}
  <form action="" method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label for="typeaheadLanguageId" class="col-sm-2 control-label">
        {{ form.language_id.label }}
      </label>
      <div class="col-sm-3">
        <input id="typeaheadLanguageId"
               type="text"
               class="typeaheadInput form-control"
               data-inputfor="language_id"
               data-typeahead="{{ languageTypeahead | escapejs }}"
               value="">
      </div>
      <label for="language_id" class="col-sm-2" control-label>
        Language ID:
      </label>
      <div class="col-sm-2">
        {% form_field form.language_id pattern="\d+" class="form-control" required="required" placeholder="Filled in by Language" %}
      </div>
    </div>
    <div class="form-group">
      <label for="typeaheadMeaningId" class="col-sm-2 control-label">
        {{ form.meaning_id.label }}
      </label>
      <div class="col-sm-3">
        <input id="typeaheadMeaningId"
               type="text"
               class="typeaheadInput form-control"
               data-inputfor="meaning_id"
               data-typeahead="{{ meaningTypeahead | escapejs }}"
               value="">
      </div>
      <label for="meaning_id" class="col-sm-2" control-label>
        Meaning ID:
      </label>
      <div class="col-sm-2">
        {% form_field form.meaning_id pattern="\d+" class="form-control" required="required" placeholder="Filled in by Meaning" %}
      </div>
    </div>
    <div class="form-group">
      <label for="source_form" class="col-sm-2 control-label">
        {{ form.source_form.label }}
      </label>
      <div class="col-sm-3">
        {% form_field form.source_form class="form-control" %}
      </div>
    </div>
    <div class="form-group">
      <label for="transliteration" class="col-sm-2 control-label">
        {{ form.transliteration.label }}
      </label>
      <div class="col-sm-3">
        {% form_field form.transliteration class="form-control" %}
      </div>
    </div>
    <div class="form-group">
      <label for="phon_form" class="col-sm-2 control-label">
        {{ form.phon_form.label }}
      </label>
      <div class="col-sm-3">
        {% form_field form.phon_form class="form-control" %}
      </div>
    </div>
    <div class="form-group">
      <label for="phoneMic" class="col-sm-2 control-label">
        {{ form.phoneMic.label }}
      </label>
      <div class="col-sm-3">
        {% form_field form.phoneMic class="form-control" %}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-3">
        <a href="." class="btn btn-default">Cancel</a>
        <input class="btn btn-danger" type="submit" name="submit" value="Create">
      </div>
    </div>
  </form>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
