{% extends "base.html"%}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Problematic Romanised
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/addAuthorModal.html" %}
  {% include "snippets/deleteAuthorModal.html" %}
  <div class="row">
    <div class="col-md-9">
      <h1>Problematic lexemes:</h1>
      <table class="table table-striped viewTableFilter">
        <thead>
          <tr>
            <th>Id</th>
            <th>
              <div class="vertical-text">
                <div class="vertical-text__inner">
                  Not Swh
                </div>
              </div>
            </th>
            <th>Meaning</th>
            <th>Romanised</th>
            <th>Native Script</th>
            <th style="width:60%">Offending Symbols</th>
          </tr>
          <tr class="filterBar">
            <td></td>
            <td>
              <button type="button" class="filterBool btn btn-xs btn-danger"
                      data-selector=".lexemeNotSwadeshTerm input">
              <span class="glyphicon glyphicon-remove-sign"></span>
              </button>
            </td>
            <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeMeaning">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeMeaning">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for lexeme in offendingLexemes %}
          <tr>
            <td>
              <a href="{% url 'view-lexeme' lexeme.id %}">
              {{ lexeme.id }}
              </a>
            </td>
            <td class="lexemeNotSwadeshTerm" style="width:10px">
                <input type="checkbox"
                       {% if lexeme.not_swadesh_term %}
                       checked="checked"
                       {% endif %}
                       disabled="disabled"
                       class="form-control">
            </td>
            <td class="lexemeMeaning">{{ lexeme.meaning }}</td>
            <td>{{ lexeme.romanised }}</td>
            <td>{{ lexeme.nativeScript }}</td>
            <td>
              {% for offending in lexeme.offendingSymbols %}
              <span class="badge" data-addallowedsymbol="{{ offending.escapedSymbol }}">
                <span class="glyphicon glyphicon-plus"></span>
                {'{{ offending.symbol }}'}, {{ offending.escapedSymbol }}
              </span>
              {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3 pull-right">
      <h1>Approved Symbols:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Remove?</th>
            <th>Added when</th>
          </tr>
        </thead>
        <tbody>
          {% for allowed in allowedSymbols %}
          <tr>
            <td style="white-space: pre;">{'{{ allowed.symbol }}'}</td>
            <td>
              <span class="badge" data-removeallowedsymbol="{{ allowed.escapedSymbol }}">
                <span class="glyphicon glyphicon-trash"></span>
                {{ allowed.escapedSymbol }}
              </span>
            </td>
            <td>{{ allowed.formattedLastTouchedDate }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
