{% extends "base.html"%}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Authors
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/addAuthorModal.html" %}
  {% include "snippets/deleteAuthorModal.html" %}
  <div class="row">
    {% if offendingLexemes %}
    <div class="col-md-12" style="margin-top: 51px;">
      <h1>Problematic lexemes:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Meaning</th>
            <th>Romanised</th>
            <th>Native Script</th>
            <th>Offending Symbols</th>
          </tr>
        </thead>
        <tbody>
          {% for lexeme in offendingLexemes %}
          <tr>
            <td>
              <a href="{% url 'view-lexeme' lexeme.id %}">
              {{ lexeme.id }}
              </a>
            </td>
            <td>{{ lexeme.meaning }}</td>
            <td>{{ lexeme.romanised }}</td>
            <td>{{ lexeme.nativeScript }}</td>
            <td>
              {% for offending in lexeme.offendingSymbols %}
              <span class="badge" data-addallowedsymbol="{{ offending.escapedSymbol }}">
                <span class="glyphicon glyphicon-plus"></span>
                {'{{ offending.symbol }}'}, {{ offending.escapedSymbol }}
              </span>
              {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    <div class="col-md-12" style="margin-top: 51px;">
      <h1>Allowed Symbols:</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Remove?</th>
            <th>Added when</th>
          </tr>
        </thead>
        <tbody>
          {% for allowed in allowedSymbols %}
          <tr>
            <td style="white-space: pre;">{'{{ allowed.symbol }}'}</td>
            <td>
              <span class="badge" data-removeallowedsymbol="{{ allowed.escapedSymbol }}">
                <span class="glyphicon glyphicon-trash"></span>
                {{ allowed.escapedSymbol }}
              </span>
            </td>
            <td>{{ allowed.lastTouched }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
