{% extends "base.html" %}

{% block title %}Add relation list{% endblock %}

{% block top %}<h1>Add relation list</h1>{% endblock %}

{% block content %}
<form action="" method="POST">{% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input type="submit" name="submit" value="Submit" />
        <input type="submit" name="cancel" value="Cancel" />
      </td>
      <td></td>
    </tr>
  </table>
</form>
{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}

