{% extends "base.html" %}
{% load lexicon_utils %}

{% block title %}Semantic domain{% endblock %}

{% block top %}<h1>Semantic domain ‘{{ semantic_domain.name }}’</h1>{% endblock %}

{% block content %}
  <p>{{ semantic_domain.description }}</p>
  <table>
    <thead> {# handy for the print view #}
      <tr>
        <th></th>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
    {% for relation in relations %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <small>{{ forloop.counter }}</small>
        </td>
        <td><a href="{{ relation.get_absolute_url }}">{{ relation.relation_code }}</a></td>
        <td>{{ relation.long_name }}</td>
        <td>{{ relation.description|truncatewords:10 }}</td>
        <td>{{ relation.notes|truncatewords:10 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {# TODO REDESIGN THIS #}
  <form action="" method="post">{% csrf_token %}
    <fieldset>
      <legend>View extension for language<legend>
      <table>
        {{ form.as_table }}
      </table>
    </fieldset>
  </form>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
  <li>
    <a href="{% url 'add-semantic-domain' %}">add new semantic domain</a></li>
  <li>
    <a href="{% url 'edit-semantic-domain' semantic_domain.name %}">
      edit semantic domain: {{ semantic_domain.name }}
    </a>
  </li>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
