{% extends "base.html"%}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  Sound Comparisons sets
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/addSndCompModal.html" %}
  {% include "snippets/deleteSndCompModal.html" %}
  <div class="row">
    <div class="col-md-12" style="margin-top: 55px;">
      {% if user.is_authenticated and user.is_staff %}
        <form action="" method="POST" name="sndComps">
          {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated and user.is_staff %}
          <div class="form-group pull-right">
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Add new SndComp language set">
              <button type="button"
                      data-toggle="modal"
                      data-target="#addSndCompModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </a>
            </div>
            <div class="inline"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title="Delete SndComp language set">
              <button type="button"
                      data-toggle="modal"
                      data-target="#deleteSndCompModal"
                      class="btn btn-default">
                <span class="glyphicon glyphicon-minus"></span>
              </a>
            </div>
            <a href="/sndComp/" class="btn btn-default">Undo</a>
            <input type="submit"
                   value="Save"
                   class="btn btn-danger"
                   name="sndComps">
          </div>
        {% endif %}
      </div>
        <table class="table table-condensed viewTableFilter"
               data-floatheadtop="50">
          <thead>
            <tr>
              <th>SndComp Lg Set Name</th>
              <th>Lv 0</th>
              <th>Lv 1</th>
              <th>Lv 2</th>
              <th>Lv 3</th>
              {# For Clade reference: #}
              <th>Clade name</th>
              <th>Cl 0</th>
              <th>Cl 1</th>
              <th>Cl 2</th>
              <th>Cl 3</th>
            </tr>
            <tr class="filterBar">
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".lgSetName input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lgSetName input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".lgSetName">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lgSetName">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".level0 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level0 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".level0">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level0">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".level1 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level1 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".level1">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level1">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".level2 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level2 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".level2">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level2">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".level3 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".level3 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".level3">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".level3">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".cladeName">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".cladeName">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".cladeLevel0 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel0 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".cladeLevel0">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel0">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".cladeLevel1 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel1 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".cladeLevel1">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel1">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".cladeLevel2 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel2 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".cladeLevel2">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel2">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated and user.is_staff %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".cladeLevel3 input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".cladeLevel3 input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".cladeLevel3">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".cladeLevel3">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
            </tr>
          </thead>
          <tbody>
            {% for sndComp in sndComps.elements %}
              <tr>
                <td class="hide">
                  {% form_field sndComp.idField required="required" %}
                  {% form_field sndComp.lastTouched required="required" %}
                  {% form_field sndComp.lastEditedBy required="required" %}
                </td>
                <td class="lgSetName">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.lgSetName class="form-control" pattern="^.+$" %}
                  {% elif sndComp.lgSetName.data %}
                    {{ sndComp.lgSetName.data }}
                  {% endif %}
                </td>
                <td class="level0">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.lv0 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.lv0.data %}
                    {{ sndComp.lv0.data }}
                  {% endif %}
                </td>
                <td class="level1">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.lv1 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.lv1.data %}
                    {{ sndComp.lv1.data }}
                  {% endif %}
                </td>
                <td class="level2">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.lv2 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.lv2.data %}
                    {{ sndComp.lv2.data }}
                  {% endif %}
                </td>
                <td class="level3">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.lv3 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.lv3.data %}
                    {{ sndComp.lv3.data }}
                  {% endif %}
                </td>
                <td class="cladeName">
                  {% if sndComp.object_data.cladeName %}
                    {{ sndComp.object_data.cladeName }}
                  {% endif %}
                </td>
                <td class="cladeLevel0">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.cladeLevel0 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.cladeLevel0.data %}
                    {{ sndComp.cladeLevel0.data }}
                  {% endif %}
                </td>
                <td class="cladeLevel1">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.cladeLevel1 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.cladeLevel1.data %}
                    {{ sndComp.cladeLevel1.data }}
                  {% endif %}
                </td>
                <td class="cladeLevel2">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.cladeLevel2 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.cladeLevel2.data %}
                    {{ sndComp.cladeLevel2.data }}
                  {% endif %}
                </td>
                <td class="cladeLevel3">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field sndComp.cladeLevel3 class="form-control numberField" pattern="^[0-9]{0,2}$" style="width: 2em;" %}
                  {% elif sndComp.cladeLevel3.data %}
                    {{ sndComp.cladeLevel3.data }}
                  {% endif %}
                </td>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated and user.is_staff %}
        </form>
      {% endif %}
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
