{% extends "base.html" %}
{% load render_table from django_tables2 %}
{# do permissions #}
{% load staticfiles %}
{% block title %}
  List of sources
{% endblock %}

{% block meta %}
{{ block.super }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(document).ready(function () {

	$('input:checked[name="deprecated"]').parent().parent().toggleClass('deprecated');
	$('input:checked[name="TRS"]').parent().parent().toggleClass('TRS');
	{% if user.is_superuser %}{% else %}
		$('th.deprecated, td.deprecated').hide();
		$('th.TRS, td.TRS').hide();
		$('th.edit, td.edit').hide();
		$('button#import').hide();
	{% endif %}
	
	/**** DETAILS *****/
	$(document.body).on('click', '.details_button.show_d', function() {
		$(this).toggleClass('show_d hide_d');
		$(this).text('Hide')
		var row = $(this).parent().parent()
		row.addClass('highlighted')
		var postdata = {
			'postType': 'details',
			'id': $(this).attr('id'),
			'csrfmiddlewaretoken': $("{% csrf_token %}").attr('value')
		};
		$.post("/sources/", postdata, function (data) {
			var details_table = $('<tr><td colspan="10"><table class="details_table"/></td></tr>').insertAfter(row);
			$(data).children('th').appendTo(details_table.find('table.details_table')).wrapAll('<thead class="_details"/>');
			$(data).children('td').appendTo(details_table.find('table.details_table')).wrapAll('<tbody><tr class="_details"/></tbody>');
			details_table.find('input, textarea').each(function() {
				$(this).replaceWith("<p>" + this.value + "</p>");
			});
		});
		return false
	}).on('click', '.hide_d', function() {
		$(this).parent().parent().removeClass('highlighted')
		$(this).parent().parent().next().remove();
		$(this).toggleClass('show_d hide_d');
		$(this).text('More')
		return false
	});
	
	/**** EXPORT *****/
	$(document.body).on('click', 'button[id="export"]', function() {
		window.location.replace('export/')
	});

	{% if user.is_superuser %}
	/**** EDIT *****/
	$(document.body).on('click', '.edit_button.show_e', function() {
		$('#editSourceContainer').empty();
		$('#editSource').attr('source_id', $(this).attr('id'))
		var postdata = {
			'postType': 'edit',
			'id': $(this).attr('id'),
			'csrfmiddlewaretoken': $("{% csrf_token %}").attr('value')
		};
		$.post("/sources/", postdata, function (data) {
			$('#editSourceContainer').append('<table id="edit_modal"/>')
			$('#edit_modal').append($(data));
			$('<thead/>').appendTo($('#edit_modal'))
			$('<tbody/>').appendTo($('#edit_modal'))
			$('#edit_modal').find('tr').each(function (i) {
				$(this).children('th').appendTo($('#edit_modal').find('thead:last-of-type'));
				$(this).children('td').appendTo($('#edit_modal').find('tbody:last-of-type'));
				$(this).remove()
				if ((i+1) % 4==0) {
					$('<thead/>').appendTo($('#edit_modal'))
					$('<tbody/>').appendTo($('#edit_modal'))
				};
			})
		});
		$('#editModal')[0].style.display = "block";
		return false
	});
	
	$(document.body).on('click', '.close', function() {
		$('#editModal')[0].style.display = "none";
		return false
	});
	
	/**** Pop-up edit window dissapearance on an outside click *****/
/*	window.onclick = function(event) {
		if (event.target == $('#editModal')[0]) {
			$('#editModal')[0].style.display = "none";
		}
	}*/
	
	$('#editSource').submit(function() { // catch the form's submit event
		var postdata = {'postType': 'update',
									'id':$('#editSource').attr('source_id'), 
									'csrfmiddlewaretoken': $("{% csrf_token %}").attr('value'), 
									'source_data': $(this).serialize()
									}
		$.ajax({ // create an AJAX call...
			data: postdata, // get the form data
			type: $(this).attr('method'), // GET or POST
			url: $(this).attr('action'), // the file to call
			success: function(response) { // on success..
				//$('#DIV_CONTAINING_FORM').html(response); // update the DIV
			}
		});
		$('#editModal')[0].style.display = "none";
		return false;
	});
	
	/**** CHANGE DEPRECATED STATUS *****/
	
	$(document.body).on('click', 'input[name="deprecated"]', function() {
		$(this).parent().parent().toggleClass('deprecated');
		var postdata = {
			'postType': 'deprecated-change',
			'id': $(this).parent().siblings('.details').children().attr('id'),
			'csrfmiddlewaretoken': $("{% csrf_token %}").attr('value'),
			'status': $(this).is(':checked'),
		};
		$.post("/sources/", postdata, function (data) {
		//if (postdata['status']=='true')
		});
	});
	
	/**** CHANGE TRS STATUS *****/
	
	$(document.body).on('click', 'input[name="TRS"]', function() {
		$(this).parent().parent().toggleClass('TRS');
		var postdata = {
			'postType': 'TRS-change',
			'id': $(this).parent().siblings('.details').children().attr('id'),
			'csrfmiddlewaretoken': $("{% csrf_token %}").attr('value'),
			'status': $(this).is(':checked'),
		};
		$.post("/sources/", postdata, function (data) {
		//if (postdata['status']=='true')
		});
	});
	
		/**** IMPORT *****/
	$(document.body).on('click', 'button[id="import"]', function() {
		window.location.replace('import/')
	});
	{% endif %}
});
</script>
<style>
/* Details preview table */

div.table-container, div.table-container table {
	min-width: 100%;
}

tr.TRS td, tr.TRS + tr td .details_table  {
	color: #d2ae8f;
}

tr.deprecated td, tr.deprecated + tr td .details_table  {
	color: lightgrey;
}

tr.deprecated td button {
	color: black;
}

tr.TRS td button {
	color: black;
}

.details_table {
	width: 100%;
}
.details_button.hide_d {
    background: rgb(39, 144, 219);
    color: white;
}
thead._details th {
	background: #de9191 !important;
	color: white !important;
}
tr._details td {
	border: none !important;
}
.highlighted {
	background: #fadddd !important;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 1020px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table#edit_modal tbody td, table#edit_modal thead th {
	padding-left: 10px;
}

table#edit_modal tbody td, table#edit_modal tbody td * {
    vertical-align: top;
}
</style>
{% endblock %}
{% block top %}
  <h1>Sources</h1>
{% endblock %}
{% block controls %}
	<link rel="stylesheet" href="{% static 'django_tables2/themes/CoBL/css/screen.css' %}" />
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
<div><button id='import'>Import</button><button id='export'>Export</button></div>
<!-- Edit modal -->
<div id="editModal" class="modal">
  <!-- Edit modal content -->
  <div class="modal-content">
    <span class="close">x</span>
	<form id='editSource' action="/sources/" method="post">
	{% csrf_token %}
	<div id='editSourceContainer'></div>
    <input type="submit" value="Update">
	</form>
  </div>
</div>

  <div class="row">
	{% render_table sources %}
	</div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
