{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ name }} in {{ source }} {% endblock %}
{% block meta %}
{{ block.super }}
<style>
[for~=-source], [for~=-id],  {
	display: none;
}
table, th, td {     
	border: 1px solid black !important;
}
td, th {
	max-width: 500px;
    padding-right: 20px;
}
</style>
{% endblock %}

{% block top %}
  <h1>
    {% if action %}
      {{ action|title }}
    {% endif %} {{ name }} in {{ source }}
  </h1>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
<table>
    <thead>
        {% for form in formset.forms %}
            {% if forloop.first %}
                {% for field in form %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
            {% endif %}
    </thead>
    <tbody>
            <tr>
                {% for field in form %}
                    <td>{{ field.value | safe }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
