{% extends "base.html" %}
{% load cache %}

{% block title %}{{ project_short_name }}{% endblock %}
{% block meta %}{{ google_site_verification|safe }}{% endblock %}
{% block top %}
  <h1>{{ project_long_name }}</h1>
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% if project_description %}
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          {{ project_description|safe }}
        </div>
      </div>
    </div>
  {% endif %}
  {% cache 500 frontpage_stats %}
  <div class="row">
    <div class="col-md-4">
      <h2>The database contains:</h2>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>
              <a href={% url 'view-all-languages' %}>Languages</a>
            </th>
            <td>
              <span class="badge">{{ languages }}</span>
            </td>
          </tr>
          <tr>
            <th>
              <a href={% url 'view-meanings' %}>Meanings</a>
            </th>
            <td><span class="badge">{{ meanings }}</span></td>
          </tr>
          <tr>
            <th>Words</th>
            <td><span class="badge">{{ lexemes }}</span></td>
          </tr>
          <tr>
            <th>Cognate Sets</th>
            <td><span class="badge">{{ cognate_classes }}</span></td>
          </tr>
          <tr>
            <th>Coded Characters</th>
            <td><span class="badge">{{ coded_characters }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% endcache %}
  {% if acknowledgements %}
    <div class="row">
      <div class="col-md-4">
        <h2>Acknowledgements</h2>
        <div class="well">
          {{ acknowledgements|safe }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
