{% extends "base.html" %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  2-Lgs: {{ targetLang.utf8_name }} + {% if sourceLang %}{{ sourceLang.utf8_name }}{% else %}Choose second language{% endif %}
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/lexemeHandlingModal.html" %}
  <div class="row">
    <div class="col-md-12"
         {% if user.is_authenticated %}
            style="margin-top: 86px;"
         {% else %}
            style="margin-top: 43px;"
         {% endif %}>
      {% if user.is_authenticated %}
      <form action="" method="POST" name="lex_ed_form" id="lex_ed_form_copyacross">
        {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated %}
          <div class="form-group pull-right">
            <span class="badge important">{{ lex_ed_form.lexemes|length }}</span>
            Dup. mgs:
            <button type="button"
                    class="filterDistinct btn btn-default"
                    data-attr="meaningid"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Filter duplicate meanings"
                    data-selector="filterDistinct">
              <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <a href="./" class="btn btn-default">
               Undo
            </a>
            <input type="submit" value="Save"
                   name="lex_form" class="btn btn-danger">
          </div>
        {% endif %}
        {% include "snippets/prev_next_twoLanguages.html" %}
      </div>
        <table class="table table-condensed viewTableFilter"
               id="viewTwoLanguages"
               {% if user.is_authenticated %}
                  data-floatheadtop="86"
               {% else %}
                  data-floatheadtop="43"
               {% endif %}>
          <thead>
            <tr>
              {# id_title.html #}
              <th class="hide"></th>
              {# warnings_title.html #}
              <th></th>
              {# meaning_title.html #}
              <th colspan="2">Meaning</th>
              {# copyCognateClass_title.html #}
              <th></th>
              {# romanised_title.html #}
              <th>Roman(ised)</th>
              {# viewcopy_title.html #}
              <th></th>
              {# nativeScript_title.html #}
              <th>Native Script</th>
              {# notswadesh_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Not Swh
                  </div>
                </div>
              </th>
              {# ncog_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes"
                  style="width: 50px; border-left: 2px solid #dddddd;">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    nCog
                  </div>
                </div>
              </th>
              {# cognateclassids_title.html #}
              <th style="width: 45px;">
                Cog.<br>IDs
              </th>
              {# cognateclassview_title.html #}
              <th></th>
              {# cognateclasses_title.html #}
              <th>Cog.<br>Alias</th>
              {# rootform_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference form">
                Root ref. form
              </th>
              {# rootlanguage_title.html #}
              <th style="width: 155px;"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference language">
                Root ref. language
              </th>
              {# loanevent_title.html #}
              <th style="border-right: 2px solid #dddddd;">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Loan Evt
                  </div>
                </div>
              </th>
              {# gloss_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Language specific">
                Gloss
              </th>
              {# notes_title.html #}
              <th>Notes</th>
            </tr>
            <tr class="filterBar">
              {# id_filter.html #}
              <td class="hide"></td>
              {# warnings_filter.html #}
              <td></td>
              {# meaning_filter.html #}
              <td colspan="2">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeMeaning">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeMeaning">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# copyCognateClass_filter.html #}
              <td></td>
              {# cognateclassids_filter.html #}
              <td style="width: 45px;" colspan="2">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".cognateClassId">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# romanised_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemeRomanised input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeRomanised input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemeRomanised">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeRomanised">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# viewcopy_filter.html #}
              <td></td>
              {# nativeScript_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemeNativeScript input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeNativeScript input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemeNativeScript">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeNativeScript">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# notswadesh_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-danger"
                        data-selector=".lexemeNotSwadeshTerm input">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
              </td>
              {# ncog_filter.html #}
              <td style="width: 50px; border-left: 2px solid #dddddd;">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeNumCogCoded" style="width: 1.5em;">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".lexemeNumCogCoded">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cognateclasses_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".cognateClasses input"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".cognateClasses"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% endif %}
              </td>
              {# rootform_filter.html #}
              <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootForm">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootForm">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# rootlanguage_filter.html #}
              <td style="width: 155px;">
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootLanguage">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootLanguage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# loanevent_filter.html #}
              <td style="border-right: 2px solid #dddddd;">
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeLoanEvent input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# gloss_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemeGloss input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeGloss input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".lexemeGloss">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeGloss">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# notes_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".lexemeNotes input">
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".lexemeNotes">
                  </div>
                {% endif %}
              </td>
            </tr>
          </thead>
          <tbody>
            {% for lexeme in lex_ed_form.lexemes %}
              <tr class="content_row"
                  data-meaningid="{{ lexeme.object_data.meaning_id }}">
                {# id_data.html #}
                <td class="hide">
                  {{ lexeme.id }}
                  {{ lexeme.lastTouched }}
                  {{ lexeme.lastEditedBy }}
                </td>
                {# warnings_data.html #}
                <td>
                  {% if lexeme.object_data.meaning.doubleCheck %}
                  <div style="color: #ff0000;"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="Special care and attention needed with this meaning. Please click on the i icon to read the full specification of the precise comparison meaning intended, and the exact term required here.">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                  </div>
                  {% endif %}
                </td>
                {# meaning_data.html #}
                <td>
                  <a href="https://github.com/lingdb/CoBL-public/wiki/{{ lexeme.object_data.meaning.gloss }}"
                     title="View wiki page."
                     target="_blank"
                     style="color: #006400;">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
                </td>
                <td class="lexemeMeaning">
                  <a href="{% url 'meaning-report' lexeme.object_data.meaning_id %}"
                     style="font-size: 15px; color: #006400;"
                     {% if lexeme.object_data.meaning.tooltip %}
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="{{ lexeme.object_data.meaning.tooltip }}"
                     {% endif %}>
                    {{ lexeme.object_data.meaning }}
                  </a>
                  {% if lexeme.object_data.language.rfcWebPath1 and lexeme.object_data.rfcWebLookup1 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath1 }}{{ lexeme.object_data.rfcWebLookup1 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                  {% endif %}
                  {% if lexeme.object_data.language.rfcWebPath2 and lexeme.object_data.rfcWebLookup2 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath2 }}{{ lexeme.object_data.rfcWebLookup2 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  {% endif %}
                </td>
                {# copyCognateClass_data.html #}
                <td>
                  {% if lexeme.object_data.original %}
                    <a class="btn btn-default btn-xs pull-right"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Copy over cognate set assignment from the reference language selected here (in grey)."
                       data-assigncognatesfromlexeme="{{ lexeme.object_data.original.id }}"
                       data-assigncognatestolexeme="{{ lexeme.object_data.id }}">
                      <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                  {% endif %}
                </td>
                {# romanised_data.html #}
                <td class="lexemeRomanised">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.romanised id="romanised" class="form-control" style="font-size: 15px;" %}
                  {% elif lexeme.object_data.romanised %}
                    {{ lexeme.object_data.romanised }}
                  {% endif %}
                </td>
                {# viewcopy_data.html #}
                <td>
                  <a href="{% url 'view-lexeme' lexeme.object_data.id %}" title="View detailed information on lexeme">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                </td>
                {# nativeScript_data.html #}
                <td class="lexemeNativeScript">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.nativeScript id="nativeScript" class="form-control" %}
                  {% elif lexeme.object_data.nativeScript %}
                    {{ lexeme.object_data.nativeScript }}
                  {% endif %}
                </td>
                {# notswadesh_data.html #}
                <td class="lexemeNotSwadeshTerm">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" %}
                  {% else %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# ncog_data.html #}
                <td class="lexemeNumCogCoded"
                    style="width: 50px; border-left: 2px solid #dddddd;">
                  <center>
                    <span class="badge">
                      {{ lexeme.object_data.number_cognate_coded }}
                    </span>
                  </center>
                </td>
                {# cognateclassids_data.html #}
                <td class="cognateClassId" style="text-align: center; width: 45px;">
                  {% for c in lexeme.object_data.allCognateClasses %}
                    <a href="/cognate/{{ c.id }}/"
                       target="_blank"
                       style="color: #8B4510;">
                      {{ c.id }}
                    </a>
                  {% endfor %}
                </td>
                {# cognateclassview_data.html #}
                <td style="padding-left: 4px; padding-right: 4px;">
                  <a href="/meaning/{{ lexeme.object_data.meaning.gloss }}/cognateclasslist/">
                    <img src="{% static '1c.png' %}">
                  </a>
                </td>
                {# cognateclasses_data.html #}
                <td style="text-align: center; color: #8B4510;">
                  <div class="cognateClasses">
                    {% if user.is_authenticated %}
                      {% form_field lexeme.combinedCognateClassAssignment class="form-control" %}
                    {% else %}
                      {{ lexeme.object_data.combinedCognateClassAssignment }}
                    {% endif %}
                  </div>
                </td>
                {# rootform_data.html #}
                <td class="lexemeRootForm" style="color: #8B4510;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootFormOrPlaceholder }}
                  {% endif %}
                </td>
                {# rootlanguage_data.html #}
                <td class="lexemeRootLanguage nowrap" style="color: #8B4510; width: 155px;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootLanguageOrPlaceholder }}
                  {% endif %}
                </td>
                {# loanevent_data.html #}
                <td class="lexemeLoanEvent" style="border-right: 2px solid #dddddd;">
                  {% if lexeme.object_data.show_loan_event %}
                    <input type="checkbox"
                      {% if lexeme.object_data.loan_event %}
                        checked="checked"
                      {% endif %}
                      class="form-control"
                      disabled="disabled">
                  {% endif %}
                </td>
                {# gloss_data.html #}
                <td class="lexemeGloss">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.gloss size="8" class="form-control" data-longinput="24" %}
                  {% elif lexeme.object_data.gloss %}
                    {{ lexeme.object_data.gloss }}
                  {% endif %}
                </td>
                {# notes_data.html #}
                <td class="lexemeNotes">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.notes class="form-control" data-longinput="25" %}
                  {% elif lexeme.object_data.notes %}
                    {{ lexeme.object_data.notes }}
                  {% endif %}
                </td>
              </tr>
              {% if lexeme.object_data.original %}
                <tr class="original_row"
                    id="original_row_lexeme{{ lexeme.object_data.original.id }}"
                    style="background-color: #E0E0E0;">
                  {# id_original.html #}
                  <td class="hide"></td>
                  {# warnings_original.html #}
                  <td></td>
                  {# meaning_original.html #}
                  <td>
                    <a href="https://github.com/lingdb/CoBL-public/wiki/{{ lexeme.object_data.original.meaning.gloss }}"
                       title="View wiki page."
                       target="_blank"
                       style="color: #006400;">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  </td>
                  <td class="lexemeMeaning">
                    <a href="/meaning/{{ lexeme.object_data.original.meaning.id }}/"
                       style="font-size: 15px; color: #006400;"
                       {% if lexeme.object_data.meaning.tooltip %}
                         data-toggle="tooltip"
                         data-placement="top"
                         data-container="body"
                         title="{{ lexeme.object_data.meaning.tooltip }}"
                       {% endif %}>
                      {{ lexeme.object_data.original.meaning }}
                    </a>
                  </td>
                  {# copyCognateClass_original.html #}
                  <td></td>
                  {# romanised_original.html #}
                  <td class="lexemeRomanised">
                    {{ lexeme.object_data.original.romanised }}
                  </td>
                  {# viewcopy_original.html #}
                  <td></td>
                  {# nativeScript_original.html #}
                  <td class="lexemeNativeScript">
                    {{ lexeme.object_data.original.nativeScript }}
                  </td>
                  {# notswadesh_original.html #}
                  <td class="lexemeNotSwadeshTerm">
                    <input type="checkbox"
                           {% if lexeme.object_data.original.not_swadesh_term %}
                             checked="checked"
                           {% endif %}
                           class="form-control"
                           disabled="disabled">
                  </td>
                  {# ncog_original.html #}
                  <td class="lexemeNumCogCoded"
                      style="width: 50px; border-left: 2px solid #dddddd;">
                    <center>
                      <span class="badge">
                        {{ lexeme.object_data.original.number_cognate_coded }}
                      </span>
                    </center>
                  </td>
                  {# cognateclassids_original.html #}
                  <td class="cognateClassId" style="text-align: center; width: 45px;">
                    {% for c in lexeme.object_data.original.allCognateClasses %}
                      <a href="/cognate/{{ c.id }}/"
                         target="_blank"
                         style="color: #8B4510;">
                        {{ c.id }}
                      </a>
                    {% endfor %}
                  </td>
                  {# cognateclassview_original.html #}
                  <td style="padding-left: 4px; padding-right: 4px;">
                    <a href="/meaning/{{ lexeme.object_data.original.meaning.gloss }}/cognateclasslist/">
                      <img src="{% static '1c.png' %}">
                    </a>
                  </td>
                  {# cognateclasses_original.html #}
                  <td style="text-align: center; color: #8B4510;">
                    <div class="cognateClasses">
                    {% for c in lexeme.object_data.original.allCognateClasses %}
                      <a href="/cognate/{{ c.id }}/"
                         target="_blank"
                         style="color: #8B4510;">
                        {{ c.alias }}
                      </a>
                    {% endfor %}
                    </div>
                  </td>
                  {# rootform_original.html #}
                  <td class="lexemeRootForm" style="color: #8B4510;">
                    {% if lexeme.object_data.original.allCognateClasses|length == 1 %}
                      {{ lexeme.object_data.original.allCognateClasses.0.rootFormOrPlaceholder }}
                    {% endif %}
                  </td>
                  {# rootlanguage_original.html #}
                  <td class="lexemeRootLanguage nowrap" style="color: #8B4510; width: 155px;">
                    {% if lexeme.object_data.original.allCognateClasses|length == 1 %}
                      {{ lexeme.object_data.original.allCognateClasses.0.rootLanguageOrPlaceholder }}
                    {% endif %}
                  </td>
                  {# loanevent_original.html #}
                  <td class="lexemeLoanEvent" style="border-right: 2px solid #dddddd;">
                    {% if lexeme.object_data.original.show_loan_event %}
                      <input type="checkbox"
                        {% if lexeme.object_data.original.loan_event %}
                          checked="checked"
                        {% endif %}
                        class="form-control"
                        disabled="disabled">
                    {% endif %}
                  </td>
                  {# gloss_original.html #}
                  <td class="lexemeGloss">
                    {{ lexeme.object_data.original.gloss }}
                  </td>
                  {# notes_original.html #}
                  <td class="lexemeNotes">
                    {{ lexeme.object_data.original.notes }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
