{% extends "base.html" %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  2-Lgs: {{ targetLang.utf8_name }} + {% if sourceLang %}{{ sourceLang.utf8_name }}{% else %}Choose second language{% endif %}
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/lexemeHandlingModal.html" %}
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated %}
        <form action="" method="POST" name="lex_ed_form" id="lex_ed_form_copyacross">
        {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated %}
          <div class="form-group pull-right">
            <span title="Proportion of meanings in which these two languages have lexemes that are cognate." 
                class="badge important">{{ numOfSharedCCPerSwadeshMeanings }} {{ numOfSwadeshMeaningsSharedCC }}/{{ numOfSwadeshMeanings }}</span>
            <span title="Duplicate meanings" 
                class="badge important">{{ lex_ed_form.lexemes|length }}</span>
            <button type="button"
                    class="filterDistinct btn btn-default"
                    data-attr="meaningid"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Filter duplicate meanings"
                    data-selector="filterDistinct">
              <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <a href="./" class="btn btn-default">
               Undo
            </a>
            <input type="submit" value="Save"
                   name="lex_form" class="btn btn-danger">
          </div>
        {% endif %}
        {% include "snippets/prev_next_twoLanguages.html" %}
      </div>
      <div>
        <table class="table table-condensed viewTableFilter markNewMeaning"
               id="viewTwoLanguages" data-floatheadtop="54" style="margin-top:38px">
          <thead>
            <tr>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    <span style="color:#aaa;font-size:80%">Elic. Ix.</span>
                  </div>
                </div>
              </th>
              {# id_title.html #}
              <th class="hide"></th>
              {# warnings_title.html #}
              <th></th>
              {# meaning_title.html #}
              <th colspan="2">Meaning</th>
              {# copyCognateClass_title.html #}
              <th></th>
              {# romanised_title.html #}
              <th>Roman(ised)</th>
              {# viewcopy_title.html #}
              <th></th>
              {# nativeScript_title.html #}
              <th>Native Script</th>
              <th style="width:6px"></th>
              {# notswadesh_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Not Target
                  </div>
                </div>
              </th>
              {# ncog_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes"
                  style="width: 50px; border-left: 2px solid #dddddd;">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    nCog
                  </div>
                </div>
              </th>
              {# cognateclassids_title.html #}
              <th style="text-align: center;">
                Cog.<br>IDs
              </th>
              {# ccSwdKind_title.html #}
              <th class="hide"></th>
              {# cognateclassview_title.html #}
              <th style="width: 50px;"></th>
              {# cognateclasses_title.html #}
              <th style="width: 45px;">Cog.<br>Alias</th>
              {# rootform_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference form">
                Root ref. form
              </th>
              {# rootlanguage_title.html #}
              <th style="width: 155px;"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference language">
                Root ref. language
              </th>
              {# loanevent_title.html #}
              <th style="border-right: 2px solid #dddddd;">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Loan Evt
                  </div>
                </div>
              </th>
              {# gloss_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Language specific">
                Gloss
              </th>
              {# notes_title.html #}
              <th>Notes</th>
            </tr>

            <tr class="filterBar">
              {# Elic Ix #}
              <td>
                <input type="text"
                       class="filterNumber form-control"
                       data-selector=".lexemeIxElicitation"
                       style="width: 2em;">
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".lexemeIxElicitation">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
              </td>
              {# id_filter.html #}
              <td class="hide"></td>
              {# warnings_filter.html #}
              <td></td>
              {# meaning_filter.html #}
              <td colspan="2">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeMeaning">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeMeaning">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# copyCognateClass_filter.html #}
              <td></td>
              {# romanised_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemeRomanised input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeRomanised input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemeRomanised">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeRomanised">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# viewcopy_filter.html #}
              <td></td>
              {# nativeScript_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterPhoneticInput form-control narrow"
                         data-selector=".lexemeNativeScript input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeNativeScript input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterPhonetic form-control narrow"
                         data-selector=".lexemeNativeScript">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeNativeScript">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td></td>
              {# notswadesh_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-danger"
                        data-selector=".lexemeNotSwadeshTerm input">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
              </td>
              {# ncog_filter.html #}
              <td style="width: 50px; border-left: 2px solid #dddddd;">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeNumCogCoded" style="width: 1.5em;">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".lexemeNumCogCoded">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cognateclassids_filter.html #}
              <td style="text-align: center;">
                <div class="btn btn-xs btn-default sortIntText" style="width:30px"
                     data-selector=".cognateClassId">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
                {# ccSwdKind_filter.html #}
                <button title="Filter cognate sets according shared sets (Swadesh only)" type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeCcSwdKind input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# ccSwdKind_filter.html #}
              <td class="hide"></td>
              <td></td>
              {# cognateclasses_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".cognateClasses input"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".cognateClasses"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% endif %}
              </td>
              {# rootform_filter.html #}
              <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootForm">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootForm">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# rootlanguage_filter.html #}
              <td style="width: 155px;">
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootLanguage">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootLanguage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# loanevent_filter.html #}
              <td style="border-right: 2px solid #dddddd;">
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeLoanEvent input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# gloss_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemeGloss input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeGloss input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".lexemeGloss">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeGloss">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# notes_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".lexemeNotes input">
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".lexemeNotes">
                {% endif %}
              </td>
            </tr>
          </thead>

          <tbody>
            {% for lexeme in lex_ed_form.lexemes %}
              <tr class="content_row"
                  data-meaningid="{{ lexeme.object_data.meaning_id }}" data-issourcelg="{{ lexeme.object_data.sourceLg }}">
                {# id_data.html #}
                <td class="lexemeIxElicitation" align="right">
                  <span style="color:#aaa;font-size:60%;">{{ lexeme.object_data.meaning.ixElicitation }}</span>
                </td>
                <td class="hide">
                  {{ lexeme.id }}
                  {{ lexeme.lastTouched }}
                  {{ lexeme.lastEditedBy }}
                </td>
                {# warnings_data.html #}
                <td 
                  {% if lexeme.object_data.sourceLg %}
                    style="background-color:#E0E0E0;"
                  {% endif %}>
                  {% if lexeme.object_data.meaning.doubleCheck %}
                  <div style="color: #ff0000;width:16px !important"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="Special care and attention needed with this meaning. Please click on the i icon to read the full specification of the precise comparison meaning intended, and the exact term required here.">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                  </div>
                  {% endif %}
                </td>
                {# meaning_data.html #}
                <td 
                {% if lexeme.object_data.sourceLg %}
                  style="background-color:#E0E0E0;width:16px !important"
                {% else %}
                  style="width:16px !important"
                {% endif %}>
                  <a href="https://github.com/lingdb/CoBL-public/wiki/{{ lexeme.object_data.meaning.gloss }}"
                     title="View wiki page."
                     target="_blank"
                     style="color: #006400;">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
                </td>
                <td class="lexemeMeaning"
                  {% if lexeme.object_data.sourceLg %}
                style="background-color:#E0E0E0;"
                {% endif %}>
                  <a href="{% url 'meaning-report' lexeme.object_data.meaning_id %}"
                     style="font-size: 15px; color: #006400;"
                     {% if lexeme.object_data.meaning.tooltip %}
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="{{ lexeme.object_data.meaning.tooltip }}"
                     {% endif %}>
                    {{ lexeme.object_data.meaning }}
                  </a>
                  {% if lexeme.object_data.language.rfcWebPath1 and lexeme.object_data.rfcWebLookup1 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath1 }}{{ lexeme.object_data.rfcWebLookup1 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                  {% endif %}
                  {% if lexeme.object_data.language.rfcWebPath2 and lexeme.object_data.rfcWebLookup2 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath2 }}{{ lexeme.object_data.rfcWebLookup2 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  {% endif %}
                </td>
                {# copyCognateClass_data.html #}
                <td>
                  {% if user.is_authenticated %}
                    {% if not lexeme.object_data.sourceLg %}
                      {% for lexId in lexeme.object_data.originalIds %}
                        <a class="btn btn-default btn-xs pull-right"
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Copy over cognate set assignment from the reference language selected: Lexeme '{{lexId.romanised}}'."
                           data-assigncognatesfromlexeme="{{ lexId.id }}"
                           data-assigncognatestolexeme="{{ lexeme.object_data.id }}">
                          <span class="glyphicon glyphicon-share-alt"></span>
                        </a>
                      {% endfor %}
                    {% endif %}
                  {% endif %}
                </td>
                {# romanised_data.html #}
                <td class="lexemeRomanised">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.romanised id="romanised" class="form-control" style="font-size: 15px;" %}
                  {% else %}
                    {{ lexeme.object_data.romanised }}
                  {% endif %}
                </td>
                {# viewcopy_data.html #}
                <td>
                  {% if not lexeme.object_data.sourceLg %}
                  <a href="{% url 'view-lexeme' lexeme.object_data.id %}" title="View detailed information on lexeme">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                  {% endif %}
                </td>
                {# nativeScript_data.html #}
                <td class="lexemeNativeScript">
                  {% if user.is_authenticated %}
                    {% if lexeme.object_data.sourceLg %}
                      {% if sourceLang.nativeScriptIsRtl %}
                        {% form_field lexeme.nativeScript id="nativeScript" class="form-control" dir="rtl" %}
                      {% else %}
                        {% form_field lexeme.nativeScript id="nativeScript" class="form-control" %}
                      {% endif %}
                    {% else %}
                      {% if targetLang.nativeScriptIsRtl %}
                        {% form_field lexeme.nativeScript id="nativeScript" class="form-control" dir="rtl" %}
                      {% else %}
                        {% form_field lexeme.nativeScript id="nativeScript" class="form-control" %}
                      {% endif %}
                    {% endif %}
                  {% elif lexeme.object_data.nativeScript %}
                    {{ lexeme.object_data.nativeScript }}
                  {% endif %}
                </td>
                <td>
                  {% if lexeme.object_data.hasNotTargets %}
                    <span class="glyphicon glyphicon-plus-sign" 
                      {% if lexeme.object_data.notTargetCC %}
                        style="color:#ff1a1a;margin-top:8px" 
                        title="The meaning has further not target lexeme(s) and at least one is cognate to this lexeme."
                      {% else %}
                        style="margin-top:8px" 
                        title="The meaning has further not target lexeme(s)."
                      {% endif %}
                      ></span>
                  {% endif %}
                </td>
                {# notswadesh_data.html #}
                <td class="lexemeNotSwadeshTerm">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" %}
                  {% else %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# ncog_data.html #}
                <td class="lexemeNumCogCoded"
                    style="width: 50px; border-left: 2px solid #dddddd;">
                  <center>
                    <span class="badge">
                      {{ lexeme.object_data.number_cognate_coded }}
                    </span>
                  </center>
                </td>
                {# cognateclassids_data.html #}
                <td class="cognateClassId" 
                    style="text-align: center;background-color:{{lexeme.object_data.ccBackgroundColor}};">
                  {% for c in lexeme.object_data.allCognateClasses %}
                    <a href="/cognate/{{ c.id }}/"
                       target="_blank"
                       style="color: #8B4510;">
                      {{ c.id }}
                    </a>
                  {% endfor %}
                </td>
                {# ccSwdKind_data.html #}
                <td class="hide lexemeCcSwdKind">
                  <input {% if lexeme.object_data.ccSwdKind %}checked{% endif %}
                    class="ccSwdKind_checkbox form-control" 
                    disabled="disabled" id="lexemes-1-ccSwdKind" 
                    name="lexemes-1-ccSwdKind" type="checkbox" value="y">
                </td>
                {# cognateclassview_data.html #}
                <td>
                  <a href="/meaning/{{ lexeme.object_data.meaning.gloss }}/cognateclasslist/" target="_blank">
                    <img src="{% static '1c.png' %}">
                  </a>
                </td>
                {# cognateclasses_data.html #}
                <td style="text-align: left; color: #8B4510;">
                  <div class="cognateClasses">
                    {% if user.is_authenticated %}
                      {% form_field lexeme.combinedCognateClassAssignment class="form-control" %}
                    {% else %}
                      {{ lexeme.object_data.combinedCognateClassAssignment }}
                    {% endif %}
                  </div>
                </td>
                {# rootform_data.html #}
                <td class="lexemeRootForm" style="color: #8B4510;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootFormOrPlaceholder }}
                  {% endif %}
                </td>
                {# rootlanguage_data.html #}
                <td class="lexemeRootLanguage nowrap" style="color: #8B4510; width: 155px;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootLanguageOrPlaceholder }}
                  {% endif %}
                </td>
                {# loanevent_data.html #}
                <td class="lexemeLoanEvent" style="border-right: 2px solid #dddddd;">
                  {% if lexeme.object_data.show_loan_event %}
                    <input type="checkbox"
                      {% if lexeme.object_data.loan_event %}
                        checked="checked"
                      {% endif %}
                      class="form-control"
                      disabled="disabled">
                  {% endif %}
                </td>
                {# gloss_data.html #}
                <td class="lexemeGloss">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.gloss size="8" class="form-control" data-longinput="24" %}
                  {% elif lexeme.object_data.gloss %}
                    {{ lexeme.object_data.gloss }}
                  {% endif %}
                </td>
                {# notes_data.html #}
                <td class="lexemeNotes">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.notes class="form-control" data-longinput="25" %}
                  {% elif lexeme.object_data.notes %}
                    {{ lexeme.object_data.notes }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if user.is_authenticated %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
