{% extends "base.html" %}

{% load staticfiles %}
{% load wtforms %}

{% block title %}
  {{ lang1.utf8_name }} <-> {{ lang2.utf8_name }} ({{ wordlist }})
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  {% include "snippets/lexemeHandlingModal.html" %}
  <div class="row">
    <div class="col-md-12"
         {% if user.is_authenticated %}
            style="margin-top: 51px;"
         {% else %}
            style="margin-top: 43px;"
         {% endif %}>
      {% if user.is_authenticated %}
      <form action="" method="POST" name="lex_ed_form" id="lex_ed_form_copyacross">
        {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated %}
          <div class="form-group pull-right">
            <span class="badge important">{{ lex_ed_form.lexemes|length }}</span>
            Dup. mgs:
            <button type="button"
                    class="filterDistinct btn btn-default"
                    data-attr="meaningid"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Filter duplicate meanings"
                    data-selector="filterDistinct">
              <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <a href="./" class="btn btn-default">
               Undo
            </a>
            <input type="submit" value="Save"
                   name="lex_form" class="btn btn-danger">
          </div>
        {% endif %}
        {% include "snippets/prev_next_twoLanguages.html" %}
      </div>
        <table class="table table-condensed viewTableFilter"
               id="viewTwoLanguages"
               {% if user.is_authenticated %}
                  data-floatheadtop="51"
               {% else %}
                  data-floatheadtop="43"
               {% endif %}>
          <thead>
            <tr>
              {# id_title.html #}
              <th class="hide"></th>
              {# warnings_title.html #}
              <th></th>
              {# meaning_title.html #}
              <th colspan="2">Meaning</th>
              {# sourceform_title.html #}
              <th>Orthographic</th>
              {# viewcopy_title.html #}
              <th colspan="3"></th>
              {# transliteration_title.html #}
              <th>Transliteration</th>
              {# notswadesh_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Not Swh
                  </div>
                </div>
              </th>
              {# isexcluded_lexeme_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Lex. excl
                  </div>
                </div>
              </th>
              {# ncog_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes"
                  style="width: 50px; border-left: 2px solid #dddddd;">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    nCog
                  </div>
                </div>
              </th>
              {# copyrowfrom_title.html #}
              <th></th>
              {# cognateclassids_title.html #}
              <th style="width: 45px;">
                Cog.<br>IDs
              </th>
              {# cognateclassview_title.html #}
              <th></th>
              {# cognateclasses_title.html #}
              <th>Cog.<br>Alias</th>
              {# rootform_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference form">
                Root ref. form
              </th>
              {# rootlanguage_title.html #}
              <th style="width: 155px;"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Root reference language">
                Root ref. language
              </th>
              {# loanevent_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Loan Evt
                  </div>
                </div>
              </th>
              {# isloan_cognate_title.html #}
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. loan
                  </div>
                </div>
              </th>
              {# isexcluded_cognate_title.html #}
              <th style="border-right: 2px solid #dddddd;">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Cog. excl
                  </div>
                </div>
              </th>
              {# phonemic_title.html #}
              <th>PhoneMic</th>
              {# phonecopy_title.html #}
              <th colspan="2"></th>
              {# phonetic_title.html #}
              <th>PhoneTic</th>
              {# gloss_title.html #}
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Language specific">
                Gloss
              </th>
              {# notes_title.html #}
              <th>Notes</th>
              {# weblookup_title.html #}
              <th></th>
              <th>Dict ID 1</th>
              <!--
              <th></th>
              <th>Dict ID 2</th>
              -->
              {# dubious_title.html #}
              <th alt="Dubious">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Dub?
                  </div>
                </div>
              </th>
            </tr>
            <tr class="filterBar">
              {# id_filter.html #}
              <td class="hide"></td>
              {# warnings_filter.html #}
              <td></td>
              {# meaning_filter.html #}
              <td colspan="2">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeMeaning">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeMeaning">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# sourceform_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".lexemeSourceForm input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeSourceForm input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".lexemeSourceForm">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeSourceForm">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# viewcopy_filter.html #}
              <td colspan="3"></td>
              {# transliteration_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".lexemeTransliteration input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeTransliteration input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".lexemeTransliteration">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeTransliteration">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# notswadesh_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-danger"
                        data-selector=".lexemeNotSwadeshTerm input">
                  <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
              </td>
              {# isexcluded_lexeme_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeIsExcludedLexeme input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# ncog_filter.html #}
              <td style="width: 50px; border-left: 2px solid #dddddd;">
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeNumCogCoded" style="width: 1.5em;">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".lexemeNumCogCoded">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# copyrowfrom_filter.html #}
              <td></td>
              {# cognateclassids_filter.html #}
              <td style="width: 45px;" colspan="2">
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".cognateClassId">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# cognateclassview_filter.html #}
              <td>
              </td>
              {# cognateclasses_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".cognateClasses input"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".cognateClasses"
                         size="1"
                         style="padding-left: 2px; padding-right: 2px;">
                {% endif %}
              </td>
              {# rootform_filter.html #}
              <td>
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootForm">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootForm">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# rootlanguage_filter.html #}
              <td style="width: 155px;">
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootLanguage">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootLanguage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              {# loanevent_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeLoanEvent input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# isloan_cognate_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeIsLoanCognate input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# isexcluded_cognate_filter.html #}
              <td style="border-right: 2px solid #dddddd;">
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeIsExcludedCognate input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# phonemic_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control narrow"
                         data-selector=".lexemePhoneMic input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemePhoneMic input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".lexemePhoneMic">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemePhoneMic">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# phonecopy_filter.html #}
              <td colspan="2"></td>
              {# phonetic_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemePhonForm input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemePhonForm input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text"
                         class="filterText form-control narrow"
                         data-selector=".lexemePhonForm">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemePhonForm">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# gloss_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemeGloss input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeGloss input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control narrow"
                         data-selector=".lexemeGloss">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".lexemeGloss">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {# notes_filter.html #}
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".lexemeNotes input">
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".lexemeNotes">
                  </div>
                {% endif %}
              </td>
              {# weblookup_filter.html #}
              <td></td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".lexemeRfcWebLookup1 input">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".lexemeRfcWebLookup1">
                {% endif %}
              </td>
              <!--
              <td></td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text"
                         class="filterInput form-control"
                         data-selector=".lexemeRfcWebLookup2 input">
                {% else %}
                  <input type="text"
                         class="filterText form-control"
                         data-selector=".lexemeRfcWebLookup2">
                {% endif %}
              </td>
              -->
              {# dubious_filter.html #}
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".lexemeDubious input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
            </tr>
          </thead>
          <tbody>
            {% for lexeme in lex_ed_form.lexemes %}
              {% if lexeme.object_data.original %}
                <tr class="original_row"
                    id="original_row_lexeme{{ lexeme.object_data.original.id }}"
                    style="background-color: #C4C4C4;">
                  {# id_original.html #}
                  <td class="hide"></td>
                  {# warnings_original.html #}
                  <td></td>
                  {# meaning_original.html #}
                  <td>
                    <a href="https://github.com/lingdb/IELex2-CognaC/wiki/{{ lexeme.object_data.original.meaning.gloss }}"
                       title="View wiki page."
                       target="_blank"
                       style="color: #006400;">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  </td>
                  <td class="lexemeMeaning">
                    <a href="/meaning/{{ lexeme.object_data.original.meaning.id }}/"
                       style="font-size: 15px; color: #006400;"
                       {% if lexeme.object_data.meaning.tooltip %}
                         data-toggle="tooltip"
                         data-placement="top"
                         data-container="body"
                         title="{{ lexeme.object_data.meaning.tooltip }}"
                       {% endif %}>
                      {{ lexeme.object_data.original.meaning.gloss }}
                    </a>
                    {% if lexeme.object_data.original.language.rfcWebPath1 and lexeme.object_data.original.rfcWebLookup1 %}
                      <a href="{{ lexeme.object_data.original.language.rfcWebPath1 }}{{ lexeme.object_data.original.rfcWebLookup1 }}"
                         target="_blank"
                         class="pull-right">
                        <span class="glyphicon glyphicon-link"></span>
                      </a>
                    {% endif %}
                    {% if lexeme.object_data.original.language.rfcWebPath2 and lexeme.object_data.original.rfcWebLookup2 %}
                      <a href="{{ lexeme.object_data.original.language.rfcWebPath2 }}{{ lexeme.object_data.original.rfcWebLookup2 }}"
                         target="_blank"
                         class="pull-right">
                        <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                    {% endif %}
                  </td>
                  {# sourceform_original.html #}
                  <td class="lexemeSourceForm" data-copyrowfrom-key="lexemeSourceForm">
                    {{ lexeme.object_data.original.source_form }}
                  </td>
                  {# viewcopy_original.html #}
                  <td></td>
                  <td></td>
                  <td></td>
                  {# transliteration_original.html #}
                  <td class="lexemeTransliteration" data-copyrowfrom-key="lexemeTransliteration">
                    {{ lexeme.object_data.original.transliteration }}
                  </td>
                  {# notswadesh_original.html #}
                  <td class="lexemeNotSwadeshTerm">
                    <input type="checkbox"
                           {% if lexeme.object_data.original.not_swadesh_term %}
                             checked="checked"
                           {% endif %}
                           class="form-control"
                           disabled="disabled">
                  </td>
                  {# isexcluded_lexeme_original.html #}
                  <td class="lexemeIsExcludedLexeme">
                    <input type="checkbox"
                      {% if lexeme.object_data.original.is_excluded_lexeme %}
                        checked="checked"
                      {% endif %}
                      class="form-control"
                      disabled="disabled">
                  </td>
                  {# ncog_original.html #}
                  <td class="lexemeNumCogCoded"
                      style="width: 50px; border-left: 2px solid #dddddd;">
                    <center>
                      <span class="badge">
                        {{ lexeme.object_data.original.number_cognate_coded }}
                      </span>
                    </center>
                  </td>
                  {# copyrowfrom_original.html #}
                  <td></td>
                  {# cognateclassids_original.html #}
                  <td class="cognateClassId" style="text-align: center; width: 45px;">
                    {% for c in lexeme.object_data.original.allCognateClasses %}
                      <a href="/cognate/{{ c.id }}/"
                         target="_blank"
                         style="color: #8B4510;">
                        {{ c.id }}
                      </a>
                    {% endfor %}
                  </td>
                  {# cognateclassview_original.html #}
                  <td style="padding-left: 4px; padding-right: 4px;">
                    <a href="/meaning/{{ lexeme.object_data.original.meaning.gloss }}/cognateclasslist/">
                      <img src="{% static '1c.png' %}">
                    </a>
                  </td>
                  {# cognateclasses_original.html #}
                  <td style="text-align: center; color: #8B4510;"
                      data-copyrowfrom-key="combinedCognateClassAssignment">
                    <div class="cognateClasses">
                    {% for c in lexeme.object_data.original.allCognateClasses %}
                      <a href="/cognate/{{ c.id }}/"
                         target="_blank"
                         style="color: #8B4510;">
                        {{ c.alias }}
                      </a>
                    {% endfor %}
                    </div>
                  </td>
                  {# rootform_original.html #}
                  <td class="lexemeRootForm" style="color: #8B4510;">
                    {% if lexeme.object_data.original.allCognateClasses|length == 1 %}
                      {{ lexeme.object_data.original.allCognateClasses.0.rootFormOrPlaceholder }}
                    {% endif %}
                  </td>
                  {# rootlanguage_original.html #}
                  <td class="lexemeRootLanguage nowrap" style="color: #8B4510; width: 155px;">
                    {% if lexeme.object_data.original.allCognateClasses|length == 1 %}
                      {{ lexeme.object_data.original.allCognateClasses.0.rootLanguageOrPlaceholder }}
                    {% endif %}
                  </td>
                  {# loanevent_original.html #}
                  <td class="lexemeLoanEvent">
                    {% if lexeme.object_data.original.show_loan_event %}
                      <input type="checkbox"
                        {% if lexeme.object_data.original.loan_event %}
                          checked="checked"
                        {% endif %}
                        class="form-control"
                        disabled="disabled">
                    {% endif %}
                  </td>
                  {# isloan_cognate_original.html #}
                  <td class="lexemeIsLoanCognate">
                    <input type="checkbox"
                      {% if lexeme.object_data.original.is_loan_cognate %}
                        checked="checked"
                      {% endif %}
                      class="form-control"
                      disabled="disabled">
                  </td>
                  {# isexcluded_cognate_original.html #}
                  <td class="lexemeIsExcludedCognate"
                      style="border-right: 2px solid #dddddd;">
                    <input type="checkbox"
                      {% if lexeme.object_data.original.is_excluded_cognate %}
                        checked="checked"
                      {% endif %}
                      class="form-control"
                      disabled="disabled">
                  </td>
                  {# phonemic_original.html #}
                  <td class="lexemePhoneMic"
                      data-copyrowfrom-key="lexemePhoneMic">
                    {{ lexeme.object_data.original.phoneMic }}
                  </td>
                  {# phonecopy_original.html #}
                  <td></td>
                  <td></td>
                  {# phonetic_original.html #}
                  <td class="lexemePhonForm"
                      data-copyrowfrom-key="lexemePhonForm">
                    {{ lexeme.object_data.original.phon_form }}
                  </td>
                  {# gloss_original.html #}
                  <td class="lexemeGloss"
                      data-copyrowfrom-key="lexemeGloss">
                    {{ lexeme.object_data.original.gloss }}
                  </td>
                  {# notes_original.html #}
                  <td class="lexemeNotes"
                      data-copyrowfrom-key="lexemeNotes">
                    {{ lexeme.object_data.original.notes }}
                  </td>
                  {# weblookup_original.html #}
                  <td></td>
                  <td class="lexemeRfcWebLookup1"
                      data-copyrowfrom-key="lexemeRfcWebLookup1">
                    {{ lexeme.object_data.original.rfcWebLookup1 }}
                  </td>
                  <td class="hide"></td>
                  <td class="lexemeRfcWebLookup2 hide">
                    {{ lexeme.object_data.original.rfcWebLookup2 }}
                  </td>
                  {# dubious_original.html #}
                  <td class="lexemeDubious">
                    <input type="checkbox"
                           {% if lexeme.object_data.original.dubious %}
                             checked="checked"
                           {% endif %}
                           class="form-control"
                           disabled="disabled">
                  </td>
                </tr>
              {% endif %}
              <tr class="content_row"
                  data-meaningid="{{ lexeme.object_data.meaning_id }}">
                {# id_data.html #}
                <td class="hide">
                  {{ lexeme.id }}
                  {{ lexeme.lastTouched }}
                  {{ lexeme.lastEditedBy }}
                </td>
                {# warnings_data.html #}
                <td>
                  {% if lexeme.object_data.meaning.doubleCheck %}
                  <div style="color: #ff0000;"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="Special care and attention needed with this meaning. Please click on the i icon to read the full specification of the precise comparison meaning intended, and the exact term required here.">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                  </div>
                  {% endif %}
                </td>
                {# meaning_data.html #}
                <td>
                  <a href="https://github.com/lingdb/IELex2-CognaC/wiki/{{ lexeme.object_data.meaning.gloss }}"
                     title="View wiki page."
                     target="_blank"
                     style="color: #006400;">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
                </td>
                <td class="lexemeMeaning">
                  <a href="{% url 'meaning-report' lexeme.object_data.meaning_id %}"
                     style="font-size: 15px; color: #006400;"
                     {% if lexeme.object_data.meaning.tooltip %}
                       data-toggle="tooltip"
                       data-placement="top"
                       data-container="body"
                       title="{{ lexeme.object_data.meaning.tooltip }}"
                     {% endif %}>
                    {{ lexeme.object_data.meaning }}
                  </a>
                  {% if lexeme.object_data.language.rfcWebPath1 and lexeme.object_data.rfcWebLookup1 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath1 }}{{ lexeme.object_data.rfcWebLookup1 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-link"></span>
                    </a>
                  {% endif %}
                  {% if lexeme.object_data.language.rfcWebPath2 and lexeme.object_data.rfcWebLookup2 %}
                    <a href="{{ lexeme.object_data.language.rfcWebPath2 }}{{ lexeme.object_data.rfcWebLookup2 }}"
                       target="_blank"
                       class="pull-right">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  {% endif %}
                </td>
                {# sourceform_data.html #}
                <td class="lexemeSourceForm">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.source_form id="source_form" class="form-control" style="font-size: 15px;" data-copyrowfrom-key="lexemeSourceForm" %}
                  {% elif lexeme.object_data.source_form %}
                    {{ lexeme.object_data.source_form }}
                  {% endif %}
                </td>
                {# viewcopy_data.html #}
                <td>
                  <a href="{% url 'view-lexeme' lexeme.object_data.id %}" title="View detailed information on lexeme">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                </td>
                <td>
                  {% if user.is_authenticated %}
                    <button class="leftcheckarrow btn btn-xs" type="button"
                            id="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                  {% endif %}
                </td>
                <td>
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs" type="button"
                            id="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                  {% endif %}
                </td>
                {# transliteration_data.html #}
                <td class="lexemeTransliteration">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.transliteration id="transliteration" class="form-control"  data-copyrowfrom-key="lexemeTransliteration" %}
                  {% elif lexeme.object_data.transliteration %}
                    {{ lexeme.object_data.transliteration }}
                  {% endif %}
                </td>
                {# notswadesh_data.html #}
                <td class="lexemeNotSwadeshTerm">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" %}
                  {% else %}
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# isexcluded_lexeme_data.html #}
                <td class="lexemeIsExcludedLexeme">
                  <input type="checkbox"
                    {% if lexeme.object_data.is_excluded_lexeme %}
                      checked="checked"
                    {% endif %}
                    class="form-control"
                    disabled="disabled">
                </td>
                {# ncog_data.html #}
                <td class="lexemeNumCogCoded"
                    style="width: 50px; border-left: 2px solid #dddddd;">
                  <center>
                    <span class="badge">
                      {{ lexeme.object_data.number_cognate_coded }}
                    </span>
                  </center>
                </td>
                {# copyrowfrom_data.html #}
                <td>
                  {% if lexeme.object_data.original %}
                    <a class="btn btn-default btn-xs pull-right"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Copy over cognate set assignment from the reference language selected here (in grey)."
                       data-copyrowfrom="#original_row_lexeme{{ lexeme.object_data.original.id }}">
                      <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                  {% endif %}
                </td>
                {# cognateclassids_data.html #}
                <td class="cognateClassId" style="text-align: center; width: 45px;">
                  {% for c in lexeme.object_data.allCognateClasses %}
                    <a href="/cognate/{{ c.id }}/"
                       target="_blank"
                       style="color: #8B4510;">
                      {{ c.id }}
                    </a>
                  {% endfor %}
                </td>
                {# cognateclassview_data.html #}
                <td style="padding-left: 4px; padding-right: 4px;">
                  <a href="/meaning/{{ lexeme.object_data.meaning.gloss }}/cognateclasslist/">
                    <img src="{% static '1c.png' %}">
                  </a>
                </td>
                {# cognateclasses_data.html #}
                <td style="text-align: center; color: #8B4510;">
                  <div class="cognateClasses">
                    {% if user.is_authenticated %}
                      {% form_field lexeme.combinedCognateClassAssignment class="form-control" data-copyrowfrom-key="combinedCognateClassAssignment" %}
                    {% else %}
                      {{ lexeme.object_data.combinedCognateClassAssignment }}
                    {% endif %}
                  </div>
                </td>
                {# rootform_data.html #}
                <td class="lexemeRootForm" style="color: #8B4510;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootFormOrPlaceholder }}
                  {% endif %}
                </td>
                {# rootlanguage_data.html #}
                <td class="lexemeRootLanguage nowrap" style="color: #8B4510; width: 155px;">
                  {% if lexeme.object_data.allCognateClasses|length == 1 %}
                    {{ lexeme.object_data.allCognateClasses.0.rootLanguageOrPlaceholder }}
                  {% endif %}
                </td>
                {# loanevent_data.html #}
                <td class="lexemeLoanEvent">
                  {% if lexeme.object_data.show_loan_event %}
                    <input type="checkbox"
                      {% if lexeme.object_data.loan_event %}
                        checked="checked"
                      {% endif %}
                      class="form-control"
                      disabled="disabled">
                  {% endif %}
                </td>
                {# isloan_cognate_data.html #}
                <td class="lexemeIsLoanCognate">
                  <input type="checkbox"
                    {% if lexeme.object_data.is_loan_cognate %}
                      checked="checked"
                    {% endif %}
                    class="form-control"
                    disabled="disabled">
                </td>
                {# isexcluded_cognate_data.html #}
                <td class="lexemeIsExcludedCognate"
                    style="border-right: 2px solid #dddddd;">
                  <input type="checkbox"
                    {% if lexeme.object_data.is_excluded_cognate %}
                      checked="checked"
                    {% endif %}
                    class="form-control"
                    disabled="disabled">
                </td>
                {# phonemic_data.html #}
                <td class="lexemePhoneMic">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.phoneMic id="phoneMic" size="8" class="form-control" data-copyrowfrom-key="lexemePhoneMic" %}
                  {% elif lexeme.object_data.phoneMic %}
                    {{ lexeme.object_data.phoneMic }}
                  {% endif %}
                </td>
                {# phonecopy_data.html #}
                <td>
                  {% if user.is_authenticated %}
                    <button class="leftcheckarrow btn btn-xs inline"
                            type="button"
                            id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                  {% endif %}
                </td>
                <td>
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs inline"
                            type="button"
                            id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                  {% endif %}
                </td>
                {# phonetic_data.html #}
                <td class="lexemePhonForm">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.phon_form id="phoneTic" size="8" class="form-control" data-copyrowfrom-key="lexemePhonForm" %}
                  {% elif lexeme.object_data.phon_form %}
                    {{ lexeme.object_data.phon_form }}
                  {% endif %}
                </td>
                {# gloss_data.html #}
                <td class="lexemeGloss">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.gloss size="8" class="form-control" data-copyrowfrom-key="lexemeGloss" %}
                  {% elif lexeme.object_data.gloss %}
                    {{ lexeme.object_data.gloss }}
                  {% endif %}
                </td>
                {# notes_data.html #}
                <td class="lexemeNotes">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.notes class="form-control" data-copyrowfrom-key="lexemeNotes" %}
                  {% elif lexeme.object_data.notes %}
                    {{ lexeme.object_data.notes }}
                  {% endif %}
                </td>
                {# weblookup_data.html #}
                <td>
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs"
                            type="button"
                            id="src2root#{{lexeme.source_form.name}}#{{lexeme.rfcWebLookup1.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                  {% endif %}
                </td>
                <td class="lexemeRfcWebLookup1">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.rfcWebLookup1 class="form-control" data-copyrowfrom-key="lexemeRfcWebLookup1" %}
                  {% elif lexeme.object_data.rfcWebLookup1 %}
                    {{ lexeme.object_data.rfcWebLookup1 }}
                  {% endif %}
                </td>
                <td class="hide">
                  {% if user.is_authenticated %}
                    <button class="rightcheckarrow btn btn-xs"
                            type="button"
                            id="src2root#{{lexeme.source_form.name}}#{{lexeme.rfcWebLookup2.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                  {% endif %}
                </td>
                <td class="lexemeRfcWebLookup2 hide">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.rfcWebLookup2 class="form-control" %}
                  {% elif lexeme.object_data.rfcWebLookup2 %}
                    {{ lexeme.object_data.rfcWebLookup2 }}
                  {% endif %}
                </td>
                {# dubious_data.html #}
                <td class="lexemeDubious">
                  {% if user.is_authenticated %}
                    {% form_field lexeme.dubious class="form-control" %}
                  {% else %}
                    {% form_field lexeme.dubious class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
