{%extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  {{ meaning.gloss }}
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  <li class="navbar-text">
    List:
  </li>
  <li class="navbar-text dropdown"
      title="Select language list"
      data-toggle="tooltip"
      data-placement="bottom">
    <button class="btn btn-default dropdown-toggle"
            type="button" id="languageListSelection"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
            style="padding: 0px;">
      {{ current_language_list }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageListSelection"
        style="overflow-y: scroll; height: 23em;">
      {% for ll in otherLanguageLists %}
        <li><a href="{% url 'view-meaning-languages' meaning.gloss ll.name %}">{{ ll.name }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% if user.is_authenticated %}
        <form action="" method="POST" name="lex_ed_form">
          {% csrf_token %}
          <div class="form-group pull-right">
            <a href="{% url 'meaning-add-lexeme' meaning.gloss %}"
               class="btn btn-default space-right"
               data-toggle="tooltip" data-placement="bottom"
               title="add a new lexeme">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
            <a href="{% url 'view-meaning-languages' meaning.gloss current_language_list.name %}" class="btn btn-default">Undo</a>
            <input type="submit" value="Save" name="meang_form" class="btn btn-danger">
          </div>
      {% endif %}
        {% include "snippets/prev_next_meaning.html" %}
        {% if languageBranches %}
        <ul id="languageBranchFilter" data-selector=".languageBranchColor">
          {% for branch in languageBranches %}
            {% if branch.shortName %}
              <li class="inline" data-treeids="{{ branch.getTreeIds|join:"," }}">
                <span class="badge" style="background-color: #{{ branch.hexColor }};">
                  {{ branch.shortName }}
                </span>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        <table class="table table-condensed viewTableFilter"
               id="viewMeaningLanguages">
          <thead>
            <tr>
              {% include "view_meaning/lexemeid_title.html" %}
              {% include "view_meaning/branchcolor_title.html" %}
              {% include "view_meaning/languagename_title.html" %}
              {% include "view_meaning/sourceform_title.html" %}
              {% include "view_meaning/lexemeeditcopy_title.html" %}
              {% include "view_meaning/transliteration_title.html" %}
              {% include "view_meaning/swadesh_title.html" %}
              {% include "view_meaning/cognateclasses_title.html" %}
              {% include "view_meaning/isloan_title.html" %}
              {% include "view_meaning/isexcluded_title.html" %}
              {% include "view_meaning/loanevent_title.html" %}
              {% include "view_meaning/rootform_title.html" %}
              {% include "view_meaning/rootlanguage_title.html" %}
              {% include "view_meaning/ncog_title.html" %}
              {% include "view_meaning/phonemic_title.html" %}
              {% include "view_meaning/phonecopy_title.html" %}
              {% include "view_meaning/phonetic_title.html" %}
              {% include "view_meaning/gloss_title.html" %}
              {% include "view_meaning/notes_title.html" %}
            </tr>
            <tr>
              {% include "view_meaning/lexemeid_filter.html" %}
              {% include "view_meaning/branchcolor_filter.html" %}
              {% include "view_meaning/languagename_filter.html" %}
              {% include "view_meaning/sourceform_filter.html" %}
              {% include "view_meaning/lexemeeditcopy_filter.html" %}
              {% include "view_meaning/transliteration_filter.html" %}
              {% include "view_meaning/swadesh_filter.html" %}
              {% include "view_meaning/cognateclasses_filter.html" %}
              {% include "view_meaning/isloan_filter.html" %}
              {% include "view_meaning/isexcluded_filter.html" %}
              {% include "view_meaning/loanevent_filter.html" %}
              {% include "view_meaning/cogclassids_filter.html" %}
              {% include "view_meaning/rootform_filter.html" %}
              {% include "view_meaning/rootlanguage_filter.html" %}
              {% include "view_meaning/ncog_filter.html" %}
              {% include "view_meaning/phonemic_filter.html" %}
              {% include "view_meaning/phonecopy_filter.html" %}
              {% include "view_meaning/phonetic_filter.html" %}
              {% include "view_meaning/gloss_filter.html" %}
              {% include "view_meaning/notes_filter.html" %}
            </tr>
          </thead>
          <tbody>
            {% for lexeme in lex_ed_form.lexemes %}
              <tr>
                {% include "view_meaning/lexemeid_data.html" %}
                {% include "view_meaning/branchcolor_data.html" %}
                {% include "view_meaning/languagename_data.html" %}
                {% include "view_meaning/sourceform_data.html" %}
                {% include "view_meaning/lexemeeditcopy_data.html" %}
                {% include "view_meaning/transliteration_data.html" %}
                {% include "view_meaning/swadesh_data.html" %}
                {% include "view_meaning/cognateclasses_data.html" %}
                {% include "view_meaning/isloan_data.html" %}
                {% include "view_meaning/isexcluded_data.html" %}
                {% include "view_meaning/loanevent_data.html" %}
                {% include "view_meaning/cogclassids_data.html" %}
                {% include "view_meaning/rootform_data.html" %}
                {% include "view_meaning/rootlanguage_data.html" %}
                {% include "view_meaning/ncog_data.html" %}
                {% include "view_meaning/phonemic_data.html" %}
                {% include "view_meaning/phonecopy_data.html" %}
                {% include "view_meaning/phonetic_data.html" %}
                {% include "view_meaning/gloss_data.html" %}
                {% include "view_meaning/notes_data.html" %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% if user.is_authenticated %}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
