{%extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}{{ meaning.gloss }}{% endblock %}

{% block top %}<h1>{{ meaning.gloss }}</h1>{% endblock %}

{% block content %}


	{% if user.is_authenticated %}
	<form action="" method="POST" name="lex_ed_form">{% csrf_token %}
			
	<div class="lex_form">
		<input type="submit" value="Submit" name="meang_form">
        <br>
        <a href="{% url 'view-meaning-languages' meaning.gloss current_language_list.name %}">undo</a>
	</div>
	<table id="editable">
		  <tr class="mid-align">
		  	<th class="hidden"></th>
		    <th>ID</th>
		    <th>Language</th>
		    <th>Orthog.</th>
		    <th></th>
		    <th></th>
		    <th>Translit.</th>
		    <th>Not<br>Swh<br></th>
		    <th>PhoneMic</th>
		    <th></th>
		    <th>PhoneTic</th>
		    <th alt="Language specific">Gloss</th>
		    <th>Notes</th>
		    <th>Cog.<br>Alias</th>
		    <th>is_loan</th>
		    <th>is_exc</th>
            <th>Loan<br>Event</th>
		    <th></th>
		    <th>Root</th>
            <th alt="Number of cognate classes">nCog</th>
		    <th>This Lg lex rfc web path 1</th>
		    <th>This Lg lex rfc web path 2</th>
		  </tr>
		  {% for lexeme in lex_ed_form.lexemes %}
		  <tr>
		  	<td class="hidden">{{ lexeme.id }}</td>
		    <td class="narrow">{% form_field lexeme.language_id class="readonlynarrow" id="narrowtext" %}</td>
		    <td><a href="{% url 'language-report' lexeme.language_asciiname.data %}">{% form_field lexeme.language_utf8name class="language_name" id="linked" %}</a></td>
        <td>{% form_field lexeme.source_form id="source_form" class="mediumtext" %}</td>
        <td>
          <a href="{% url 'view-lexeme' lexeme.id.data %}">
            <img src="{% static 'buttons/view.png' %}" alt="View" title="View/edit the lexical entry" />
          </a>
        </td>
        <td>
          <div>
            <input class="leftcheckarrow" type="checkbox" id="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}" onclick="CopyAcross(this)"><label class="left" for="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}"></label>
            <input class="rightcheckarrow" type="checkbox" id="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}" onclick="CopyAcross(this)"><label class="right" for="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}"></label>
          </div>
        </td>
        <td>{% form_field lexeme.transliteration id="transliteration" class="mediumtext" %}</td>
        <td>{% form_field lexeme.not_swadesh_term class="notswad_checkbox" %}</td>
        <td>{% form_field lexeme.phoneMic id="phoneMic" class="mediumtext" %}</td>
        <td>
          <div>
            <input class="leftcheckarrow" type="checkbox" id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}" onclick="CopyAcross(this)"><label class="left" for="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"></label>
            <input class="rightcheckarrow" type="checkbox" id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}" onclick="CopyAcross(this)"><label class="right" for="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"></label>
          </div>
        </td>
        <td>{% form_field lexeme.phon_form id="phoneTic" class="mediumtext" %}</td>
        <td>{% form_field lexeme.gloss class="widetext" %}</td>
        <td>{% form_field lexeme.notes class="widetext" %}</td>
        <td>
          <div class="narrow_form">
			      {{ lexeme.cognate_class_links.data }}
			      {% if user.is_authenticated %}
			        {% ifnotequal add_cognate_judgement|asint lexeme.id.data|asint %}
			        <a href="{% url 'lexeme-add-cognate' lexeme.id.data %}#lexeme_{{ lexeme.id.data }}">
			          <img src="{% static 'buttons/add.png' %}" alt="Add" title="Add another cognate class" />
			        </a>
			        {% else %}
			        <form action="" method="post">{% csrf_token %}
			            {{ cognate_form.cognate_class }}
			        </form>
			        {% endifnotequal %}
			      {% endif %}
          </div>
        </td>
        <td>{% form_field lexeme.is_loan disabled="disabled" %}</td>
        <td>{% form_field lexeme.is_excluded disabled="disabled" %}</td>
        <td>
        {% if lexeme.object_data.show_loan_event %}
          {% form_field lexeme.loan_event disabled="disabled" %}
        {% endif %}
        </td>
        <td>
          <div class="Oright">
            <input class="Orightcheckarrow" type="checkbox" id="src2root#{{lexeme.source_form.name}}#{{lexeme.root_form.name}}" onclick="CopyAcross(this)">
            <label class="Oright" for="src2root#{{lexeme.source_form.name}}#{{lexeme.root_form.name}}"></label>
          </div>
        </td>
        <td>{% form_field lexeme.root_form id="rootform" class="mediumtext" %}</td>
        <td class="narrow">
            {% form_field lexeme.number_cognate_coded id="verynarrowtext" class="readonlynarrow" %}
        </td>
        <td>{% form_field lexeme.rfcWebLookup1 %}</td>
        <td>{% form_field lexeme.rfcWebLookup2 %}</td>
      </tr>
		  {% endfor %}
	</table>
	</form>
	{% else %}
	<table>
		<tr>
		    <th>ID</th>
		    <th>Language</th>
		    <th>Source Form</th>
		    <th>Phonological Form</th>
		    <th>Notes</th>
		    <th>Cognate Class Label</th>
		    <th></th>
		</tr>
		{% for lexeme in lexemes %}
			<tr class="{% cycle 'odd' 'even' %}">
			    <td id="lexeme_{{ lexeme.id }}">{{ lexeme.language.id }}</td>
			    <td><a href="{% url 'language-report' lexeme.language.ascii_name %}">{{ lexeme.language.utf8_name }}</a></td>
			    <td>{{ lexeme.source_form }}</td>
			    <td>{{ lexeme.phon_form }}</td>
			    <td>
			      {{ lexeme.notes|wikilink|truncatewords_html:5 }}
			      {% if lexeme.notes|is_truncated:5 %}
			      <a href="{% url 'view-lexeme' lexeme.id %}" title="{{ lexeme.notes }}">
			        <img src="{% static 'buttons/view.png' %}" title="{{ lexeme.notes }}" />
			      </a>
			      {% endif %}
			    </td>  
			    <td> 
			      {{ lexeme.get_cognate_class_links }}
			      {% if user.is_authenticated %}
			        {% ifnotequal add_cognate_judgement|asint lexeme.id|asint %}
			        <a href="{% url 'lexeme-add-cognate' lexeme.id %}#lexeme_{{ lexeme.id }}">
			          <img src="{% static 'buttons/add.png' %}" alt="Add" title="Add another cognate class" />
			        </a>
			        {% else %}
			        <form action="" method="post">{% csrf_token %}
			            {{ cognate_form.cognate_class }}
			        </form>
			        {% endifnotequal %}
			      {% endif %}
			    </td>
			    <td>
			      <a href="{% url 'view-lexeme' lexeme.id %}">
			        <img src="{% static 'buttons/view.png' %}" alt="View" title="View/edit the lexical entry" />
			      </a>
			    </td>
		    </tr>
		{% endfor %}
	</table>
	{% endif %}	
{% endblock %}

{% block controls %}
{% include "snippets/prev_next_meaning.html" %}
{% include "snippets/go_to.html" %}
{# include "snippets/change_sort_order.html" #}

<form action="" method="GET">
    {{ filt_form }} <input type="submit" value="Filter">
</form>

<p>
<form action="" method="POST">{% csrf_token %}
<table>
{{ language_form.as_table }}
</table>
</form>
</p>
<ul class="navigation">
  {% if add_cognate_judgement  %}
  <li><a href="{% url 'meaning-report' meaning.gloss %}/">return to normal view</a></li>
  {% endif %}
  <li><a href="{% url 'lexeme-search' %}">search lexemes</a></li>
  <li><a href="{% url 'meaning-add-lexeme' meaning.gloss %}">add a new lexeme</a></li>
</ul>
<p>Cognate judgements are added on this page, but deleted by the lexeme view (use the <img src="{% static 'buttons/view.png' %}" alt="" title="View/Edit the lexical entry" /> button)</p>

<strong>Filter out non-Swadesh terms: <input type="submit" value="Filter" id="filter_non_swadesh" onclick="ExcludeRows()"></strong>
<h3>Description</h3>
{{ meaning.notes|linebreaksbr }}
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
