{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  {{ meaning.gloss }}
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12" style="margin-top: 71px;">
      {% if user.is_authenticated %}
        <form action="" method="POST" name="lex_ed_form">
          {% csrf_token %}
      {% endif %}
      <div class="fixedContainer">
        {% if user.is_authenticated %}
          <div class="form-group pull-right">
            <a href="{% url 'meaning-add-lexeme' meaning.gloss %}"
               class="btn btn-default space-right"
               data-toggle="tooltip" data-placement="bottom"
               title="add a new lexeme">
              <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
            <a href="{% url 'view-meaning-languages' meaning.gloss defaultLanguagelist %}"
               class="btn btn-default">Undo</a>
            <input type="submit" value="Save"
                   name="meang_form" class="btn btn-danger">
          </div>
        {% endif %}
        {% include "snippets/prev_next_meaning.html" %}
        {% include "snippets/cladeFilter.html" %}
      </div>
      <table class="table table-condensed viewTableFilter"
             id="viewMeaningLanguages"
             data-floatheadtop="71">
        <thead>
          <tr>
            {# lexemeid_title.html #}
            <th class="hide"></th>
            {# branchcolor_title.html #}
            <th class="languageBranchColor" colspan="2"></th>
            {# languagename_title.html #}
            <th>Language</th>
            <th></th>
            {# sourceform_title.html #}
            <th>Orthog.</th>
            {# lexemeeditcopy_title.html #}
            <th colspan="3"></th>
            {# transliteration_title.html #}
            <th>Translit.</th>
            {# swadesh_title.html #}
            <th>
              <div class="vertical-text">
                <div class="vertical-text__inner">
                  Not Swh
                </div>
              </div>
            </th>
            {# isexcluded_lexeme_title.html #}
            <th>
              <div class="vertical-text">
                <div class="vertical-text__inner">
                  Lex. excl
                </div>
              </div>
            </th>
            {# ncog_title.html #}
            <th title="Number of cognate classes"
                data-toggle="tooltip"
                data-placement="bottom"
                data-container="body"
                style="width: 80px; border-left: 2px solid #dddddd;">
              <div class="vertical-text">
                <div class="vertical-text__inner">
                  nCog
                </div>
              </div>
            </th>
            {# selection_title.html #}
            {% if user.is_authenticated %}
              <th title="Select entries to assign them to a cognate set."
                  data-container="body"
                  data-toggle="tooltip"
                  data-placement="bottom">
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Select
                  </div>
                </div>
              </th>
            {% endif %}
            {# cognateclassids_title.html #}
            <th>Cog.<br>ID</th>
            {# cognateclasses_title.html #}
            <th>
              Cog.<br>Alias
            </th>
            {# cognateclassview_title.html #}
            <th></th>
            {# rootform_title.html #}
            <th style="width: 100px;">
              Root Form
            </th>
            {# rootlanguage_title.html #}
            <th style="width: 160px;">
              Root Language
            </th>
            {# loanevent_title.html #}
            <th>
              <div class="vertical-text">
                <div class="vertical-text__inner">
                  Loan Event
                </div>
              </div>
            </th>
            {# isloan_cognate_title.html #}
            <th>
              <div class="vertical-text">
                <div class="vertical-text__inner">
                  Cog. loan
                </div>
              </div>
            </th>
            {# isexcluded_cognate_title.html #}
            <th style="border-right: 2px solid #dddddd;">
              <div class="vertical-text">
                <div class="vertical-text__inner">
                  Cog. excl
                </div>
              </div>
            </th>
            {# phonemic_title.html #}
            <th>
              PhoneMic
            </th>
            {# phonecopy_title.html #}
            <th colspan="2"></th>
            {# phonetic_title.html #}
            <th>PhoneTic</th>
            {# gloss_title.html #}
            <th alt="Language specific">Gloss</th>
            {# notes_title.html #}
            <th>Notes</th>
          </tr>
          <tr class="filterBar">
            {# lexemeid_filter.html #}
            <td class="hide"></td>
            {# branchcolor_filter.html #}
            <td class="languageBranchColor" colspan="2"></td>
            {# languagename_filter.html #}
            <td>
              <input type="text" class="filterText form-control"
                     data-selector=".languageName">
              <div class="btn btn-xs btn-default sortText"
                   data-selector=".languageName">
                <span class="glyphicon glyphicon-sort"></span>
              </div>
            </td>
            <td></td>
            {# sourceform_filter.html #}
            <td>
              {% if user.is_authenticated %}
                <input type="text" class="filterInput form-control"
                       data-selector=".lexemeSourceForm input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemeSourceForm input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text" class="filterText form-control"
                       data-selector=".lexemeSourceForm">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeSourceForm">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
            {# lexemeeditcopy_filter.html #}
            <td colspan="3"></td>
            {# transliteration_filter.html #}
            <td>
              {% if user.is_authenticated %}
                <input type="text"
                       class="filterInput form-control"
                       data-selector=".lexemeTransliteration input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemeTransliteration input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text"
                       class="filterText form-control"
                       data-selector=".lexemeTransliteration">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeTransliteration">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
            {# swadesh_filter.html #}
            <td>
              <button type="button"
                      class="filterBool btn btn-xs btn-danger"
                      data-selector=".lexemeSwadeshTerm input">
                <span class="glyphicon glyphicon-remove-sign"></span>
              </button>
            </td>
            {# isexcluded_lexeme_filter.html #}
            <td>
              <button type="button"
                      class="filterBool btn btn-xs btn-default"
                      data-selector=".lexemeIsExcludedLexeme input">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
            </td>
            {# ncog_filter.html #}
            <td style="border-left: 2px solid #dddddd;">
              <input type="text" class="filterText form-control narrow"
                     data-selector=".lexemeNCog" style="width: 1.5em;">
              <div class="btn btn-xs btn-default sortIntText"
                   data-selector=".lexemeNCog">
                <span class="glyphicon glyphicon-sort"></span>
              </div>
            </td>
            {# selection_filter.html #}
            {% if user.is_authenticated %}
              <td>
                <button type="button"
                        class="filterBool btn btn-xs btn-default"
                        data-selector=".selection input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
            {% endif %}
            {# cognateclassids_filter.html #}
            <td>
              <div class="btn btn-xs btn-default sortIntText"
                   data-selector=".cognateClassId">
                <span class="glyphicon glyphicon-sort"></span>
              </div>
            </td>
            {# cognateclasses_filter.html #}
            <td>
              <input type="text"
                     class="filterText form-control"
                     data-selector=".cognateClasses"
                     size="1"
                     style="padding-left: 2px; padding-right: 2px;">
            </td>
            {# cognateclassview_filter.html #}
            <td></td>
            {# rootform_filter.html #}
            <td style="width: 100px;">
              {% if user.is_authenticated %}
                <input type="text"
                       class="filterInput form-control narrow"
                       data-selector=".lexemeRootForm input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemeRootForm input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemeRootForm">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootForm">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
            {# rootlanguage_filter.html #}
            <td style="width: 160px;">
              {% if user.is_authenticated %}
                <input type="text"
                       class="filterInput form-control narrow"
                       data-selector=".lexemeRootLanguage input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemeRootLanguage input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text"
                       class="filtersText form-control narrow"
                       data-selector=".lexemeRootLanguage">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeRootLanguage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
            {# loanevent_filter.html #}
            <td>
              <button type="button" class="filterBool btn btn-xs btn-default"
                      data-selector=".lexemeShowLoanEvent input">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
            </td>
            {# isloan_cognate_filter.html #}
            <td>
              <button type="button"
                      class="filterBool btn btn-xs btn-default"
                      data-selector=".lexemeIsLoanCognate input">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
            </td>
            {# isexcluded_cognate_filter.html #}
            <td style="border-right: 2px solid #dddddd;">
              <button type="button"
                      class="filterBool btn btn-xs btn-default"
                      data-selector=".lexemeIsExcludedCognate input">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
            </td>
            {# phonemic_filter.html #}
            <td>
              {% if user.is_authenticated %}
                <input type="text"
                       class="filterInput form-control narrow"
                       data-selector=".lexemePhoneMic input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemePhoneMic input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemePhoneMic">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemePhoneMic">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
            {# phonecopy_filter.html #}
            <td colspan="2"></td>
            {# phonetic_filter.html #}
            <td>
              {% if user.is_authenticated %}
                <input type="text"
                       class="filterInput form-control narrow"
                       data-selector=".lexemePhoneTic input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemePhoneTic input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text"
                       class="filterText form-control narrow"
                       data-selector=".lexemePhoneTic">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemePhoneTic">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
            {# gloss_filter.html #}
            <td>
              {% if user.is_authenticated %}
                <input type="text" class="filterInput form-control narrow"
                       data-selector=".lexemeGloss input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemeGloss input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeGloss">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeGloss">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
            {# notes_filter.html #}
            <td>
              {% if user.is_authenticated %}
                <input type="text" class="filterInput form-control narrow"
                       data-selector=".lexemeNotes input">
                <div class="btn btn-xs btn-default sortInput"
                     data-selector=".lexemeNotes input">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% else %}
                <input type="text" class="filterText form-control narrow"
                       data-selector=".lexemeNotes">
                <div class="btn btn-xs btn-default sortText"
                     data-selector=".lexemeNotes">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              {% endif %}
            </td>
          </tr>
        </thead>
        <tbody>
          {% for lexeme in lex_ed_form.lexemes %}
            <tr data-cladefilter-representative="{{ lexeme.object_data.language.representative }}"
                data-cladefilter-cladepath="{{ lexeme.object_data.language.cladePath }}">
              {# lexemeid_data.html #}
              <td class="hide">
                {% if user.is_authenticated %}
                  {{ lexeme.id }}
                  {{ lexeme.lastTouched }}
                  {{ lexeme.lastEditedBy }}
                {% endif %}
              </td>
              {# branchcolor_data.html #}
              <td class="languageBranchColor"
                  {% if lexeme.object_data.language_color %}
                    style="background-color: #{{ lexeme.object_data.language_color }};"
                  {% endif %}
                  {% if lexeme.object_data.languageBranchId %}
                    data-languagebranchid="{{ lexeme.object_data.languageBranchId }}"
                  {% endif %}
                ></td>
              <td class="languageBranchColorSpace"></td>
              {# languagename_data.html #}
              <td class="languageName">
                <a href="{% url 'language-report' lexeme.language_asciiname.data %}"
                   style="font-size: 15px;">
                  {{ lexeme.data.language_utf8name }}
                </a>
              </td>
              <td>
                {% if lexeme.object_data.rfcWebPath1 and lexeme.data.rfcWebLookup1 %}
                  <a href="{{ lexeme.object_data.rfcWebPath1 }}{{ lexeme.data.rfcWebLookup1 }}"
                     target="_blank">
                    <span class="glyphicon glyphicon-link"></span>
                  </a>
                {% endif %}
                {% if lexeme.object_data.rfcWebPath2 and lexeme.data.rfcWebLookup2 %}
                  <a href="{{ lexeme.object_data.rfcWebPath2 }}{{ lexeme.data.rfcWebLookup2 }}"
                     target="_blank">
                    <span class="glyphicon glyphicon-info-sign"></span>
                  </a>
                {% endif %}
              </td>
              {# sourceform_data.html #}
              <td class="lexemeSourceForm">
                {% if user.is_authenticated %}
                  {% form_field lexeme.source_form id="source_form" class="form-control" style="font-size: 15px;" %}
                {% elif lexeme.source_form.data %}
                  {{ lexeme.source_form.data }}
                {% endif %}
              </td>
              {# lexemeeditcopy_data.html #}
              <td>
                {% if user.is_authenticated %}
                  <a href="{% url 'view-lexeme' lexeme.id.data %}"
                     title="View/edit the lexical entry">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated %}
                  <button class="leftcheckarrow btn btn-xs"
                          type="button"
                          id="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}"
                          onclick="CopyAcross(this)">
                    <span class="glyphicon glyphicon-step-backward"></span>
                  </button>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated %}
                  <button class="rightcheckarrow btn btn-xs"
                          type="button"
                          id="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}"
                          onclick="CopyAcross(this)">
                    <span class="glyphicon glyphicon-step-forward"></span>
                  </button>
                {% endif %}
              </td>
              {# transliteration_data.html #}
              <td class="lexemeTransliteration">
                {% if user.is_authenticated %}
                  {% form_field lexeme.transliteration id="transliteration" size="8" class="form-control" %}
                {% elif lexeme.transliteration.data %}
                  {{ lexeme.transliteration.data }}
                {% endif %}
              </td>
              {# swadesh_data.html #}
              <td class="lexemeSwadeshTerm">
                {% if user.is_authenticated %}
                  {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" %}
                {% else %}
                  {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" disabled="disabled" %}
                {% endif %}
              </td>
              {# isexcluded_lexeme_data.html #}
              <td class="lexemeIsExcludedLexeme">
                <input type="checkbox"
                  {% if lexeme.object_data.is_excluded_lexeme %}
                  checked="checked"
                  {% endif %}
                  disabled="disabled"
                  class="form-control">
              </td>
              {# ncog_data.html #}
              <td class="lexemeNCog"
                  style="border-left: 2px solid #dddddd;">
                <center>
                  <span class="badge">
                    {{ lexeme.object_data.number_cognate_coded }}
                  </span>
                </center>
              </td>
              {# selection_data.html #}
              {% if user.is_authenticated %}
                <td class="selection">
                  <input type="checkbox"
                         class="lexemeSelection form-control"
                         value='{{ lexeme.object_data.selectionJSON }}'>
                </td>
              {% endif %}
              {# cognateclassids_data.html #}
              <td class="cognateClassId" style="text-align: center;">
                {% for c in lexeme.object_data.allCognateClasses %}
                  <a href="/cognate/{{ c.id }}/"
                     target="_blank"
                     style="color: #8B4510;"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     title="New tab to view details of this cognate set and all member lexemes.">
                    {{ c.id }}
                  </a>
                {% endfor %}
              </td>
              {# cognateclasses_data.html #}
              <td class="selection">
                <div class="cognateClasses nowrap" style="text-align: center;">
                  {% if user.is_authenticated %}
                    {% ifequal add_cognate_judgement|asint lexeme.id.data|asint %}
                      <form action="" method="post">
                        {% csrf_token %}
                        {{ cognate_form.cognate_class }}
                      </form>
                    {% endifequal %}
                  {% endif %}
                  {% if lexeme.object_data.allCognateClasses %}
                    {% for c in lexeme.object_data.allCognateClasses %}
                      <a type="button"
                         class="editCognateClassButton inline"
                         style="color: #CD7432;"
                         data-toggle="tooltip"
                         data-placement="bottom"
                         data-container="body"
                         title="Click to re-assign this lexeme to a different cognate class."
                         data-json='{{ lexeme.object_data.selectionJSON }}'>
                        {{ c.alias }}
                      </a>
                    {% endfor %}
                  {% else %}
                    <a type="button"
                       class="editCognateClassButton inline"
                       style="color: #CD7432;"
                       data-json='{{ lexeme.object_data.selectionJSON }}'
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-container="body"
                       title="Click to assign this lexeme to a cognate class."
                       data-add="new">
                      <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                  {% endif %}
                </div>
              </td>
              {# cognateclassview_data.html #}
              <td style="padding-left: 4px; padding-right: 4px;">
                <a href="/meaning/{{ meaning.gloss }}/cognateclasslist/"
                   data-toggle="tooltip"
                   data-placement="bottom"
                   title="Switch page to view all cognate sets for this meaning.">
                  <img src="{% static '1c.png' %}">
                </a>
              </td>
              {# rootform_data.html #}
              <td class="lexemeRootForm" style="color: #8B4510; width: 100px;">
                {% if lexeme.object_data.allCognateClasses|length == 1 %}
                  {{ lexeme.object_data.allCognateClasses.0.root_form }}
                {% endif %}
              </td>
              {# rootlanguage_data.html #}
              <td class="lexemeRootLanguage" style="color: #8B4510; width: 160px;">
                {% if lexeme.object_data.allCognateClasses|length == 1 %}
                  {{ lexeme.object_data.allCognateClasses.0.root_language }}
                {% endif %}
              </td>
              {# loanevent_data.html #}
              <td class="lexemeShowLoanEvent">
                {% if lexeme.object_data.show_loan_event %}
                  <input type="checkbox"
                    {% if lexeme.object_data.loan_event %}
                    checked="checked"
                    {% endif %}
                    disabled="disabled"
                    class="form-control">
                {% endif %}
              </td>
              {# isloan_cognate_data.html #}
              <td class="lexemeIsLoanCognate">
                <input type="checkbox"
                  {% if lexeme.object_data.is_loan_cognated %}
                  checked="checked"
                  {% endif %}
                  disabled="disabled"
                  class="form-control">
              </td>
              {# isexcluded_cognate_data.html #}
              <td class="lexemeIsExcludedCognate"
                  style="border-right: 2px solid #dddddd;">
                <input type="checkbox"
                  {% if lexeme.object_data.is_excluded_cognate %}
                  checked="checked"
                  {% endif %}
                  disabled="disabled"
                  class="form-control">
              </td>
              {# phonemic_data.html #}
              <td class="lexemePhoneMic">
                {% if user.is_authenticated %}
                  {% form_field lexeme.phoneMic id="phoneMic" size="8" class="form-control" %}
                {% elif lexeme.phoneMic.data %}
                  {{ lexeme.phoneMic.data }}
                {% endif %}
              </td>
              {# phonecopy_data.html #}
              <td>
                {% if user.is_authenticated %}
                  <button class="leftcheckarrow btn btn-xs"
                          type="button"
                          id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"
                          onclick="CopyAcross(this)">
                    <span class="glyphicon glyphicon-step-backward"></span>
                  </button>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated %}
                  <button class="rightcheckarrow btn btn-xs"
                          type="button"
                          id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"
                          onclick="CopyAcross(this)">
                    <span class="glyphicon glyphicon-step-forward"></span>
                  </button>
                {% endif %}
              </td>
              {# phonetic_data.html #}
              <td class="lexemePhoneTic">
                {% if user.is_authenticated %}
                  {% form_field lexeme.phon_form id="phoneTic" size="8" class="form-control" %}
                {% elif lexeme.phon_form.data %}
                  {{ lexeme.phon_form.data }}
                {% endif %}
              </td>
              {# gloss_data.html #}
              <td class="lexemeGloss">
                {% if user.is_authenticated %}
                  {% form_field lexeme.gloss size="4" class="form-control" %}
                {% elif lexeme.gloss.data %}
                  {{ lexeme.gloss.data }}
                {% endif %}
              </td>
              {# notes_data.html #}
              <td class="lexemeNotes">
                {% if user.is_authenticated %}
                  {% form_field lexeme.notes class="form-control" %}
                {% elif lexeme.notes.data %}
                  {{ lexeme.notes.data }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if user.is_authenticated %}
        </form>
        <form action="" method="POST"
              name="createCognateClass"
              id="createCognateClassForm"
              class="hide">
          {% csrf_token %}
          <input type="submit"
                 name="createCognateClass"
                 class="btn btn-default">
        </form>
        {% include "snippets/editCognateClassModal.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
