{% extends "base.html" %}
{% load lexicon_utils %}

{% block title %}{{ project_short_name }} Recent Changes{% endblock %}

{% block top %}
<h1>View Changes</h1>
{% endblock %}

{% block content %}

<table>
{% for version in changes.object_list %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ version.revision.date_created|date:"d-M-Y G:i"  }}</td>
    <td>{{ version.content_type.name }}</td>
    <td>
      {% if version.get_type_display != "Deletion" %}                        
      {% with version.get_object_version.object.get_absolute_url as obj_url %}
      {% if obj_url %}
      <a href="{{ obj_url }}">
         {{ version.get_object_version.object }}
      </a>                                                                   
      {% else %} 
      &lt;{{ version.get_object_version.object }}&gt;
      {% endif %}
      {% endwith %}
      {% endif %}                                                            
    </td>                                                                    
    <td><b>{{ version.get_type_display }}</b></td>
    <td>{{ version.revision.user.username }}</td>
    <td>{{ version.revision.comment|wikilink|truncatewords_html:1 }}</td>
    <td><small><a href="/revert/{{ version.id }}">undo</a></small></td>
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block controls %}
<div class="pagination">
  <span class="step-links">
    {% if changes.has_previous %}
      <a href="?page={{ changes.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ changes.number }} of {{ changes.paginator.num_pages }}.
    </span>
    {% if changes.has_next %}
      <a href="?page={{ changes.next_page_number }}">next</a>
    {% endif %}
  </span>
  <br />
{% include "snippets/go_to.html" %}

<hr />
<h2>Contributors</h2>
<table>
{% for contributor, count in contributors %}
<tr class="{% cycle 'odd' 'even' %}">
  <td>{{ contributor.username }}</td>
  <td>{{ count }}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
