{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  {{ meaning.gloss }}
{% endblock %}

{% block top %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12" style="margin-top: 71px;">
      {% if user.is_authenticated and user.is_staff %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Done?</th>
              <th>Name</th>
              <th title="Additional files"
                  data-toggle="tooltip"
                  data-container="body"
                  data-placement="top">
                Add. files
              </th>
              <th title="Language list"
                  data-toggle="tooltip"
                  data-container="body"
                  data-placement="top">
                L. list
              </th>
              <th title="Meaning list"
                  data-toggle="tooltip"
                  data-container="body"
                  data-placement="top">
                M. list
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Dialect
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    label cognate sets
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    ascertainment marker
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. NotSwadesh
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. PllDerivation
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. Ideophonic
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. Dubious
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. Loanword
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. PllLoan
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    incl. PllLoan
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. MarkedMeanings
                  </div>
                </div>
              </th>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    excl. MarkedLanguages
                  </div>
                </div>
              </th>
              <th>Date</th>
              <th title="Triggered by"
                  data-toggle="tooltip"
                  data-container="body"
                  data-placement="top">
                by
              </th>
              <th>Del?</th>
            </tr>
          </thead>
          <tbody>
            {% for export in exports %}
              <tr>
                <td>
                  {{ export.id }}
                </td>
                <td>
                  {% if export.pending %}
                    <span class="glyphicon glyphicon-remove"></span>
                  {% else %}
                    <span class="glyphicon glyphicon-ok"></span>
                  {% endif %}
                </td>
                <td>
                  <a href="/nexus/export/{{ export.id }}">
                    {{ export.exportName }}
                  </a>
                </td>
                <td class="nowrap">
                  {% if export.constraintsData %}
                    <a href="/nexus/export/{{ export.id }}?constraints">
                      [ Constraints ]
                    </a>
                  {% elif export.pending %}
                      [ Constraints ]
                  {% endif %}
                  <br>
                  {% if export.exportBEAUti %}
                    <a href="/nexus/export/{{ export.id }}?beauti">
                      [ BEAUti ]
                    </a>
                  {% elif export.pending %}
                      [ BEAUti ]
                  {% endif %}
                </td>
                <td>{{ export.language_list_name }}</td>
                <td>{{ export.meaning_list_name }}</td>
                <td>{{ export.dialect }}</td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.label_cognate_sets %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.ascertainment_marker %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludeNotSwadesh %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludePllDerivation %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludeIdeophonic %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludeDubious %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludeLoanword %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludePllLoan %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.includePllLoan %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludeMarkedMeanings %}checked="checked"{% endif %}>
                </td>
                <td>
                  <input type="checkbox" disabled="disabled" class="form-control" {% if export.excludeMarkedLanguages %}checked="checked"{% endif %}>
                </td>
                <td>{{ export.lastTouched }}</td>
                <td>{{ export.lastEditedBy }}</td>
                <td>
                  <form action="/nexus/export/{{ export.id }}/" method="post">
                    {% csrf_token %}
                    <input class="hide" type="submit" name="delete" value="delete">
                    <a class="btn btn-xs btn-danger confirmSubmit"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       data-container="body"
                       title="Remove this export?"
                       data-confirm="Are you sure? Please delete only if an export was done with erroneous settings. Otherwise, keep every export as a record of all analyses performed.">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="well">
          Sorry, nothing to see here.
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
