{%extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  {{ meaning.gloss }}
{% endblock %}

{% block top %}
  <div class="row">
    <div class="col-md-4">
      <h1>
        {{ meaning.gloss }}
        <a href="{% url 'meaning-add-lexeme' meaning.gloss %}"
           class="btn btn-default btn-xs"
           data-toggle="tooltip" data-placement="bottom"
           title="add a new lexeme">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </h1>
    </div>
    <div class="col-md-4">
      {% include "snippets/prev_next_meaning.html" %}
    </div>
  </div>
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <form class="form-inline" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <table>
            {{ language_form.as_table }}
          </table>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form class="form-inline">
        <div class="form-group">
          <label for="excludeButton">Filter out non-Swadesh terms:</label>
          <input name="excludeButton" type="submit" value="Filter" id="filter_non_swadesh" onclick="ExcludeRows()" class="btn btn-default">
        </div>
      </form>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="row">
      <div class="col-md-12">
        <form action="" method="POST" name="lex_ed_form">
          {% csrf_token %}
          <div class="form-group">
            <label for="langlist_form">Save table?</label>
            <a href="{% url 'view-meaning-languages' meaning.gloss current_language_list.name %}" class="btn btn-danger"> undo</a>
            <input type="submit" value="Submit" name="meang_form" class="btn btn-primary">
          </div>
          <table class="table table-condensed viewTableFilter" id="viewMeaningLanguages">
            <thead>
              <tr>
                <th class="hide"></th>
                <th>ID</th>
                <th>Language</th>
                <th></th>
                <th>Orthog.</th>
                <th colspan="3"></th>
                <th>Translit.</th>
                <th>Not<br>Swh<br></th>
                <th>Cog.<br>Alias</th>
                <th>loan</th>
                <th>excl</th>
                <th>Loan<br>Event</th>
                <th></th>
                <th>Root</th>
                <th alt="Number of cognate classes">nCog</th>
                <th>PhoneMic</th>
                <th colspan="2"></th>
                <th>PhoneTic</th>
                <th alt="Language specific">Gloss</th>
                <th>Notes</th>
              </tr>
              <tr>
                <th class="hide"></th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".sortLanguageId">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterText form-control"
                         data-selector=".languageName">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".languageName">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th></th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".lexemeSourceForm input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeSourceForm input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th colspan="3"></th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".lexemeTransliteration input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeTransliteration input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <button type="button" class="filterBool btn btn-xs btn-danger"
                          data-selector=".lexemeSwadeshTerm input">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                  </button>
                </th>
                <th>
                  <input type="text" class="filterText form-control"
                         data-selector=".cognateClasses"
                         size="1" style="padding-left: 2px; padding-right: 2px;">
                </th>
                <th>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".lexemeIsLoan input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </th>
                <th>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".lexemeIsExcluded input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </th>
                <th>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".lexemeShowLoanEvent input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </th>
                <th></th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemeRootForm input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeRootForm input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".lexemeNCog">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemePhoneMic input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemePhoneMic input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th colspan="2"></th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemePhoneTic input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemePhoneTic input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemeGloss input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeGloss input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control narrow"
                         data-selector=".lexemeNotes input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".lexemeNotes input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for lexeme in lex_ed_form.lexemes %}
                <tr>
                  <td class="hide">{{ lexeme.id }}</td>
                  <td class="sortLanguageId">{{ lexeme.data.language_id }}</td>
                  <td class="languageName">
                    <a href="{% url 'language-report' lexeme.language_asciiname.data %}">
                      {{ lexeme.data.language_utf8name }}
                    </a>
                  </td>
                  <td>
                    {% if lexeme.object_data.rfcWebPath1 and lexeme.data.rfcWebLookup1 %}
                      <a href="{{ lexeme.object_data.rfcWebPath1 }}{{ lexeme.data.rfcWebLookup1 }}" target="_blank">
                        <span class="glyphicon glyphicon-link"></span>
                      </a>
                    {% endif %}
                    {% if lexeme.object_data.rfcWebPath2 and lexeme.data.rfcWebLookup2 %}
                      <a href="{{ lexeme.object_data.rfcWebPath2 }}{{ lexeme.data.rfcWebLookup2 }}" target="_blank">
                        <span class="glyphicon glyphicon-info-sign"></span>
                      </a>
                    {% endif %}
                  </td>
                  <td class="lexemeSourceForm">
                    {% form_field lexeme.source_form id="source_form" class="form-control" %}
                  </td>
                  <td>
                    <a href="{% url 'view-lexeme' lexeme.id.data %}" title="View/edit the lexical entry">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
                  </td>
                  <td>
                    <button class="leftcheckarrow btn btn-xs" type="button"
                            id="translit2src#{{lexeme.transliteration.name}}#{{lexeme.source_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs" type="button"
                            id="src2translit#{{lexeme.source_form.name}}#{{lexeme.transliteration.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                  </td>
                  <td class="lexemeTransliteration">
                    {% form_field lexeme.transliteration id="transliteration" size="8" class="form-control" %}
                  </td>
                  <td class="lexemeSwadeshTerm">
                    {% form_field lexeme.not_swadesh_term class="notswad_checkbox form-control" %}
                  </td>
                  <td>
                    <div class="cognateClasses">
                      {{ lexeme.cognate_class_links.data }}
                      {% if user.is_authenticated %}
                        {% ifnotequal add_cognate_judgement|asint lexeme.id.data|asint %}
                          <a href="{% url 'lexeme-add-cognate' lexeme.id.data %}#lexeme_{{ lexeme.id.data }}"
                             title="Add another cognate class">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                          </a>
                        {% else %}
                          <form action="" method="post">
                            {% csrf_token %}
                            {{ cognate_form.cognate_class }}
                          </form>
                        {% endifnotequal %}
                      {% endif %}
                    </div>
                  </td>
                  <td class="lexemeIsLoan">
                    {% form_field lexeme.is_loan disabled="disabled" class="form-control" %}
                  </td>
                  <td class="lexemeIsExcluded">
                    {% form_field lexeme.is_excluded disabled="disabled" class="form-control" %}
                  </td>
                  <td class="lexemeShowLoanEvent">
                    {% if lexeme.object_data.show_loan_event %}
                      {% form_field lexeme.loan_event disabled="disabled" class="form-control" %}
                    {% endif %}
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs" type="button"
                            id="src2root#{{lexeme.source_form.name}}#{{lexeme.root_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                  </td>
                  <td class="lexemeRootForm">
                    {% form_field lexeme.root_form id="rootform" class="form-control" %}
                  </td>
                  <td class="lexemeNCog">
                    <span class="badge">{{ lexeme.data.number_cognate_coded }}</span>
                  </td>
                  <td class="lexemePhoneMic">
                    {% form_field lexeme.phoneMic id="phoneMic" size="8" class="form-control" %}
                  </td>
                  <td>
                    <button class="leftcheckarrow btn btn-xs" type="button"
                            id="phoneTic2phoneMic#{{lexeme.phon_form.name}}#{{lexeme.phoneMic.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                  </td>
                  <td>
                    <button class="rightcheckarrow btn btn-xs" type="button"
                            id="phoneMic2phoneTic#{{lexeme.phoneMic.name}}#{{lexeme.phon_form.name}}"
                            onclick="CopyAcross(this)">
                      <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                  </td>
                  <td class="lexemePhoneTic">
                    {% form_field lexeme.phon_form id="phoneTic" size="8" class="form-control" %}
                  </td>
                  <td class="lexemeGloss">
                    {% form_field lexeme.gloss size="4" class="form-control" %}
                  </td>
                  <td class="lexemeNotes">
                    {% form_field lexeme.notes class="form-control" %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Language</th>
              <th>Source Form</th>
              <th>Phonological Form</th>
              <th>Notes</th>
              <th>Cognate Class Label</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for lexeme in lexemes %}
              <tr class="{% cycle 'odd' 'even' %}">
                <td id="lexeme_{{ lexeme.id }}">{{ lexeme.language.id }}</td>
                <td><a href="{% url 'language-report' lexeme.language.ascii_name %}">{{ lexeme.language.utf8_name }}</a></td>
                <td>{{ lexeme.source_form }}</td>
                <td>{{ lexeme.phon_form }}</td>
                <td>
                  {{ lexeme.notes|wikilink|truncatewords_html:5 }}
                  {% if lexeme.notes|is_truncated:5 %}
                  <a href="{% url 'view-lexeme' lexeme.id %}" title="{{ lexeme.notes }}">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                  {% endif %}
                </td>
                <td>{{ lexeme.get_cognate_class_links }}</td>
                <td>
                  <a href="{% url 'view-lexeme' lexeme.id %}" title="View/edit the lexical entry">
                    <span class="glyphicon glyphicon-search"></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
