{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Wordlists (lists of semantic fields){% endblock %}

{% block top %}<h1>Wordlists</h1>{% endblock %}


{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  {% for wordlist in wordlists %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>
      <a href="{% url 'view-wordlist' wordlist.name %}">{{ wordlist.name }}</a>
    </td>
    <td>{{ wordlist.description|truncatewords_html:10 }}</td>
    {% if user.is_authenticated and wordlist.name != wordlist.DEFAULT %}
    <td>
      <a href="{% url 'edit-wordlist' wordlist.name %}">
        <img src="{% static 'buttons/edit.png' %}" alt="edit" title="Edit {{ wordlist.name }} metadata" />
      </a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
  <li>
    <a href="{% url 'add-semantic-domain' %}">Add new semantic domain</a>
  </li>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
