{% extends "base.html" %}
{% load lexicon_utils %}

{% block title %}Word list{% endblock %}

{% block top %}<h1>Meanings</h1>{% endblock %}

{% block content %}
<table>
  <tr>
    <th>Meaning</th>
    <th>Description</th>
    {% if user.is_authenticated %}
      <th>% coded</th>
    {% endif %}
  </tr>
  {% for meaning in meanings %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>
      {% if user.is_authenticated %}
        <a href="{% url edit-meaning meaning.gloss %}">
          <img src="/media/buttons/edit.png" alt="edit" title="Edit ‘{{ meaning.gloss }}’ metadata" />
        </a>
      {% endif %}
      <a href="{% url view-meaning-languages meaning.gloss current_language_list %}">{{ meaning.gloss }}</a>
    </td>
    <td>{{ meaning.description|truncatewords:10 }}</td>
    {% if user.is_authenticated %}
    <td>{{ meaning.percent_coded|floatformat:1 }}</td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}


{% block controls %}
{% include "snippets/go_to.html" %}
{% if user.is_authenticated %}
<ul class="navigation">
  <li><a href="/meanings/add-new/">add meaning</a></li>
  <li><a href="/lexeme/search/">search lexemes</a></li>
</ul>
{% endif %}
<p>
<form action="" method="post">{% csrf_token %}
<fieldset>
<legend>Controls<legend>
<table>
{{ form.as_table }}
</table>
<p class="help">Limit all results to a predefined set of meanings</p>
</fieldset>
</form>
</p>
{% endblock %}

{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
