{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  Word list
{% endblock %}

{% block top %}
  <h1>
    Meanings
    {% if user.is_authenticated %}
      <a href="/meanings/add-new/"
         class="btn btn-default btn-xs"
         data-toggle="tooltip" data-placement="bottom"
         title="add meaning">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    {% endif %}
  </h1>
{% endblock %}

{% block controls %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
          <table>
            {{ form.as_table }}
          </table>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <form action="" method="post">
        {% if user.is_authenticated and user.is_staff %}
          {% csrf_token %}
          <div class="form-group">
            <label for="wordlist">Save table?</label>
            <input type="submit" value="Submit" name="wordlist" class="btn btn-primary">
          </div>
        {% endif %}
        <table class="table table-striped viewTableFilter">
          <thead>
            <tr>
              <th>Meaning</th>
              <th>Description</th>
              <th>Notes</th>
              <th>Show<br>Languages</th>
              <th>Show<br>Cog. Sets</th>
              {% if user.is_authenticated %}
              <th>Edit<br>metadata</th>
              <th>% Cog.<br>coded</th>
              <th data-toggle="tooltip" data-placement="bottom" data-container="body"
                  title="Number of lexemes">Lex.</th>
              <th data-toggle="tooltip" data-placement="bottom" data-container="body"
                  title="Number of Cognate Classes">Cog.</th>
              {% endif %}
            </tr>
            {% if user.is_authenticated %}
              <tr>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningGloss input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningGloss input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningDesc input">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningDesc input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningNotes textarea">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningNotes textarea">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th colspan="3"></th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".meaningPercentCoded">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".meaningLexCount">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
                <th>
                  <div class="btn btn-xs btn-default sortIntText"
                       data-selector=".meaningCogCount">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                </th>
              </tr>
            {% endif %}
          </thead>
          <tbody>
            {% for meaning in mltf.meanings %}
              <tr>
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.meaningId class="hide" %}
                  <td class="meaningGloss">
                    {% form_field meaning.gloss class="form-control" size="4" %}
                  </td>
                  <td class="meaningDesc">
                    {% form_field meaning.desc class="form-control" size="8"%}
                  </td>
                  <td class="meaningNotes">
                    {% form_field meaning.notes class="form-control" %}
                  </td>
                {% else %}
                  <td class="meaningGloss">
                    {{ meaning.data.gloss }}
                  </td>
                  <td class="meaningDesc">
                    {{ meaning.data.desc }}
                  </td>
                  <td class="meaningNotes">
                    {{ meaning.data.notes }}
                  </td>
                {% endif %}
                <td>
                  <a href="{% url 'view-meaning-languages' meaning.data.gloss current_language_list %}"
                     title="Edit ‘{{ meaning.data.gloss }}' by language list">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </td>
                <td>
                  <a href="{% url 'edit-cogclasses' meaning.data.gloss %}"
                     title="Edit cognate classes for ‘{{ meaning.data.gloss }}'">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </td>
                {% if user.is_authenticated %}
                  <td>
                    <a href="{% url 'edit-meaning' meaning.data.gloss %}"
                       title="Edit ‘{{ meaning.data.gloss }}’ metadata">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  </td>
                  <td class="meaningPercentCoded">
                    <span class="badge">
                      {{ meaning.data.percent_coded|floatformat:1 }}
                    </span>
                  </td>
                  <td class="meaningLexCount">
                    <span class="badge">
                      {{ meaning.data.lex_count }}
                    </span>
                  </td>
                  <td class="meaningCogCount">
                    <span class="badge">
                      {{ meaning.data.cog_count }}
                    </span>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
