{% extends "base.html" %}

{% block title %}{{ meaning.gloss }}{% endblock %}

{% block top %}<h1>{{ meaning.description }}</h1>{% endblock %}

{% block content %}


{% ifequal action "add" %} {# add a word #}
<p>
<form action=".." method="post">
  <fieldset><legend>Add a new row<legend>
    <table>
      <tr> {# Language drop box #}
	<td>Language name:</td>
	<td>
	  <select name="language">
            <option>Select...</option>
	    {% for language in languages %}
	    <option>{{ language.utf8_name }}</option>
	    {% endfor %}
		    </select><small> obligatory</small>
	</td>
      </tr>
      <tr> {# Source form input box #}
	<td>Form in source:</td>
	<td>
	  <input name="source_form"><small> obligatory</small>
	</td>
      </tr>
      <tr> {# Phonological form input box #}
	<td>Phonological form:</td>
	<td>
	  <input name="phon_form">
	</td>
      </tr>
      <tr> {# Cognate class drop-down #}
	<td>Cognate class:</td>
	<td>
	  <select name="cognate_class_alias">
	    {% for cogset_option in all_cogset_aliases %}
	    <option{% ifequal cogset_option "none" %} selected="selected"{% endifequal %}>{{ cogset_option }}</option>
	    {% endfor %}
	  </select>
	</td>
      </tr>
    </table>
    <input type="submit" value="Add" name="add"><input type="submit" value="Cancel" name="add">
  </fieldset>
</form></p>
{% endifequal %}


{% ifequal action "change" %}
<p>
<form action=".." method="post">
  <fieldset><legend>Change values<legend>
    <table>
      <tr> {# Language drop box #}
	<td>Language name:</td>
	<td>
	  <select name="language">
            <option>Select...</option>
	    {% for language in languages %}
	    <option {% ifequal change_lexeme.language language %} selected="selected"{% endifequal %}>{{ language.utf8_name }}</option>
	    {% endfor %}
		    </select><small> obligatory</small>
	</td>
      </tr>
      <tr> {# Source form input box #}
	<td>Form in source:</td>
	<td>
	  <input name="source_form" value="{{ change_lexeme.source_form }}"><small> obligatory</small>
	</td>
      </tr>
      <tr> {# Phonological form input box #}
	<td>Phonological form:</td>
	<td>
	  <input name="phon_form" value="{{ change_lexeme.phon_form }}">
	</td>
      </tr>
      <tr> {# Cognate class drop-down #}
	<td>Cognate class:</td>
	<td>
	  <select name="cognate_class_alias">
	    {% for cogset_option in all_cogset_aliases %}
	    <option{% ifequal cogset_option "none" %} selected="selected"{% endifequal %}>{{ cogset_option }}</option>
	    {% endfor %}
	  </select>
	</td>
      </tr>
    </table>
    <input type="submit" value="Submit changes" name="change"><input type="submit" value="Cancel" name="change">
  </fieldset>
</form>
</p>
{% endifequal %}

<table>
  <tr>
    <th>ID</th>
    <th>Language</th>
    <th>Source Form</th>
    <th>Phonological Form</th>
    <th>Cognate Class</th>
  </tr>
  {% for lexeme in lexemes %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ lexeme.language.id }}</td>
    <td><a href="{% url language-report lexeme.language.id %}">{{ lexeme.language.utf8_name }}</a></td>
    <td><a href="/source/word/{{ lexeme.id }}">{{ lexeme.source_form }}</a></td>
    <td>{{ lexeme.phon_form }}</td>
    <td>{% for cogset in lexeme.cognate_class.all %}
	  {% ifequal action "edit" %} {# drop down selection boxes #}
	    <form action="" method="post">
	      <select name="{{lexeme.id}},{{ cogset.id }}" onchange="this.form.submit()">
	      {% for cogset_option in all_cogset_aliases %}
		<option{% ifequal cogset_option cogset.alias %} selected="selected"{% endifequal %}>{{ cogset_option }}</option>
	      {% endfor %}
	      </select>
	    </form>
	  {% else %}{# comma separated list #}
	    {{ cogset.alias }}
	    {% if forloop.last %}{% else %}, {% endif %}
	  {% endifequal %}
	{% endfor %}
	{% ifequal action "edit" %} {# Handle missing cognate sets #}
	  {% if not lexeme.cognate_class.count %}
	    <form action="" method="post">
	      <select name="{{ lexeme.id }}" onchange="this.form.submit()">
	      {% for cogset_option in all_cogset_aliases %}
		<option{% ifequal cogset_option "none" %} selected="selected"{% endifequal %}>{{ cogset_option }}</option>
	      {% endfor %}
	      </select>
	    </form>
	  {% endif %}
	{% endifequal %}
    </td>
    {% ifequal action "edit" %}
    <td>
      <form action="/word/{{ meaning.gloss }}/edit/{{ lexeme.id }}/" method="post">
        <input type="submit" value="Change" name="change">
	<input type="hidden" value="{{ lexeme.id }}" name="lexeme_id">
      </form>
    </td>
    <td>
      <form action="" method="post">
        <input type="submit" value="Delete" name="delete">
	<input type="hidden" value="{{ lexeme.id }}" name="lexeme_id">
      </form>
    </td>
    </form>
    {% endifequal  %}
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block controls %}
{% include "snippets/go_to.html" %}
<h2>This page</h2>
<p>Current language list: <strong>{{ language_list_name }}</strong>
  <ul>
    <li><a href="/word/{{ meaning.gloss }}/">default view</a></li>
    <li><a href="/word/{{ meaning.gloss }}/edit/">edit cognate judgements</a></li>
    <li><a href="/word/{{ meaning.gloss }}/add/">add word</a></li>
    <li><a href="/word/{{ meaning.gloss }}/delete/">delete word</a></li>
  </ul>
</p>
<p class="help">In the cognate class column:
  <ul>
    <li>Choose <strong>none</strong> to delete a cognate judgement</li>
    <li>Choose <strong>add</strong> to create a new cognate class </li>
    <li>Otherwise choose <strong>A</strong>, <strong>B</strong>,
        <strong>C</strong>, ...
  </ul>
Only add a new class if you're planning to use it for at least two languages.
Note that a word <i>can</i> registered as belonging to two classes, but
normally it shouldn't.
</p>
{% endblock %}

{% block debug %}
<p>Action: {{ action }}</p>
<p>{{ debug }}</p>
{% endblock %}
{# vim: set ft=htmldjango nowrap: #}
