{% extends "base.html" %}

{% load staticfiles %}
{% load lexicon_utils %}
{% load wtforms %}

{% block title %}
  Meaning list
{% endblock %}

{% block top %}
  {% if not user.is_authenticated %}
    <h1>Meaning list ‘{{ wordlist }}’</h1>
  {% endif %}
{% endblock %}

{% block controls %}
  {% include "snippets/defaultSelections.html" %}
  {% include "snippets/go_to.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-5">
      <form action="" method="post">
        {% if user.is_authenticated and user.is_staff %}
          {% csrf_token %}
        {% endif %}
        <div class="fixedContainer">
          {% if user.is_authenticated and user.is_staff %}
            <div class="form-group pull-right">
              <a href="." class="btn btn-default">undo</a>
              <input type="submit" value="Save" name="wordlist" class="btn btn-danger">
            </div>
            <h1 class="inline">
              Meaning list ‘{{ wordlist }}’
              <a href="/meanings/add-new/"
                 class="btn btn-default btn-xs"
                 data-toggle="tooltip" data-placement="bottom"
                 title="add meaning">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </a>
            </h1>
          {% endif %}
          <span class="badge important updateCounts"
                data-countformat="countVisible initial"
                data-toggle="tooltip"
                data-placement="bottom"
                data-container="body"
                title="Visible / Total rows">
            {{ mltf.meanings | length}}
          </span>
        </div>
        <table class="table table-striped viewTableFilter"
               data-floatheadtop="45">
          <thead>
            <tr>
              <th>
                <div class="vertical-text">
                  <div class="vertical-text__inner">
                    Dbl check
                  </div>
                </div>
              </th>
              {# exclude_title.html #}
              {% if user.is_authenticated and user.is_staff %}
                <th>
                  <div class="vertical-text">
                    <div class="vertical-text__inner">
                      Not for Export
                    </div>
                  </div>
                </th>
              {% endif %}
              <th colspan="2"></th>
              <th>Meaning</th>
              <th>Meaning specification tooltip</th>
              <th>MeaningSetMember</th>
              <th>MeaningSetIx</th>
              <th>Show<br>Languages</th>
              <th>Show<br>Cog. Sets</th>
              {% if user.is_authenticated %}
              <th>Edit<br>metadata</th>
              {% endif %}
              <th>% Cog.<br>coded</th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of lexemes">
                Lex.
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes">
                Cog.
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes that have a root form.">
                Root form count
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Percentage of cognate classes that have a root form.">
                Root form %
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Number of cognate classes that have a root language.">
                Root language count
              </th>
              <th data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body"
                  title="Percentage of cognate classes that have a root language.">
                Root language %
              </th>
            </tr>
            <tr class="filterBar">
              <td>
                <button type="button" class="filterBool btn btn-xs btn-default"
                        data-selector=".doubleCheck input">
                  <span class="glyphicon glyphicon-question-sign"></span>
                </button>
              </td>
              {# exclude_filter.html #}
              {% if user.is_authenticated and user.is_staff %}
                <td>
                  <button type="button" class="filterBool btn btn-xs btn-default"
                          data-selector=".exclude input">
                    <span class="glyphicon glyphicon-question-sign"></span>
                  </button>
                </td>
              {% endif %}
              <td colspan="2"></td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningGloss input"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningGloss input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".meaningGloss"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningGloss">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningTooltip input"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningTooltip input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".meaningTooltip"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningTooltip">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningSetMember input"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningSetMember input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".meaningSetMember"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningSetMember">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              <td>
                {% if user.is_authenticated %}
                  <input type="text" class="filterInput form-control"
                         data-selector=".meaningSetIx input"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortInput"
                       data-selector=".meaningSetIx input">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% else %}
                  <input type="text" class="filterText form-control"
                         data-selector=".meaningSetIx"
                         style="width: 6em;">
                  <div class="btn btn-xs btn-default sortText"
                       data-selector=".meaningSetIx">
                    <span class="glyphicon glyphicon-sort"></span>
                  </div>
                {% endif %}
              </td>
              {% if user.is_authenticated %}
                <td colspan="3"></td>
              {% else %}
                <td colspan="2"></td>
              {% endif %}
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningPercentCoded">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningLexCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootFormCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootFormPercentage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootLanguageCount">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
              <td>
                <div class="btn btn-xs btn-default sortIntText"
                     data-selector=".meaningCogRootLanguagePercentage">
                  <span class="glyphicon glyphicon-sort"></span>
                </div>
              </td>
            </tr>
          </thead>
          <tbody>
            {% for meaning in mltf.meanings %}
              <tr>
                <td class="doubleCheck">
                  {% if user.is_authenticated and user.is_staff %}
                    {% form_field meaning.doubleCheck class="form-control" %}
                  {% else %}
                    {% form_field meaning.doubleCheck class="form-control" disabled="disabled" %}
                  {% endif %}
                </td>
                {# exclude_data.html #}
                {% if user.is_authenticated and user.is_staff %}
                  <td class="exclude">
                    {% if user.is_authenticated and user.is_staff %}
                      {% form_field meaning.exclude class="form-control" %}
                    {% else %}
                      {% form_field meaning.exclude class="form-control" disabled="disabled" %}
                    {% endif %}
                  </td>
                {% endif %}
                <td>
                  {% if meaning.data.gloss %}
                    <a href="https://github.com/lingdb/IELex2-CognaC/wiki/{{ meaning.data.gloss }}"
                       title="View wiki page." target="_blank">
                      <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                  {% endif %}
                </td>
                <td>
                  {% if meaning.object_data.exampleContext %}
                  <span class="badge"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-container="body"
                        title="{{ meaning.object_data.exampleContext }}">
                    e.g.
                  </span>
                  {% endif %}
                </td>
                <td class="meaningGloss">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.meaningId class="hide" %}
                  {% form_field meaning.lastTouched class="hide" %}
                  {% form_field meaning.lastEditedBy class="hide" %}
                  {% form_field meaning.gloss class="form-control" size="4" style="width: 6em;" %}
                {% else %}
                  {{ meaning.object_data.gloss }}
                {% endif %}
                </td>
                <td class="meaningTooltip">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.tooltip class="form-control" %}
                {% else %}
                  {{ meaning.object_data.tooltip }}
                {% endif %}
                </td>
                <td class="meaningSetMember">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.meaningSetMember class="form-control numberField" %}
                {% else %}
                  {{ meaning.object_data.meaningSetMember }}
                {% endif %}
                </td>
                <td class="meaningSetIx">
                {% if user.is_authenticated and user.is_staff %}
                  {% form_field meaning.meaningSetIx class="form-control numberField" %}
                {% else %}
                  {{ meaning.object_data.meaningSetIx }}
                {% endif %}
                </td>
                <td>
                  <a href="{% url 'view-meaning-languages' meaning.data.gloss defaultLanguagelist %}"
                     title="Edit ‘{{ meaning.data.gloss }}' by language list">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </td>
                <td>
                  <a href="{% url 'edit-cogclasses' meaning.data.gloss %}"
                     title="Edit cognate classes for ‘{{ meaning.data.gloss }}'">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                </td>
                {% if user.is_authenticated %}
                  <td>
                    <a href="{% url 'edit-meaning' meaning.data.gloss %}"
                       title="Edit ‘{{ meaning.data.gloss }}’ metadata">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                  </td>
                {% endif %}
                <td class="meaningPercentCoded">
                  <span class="badge">
                    {{ meaning.object_data.percent_coded|floatformat:1 }}
                  </span>
                </td>
                <td class="meaningLexCount">
                  <span class="badge">
                    {{ meaning.object_data.lex_count }}
                  </span>
                </td>
                <td class="meaningCogCount">
                  <span class="badge">
                    {{ meaning.object_data.cog_count }}
                  </span>
                </td>
                <td class="meaningCogRootFormCount">
                  <span class="badge">
                    {{ meaning.object_data.cogRootFormCount }}
                  </span>
                </td>
                <td class="meaningCogRootFormPercentage">
                  <span class="badge">
                    {{ meaning.object_data.cogRootFormPercentage }}
                  </span>
                </td>
                <td class="meaningCogRootLanguageCount">
                  <span class="badge">
                    {{ meaning.object_data.cogRootLanguageCount }}
                  </span>
                </td>
                <td class="meaningCogRootLanguagePercentage">
                  <span class="badge">
                    {{ meaning.object_data.cogRootLanguagePercentage }}
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
