{% extends "base.html" %}

{% block title %}{{ meaning.gloss }}{% endblock %}

{% block top %}<h1>{{ meaning.description }}</h1>{% endblock %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Language</th>
    <th>Source Form</th>
    <th>Phonological Form</th>
    <th>Cognate Set</th>
  </tr>
  {% for lexeme in lexemes %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ lexeme.language.id }}</td>
    <td><a href="{% url language-report lexeme.language.id %}">{{ lexeme.language.utf8_name }}</a></td>
    <td>{{ lexeme.source_form }}</td>
    <td>{{ lexeme.phon_form }}</td>
    <td>{% for cogset in lexeme.cognate_set.all %}
	  {% ifequal action "edit" %} {# drop down selection boxes #}
	    <form action="" method="post">
	      <select name="{{ lexeme.id }}" onchange="this.form.submit()">
	      {% for cogset_option in all_cogset_aliases %}
		<option{% ifequal cogset_option cogset.alias %} selected="selected"{% endifequal %}>{{ cogset_option }}</option>
	      {% endfor %}
	      </select>
	    </form>
	  {% else %}{# comma separated list #}
	    {{ cogset.alias }}
	  {% endifequal %}
	  {% if forloop.last %}{% else %}, {% endif %}
	{% endfor %}
	{% ifequal action "edit" %} {# Handle missing cognate sets #}
	  {% if not lexeme.cognate_set.count %}
	    <form action="" method="post">
	      <select name="{{ lexeme.id }}" onchange="this.form.submit()">
	      {% for cogset_option in all_cogset_aliases %}
		<option{% if not cogset_option %} selected="selected"{% endif %}>{{ cogset_option }}</option>
	      {% endfor %}
	      </select>
	    </form>
	  {% endif %}
	{% endifequal %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block controls %}
{% include "go_to_snippet.html" %}
<p><strong>This page:</strong>
  <ul>
    <li><a href="/word/{{ meaning.gloss }}/">default view</a></li>
    <li><a href="/word/{{ meaning.gloss }}/edit/">edit cognate judgements</a></li>
    <li><a href="/word{{ meaning.gloss }}/add/">add cognate judgement</a></li>
  </ul>
</p>
{% endblock %}

{% block debug %}
<p>Action: {{ action }}</p>
<p>{{ debug }}</p>
{% endblock %}
{# vim: set ft=htmldjango nowrap: #}
