{% extends "base.html" %}

{% block title %}{{ meaning.gloss }}{% endblock %}

{% block top %}<h1>{{ meaning.description }}</h1>{% endblock %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Language</th>
    <th>Source Form</th>
    <th>Phonological Form</th>
    <th>Cognate Set</th>
  </tr>
  {% for lexeme in lexemes %}
  <tr class="{% cycle 'odd' 'even' %}">
    <td>{{ lexeme.language.id }}</td>
    <td><a href="{% url language-report lexeme.language.id %}">{{ lexeme.language.utf8_name }}</a></td>
    <td>{{ lexeme.source_form }}</td>
    <td>{{ lexeme.phon_form }}</td>
    <td>{% for cogset in lexeme.cognate_set.all %}{{ cogset.id }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{# vim: set ft=htmldjango nowrap: #}
