/* ELEMENT AND CLASS DEFINITIONS */

a img {
  border: none!important;
}

a:link { text-decoration: none }
a:visited { text-decoration: none }
a:active { text-decoration: none }
a:hover { text-decoration: underline }
a.button:hover { text-decoration: none }

body { font-family: sans-serif }

p.help { text-size: small }

th {
  color: #360;
}

tr {  /* XXX I really only want this to to apply to forms */
  vertical-align: top;
}

tr.even { background: #cf9 }

tr.odd { background: #ccc }

td.rightalign { text-align: right }

td.rowname {
  font-weight: bold;	
  color: #360;
}

strong {
  color: #360;
}

li {
  margin: 0px;
  padding: 0px;
}

form li { /* no bullets on lists inside forms */
  list-style-type:none;
}

h2 {
  font-size: 120%;
  color: #360;
}

/* ID DEFINITIONS */
#container {
  width: 99%;
  margin: 10px auto;
  background-color: #fff;
  color: #333;
  border: 1px solid gray;
}

#top {
  padding: 1%;
  background-color: #cf9;
  border-bottom: 1px solid gray;
}

#top h1 {
  letter-spacing: 3px;
  padding: 6px;
  margin: 0;
}

#login {
  width: 24%;
  padding: 1%;
  background-color: #cf9;
  float: right;
  text-align: right;
}

#sitemap {
  width: 24%;
  padding: 1%;
  background-color: #ddd;
  float: right;
  text-align: right;
  text-size: small;
}

#content {
  margin-right: 26%;
  padding: 1%;
  border-right: 1px solid gray;
}

#controls {
  float: right;
  width: 24%;
  padding: 1%;
}


#footer {
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid gray;
}

#debug {
  display: none; /* comment this out to show debug messages */
  padding: 3px;
  background-color: #ccc;
  border: 2px dashed #306;
}
