/* ================================================================= */
/*    ELEMENT AND CLASS DEFINITIONS                             {{{1 */
/* ================================================================= */

/* == Basic ===================================================={{{1 */

body { font-family: sans-serif }

p.help { text-size: small }

h2 {
  font-size: 120%;
  color: #360;
}

strong {
  color: #360;
}

li {
  margin: 0px;
  padding: 0px;
}

/* == Tables ==================================================={{{1 */

th {
  color: #360;
}

tr.even { background: #cf9 }

tr.odd { background: #ccc }

td.rightalign { text-align: right }

td.rowname {
  font-weight: bold;	
  color: #360;
}

/* == Forms ===================================================={{{1 */

form ul {
  list-style-type: none;
  padding-left: 0;
}

form tr { 
  vertical-align: top;
}

/* == Navigation button/lists =================================={{{1 */

ul.navigation {
  list-style-type: none;
  padding-left: 0;
}

ul.navigation li {
  background: #ccc;
  }

ul.navigation a {
  text-decoration: none;
  color: #666;
  display: block;
  padding: 3pt;
  margin-left: 0;
  font-weight: bold;
  border: 1px solid gray;
}

ul.navigation a:hover {
  background: #cf9;
}

/* == Links ===================================================={{{1 */

a img {
  border: none!important;
}

a:link { text-decoration: none }
a:visited { text-decoration: none }
a:active { text-decoration: none }
a:hover { text-decoration: underline }
a.button:hover { text-decoration: none }

/* ================================================================= */
/*    ID DEFINITIONS                                            {{{1 */
/* ================================================================= */

#container {
  width: 99%;
  margin: 10px auto;
  background-color: #fff;
  color: #333;
  border: 1px solid gray;
}

#top {
  padding: 1%;
  background-color: #cf9;
  border-bottom: 1px solid gray;
}

#top h1 {
  letter-spacing: 3px;
  padding: 6px;
  margin: 0;
}

#login {
  width: 24%;
  padding: 1%;
  background-color: #cf9;
  float: right;
  text-align: right;
}

#logo{
  width: 100px;
  float: left;
  padding: 1%;
}

#sitemap {
  width: 24%;
  padding: 1%;
  background-color: #ddd;
  float: right;
  text-align: right;
  text-size: small;
}

#content {
  margin-right: 26%;
  padding: 1%;
  border-right: 1px solid gray;
}

#controls {
  float: right;
  width: 24%;
  padding: 1%;
}


#footer {
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid gray;
}

#message {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

#message a {
  color: #333;
  text-decoration: none;
}

#message:hover {
  opacity: 1;
}
#message ul {
  list-style-type: none;
  display: block;
  margin: 0px;
  padding: 0px;
}

#message li {
  color: #333;
  background-color: #fc6;
  font-weight: bold;
  padding: 3pt;
  border: 1px solid #f60;
  }
