
tr.even { background: white }

/* tr.odd { background: white } */

thead {display:table-header-group}

a {
  color:#000;
  text-decoration: none;
}

#container {
  border: none;
  padding: 0%;
}

#top { 
  border: 1px solid gray;
  background-color: #ddd;
}

#content { 
  border: none;
  margin-right: 0%;
  padding: 0%;
}

#controls { display: none }

#footer {
 border: 1px solid gray;
}
