{# used by ../lexeme_report.html #}
{% load lexicon_utils %}
<table class="table">
  <tr>
    <th>Source:</th>
    <td>{{ citation.source.citation_text }}</td>
  </tr>
  {% if citation.pages %}
    <tr>
      <th>
        {% ifequal citation.source.type_code "P" %}Pages:{% endifequal %}
        {% ifequal citation.source.type_code "E" %}Affiliation:{% endifequal %}
        {% ifequal citation.source.type_code "U" %}URL:{% endifequal %}
      </th>
      <td>{{citation.pages}}</td>
    </tr>
  {% endif %}
  {% if citation.long_reliability %}
    <tr>
      <th>Reliability:</th>
      <td>{{ citation.long_reliability }}</td>
    </tr>
  {% endif %}
  {% if citation.comment %}
    <tr>
      <th>Comment:</th>
      <td>{{ citation.comment|wikilink }}</td>
    </tr>
  {% endif %}
</table>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
