{% load wtforms %}
<div class="modal fade"
     id="editCognateClassModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Add to cognate class">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit cognate classes for selected lexemes.</h4>
      </div>
      <div class="modal-body">
        <form action="" method="POST"
              name="addToCognateClass"
              id="addToCognateClassForm"
              class="form-horizontal"
              data-cognateclasses='{{ cognateClasses }}'>
          {% csrf_token %}
          <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6">
              <input type="text" name="lexemeIds" class="hide" value="">
              <input class="btn btn-info"
                     id="addEntryCognateClassButton"
                     type="button"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="Add an additional cognate class"
                     value="Add">
              <input class="btn btn-danger"
                     id="editCognateClassButton"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="Save this cognate class assignment"
                     type="button"
                     value="Save">
              <input class="hide"
                     type="submit"
                     name="editCognateClass">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
