{% if prev_page %}
  <li>
    <a href="{{ prev_page }}"
       title="View previous page"
       data-toggle="tooltip"
       data-placement="bottom">
      Previous page
    </a>
  </li>
{% endif %}
<li class="navbar-text">
  Rfc.:
</li>
<li>
  <a href="/clades/"
     title="View list of clades"
     data-toggle="tooltip"
     data-placement="bottom">
    <span class="glyphicon glyphicon-tree-conifer"></span>
  </a>
</li>
<li>
  <a href="/sndComp/"
     title="View list of SndComp language sets"
     data-toggle="tooltip"
     data-placement="bottom">
    <span class="glyphicon glyphicon-headphones"></span>
  </a>
</li>
{% if user.is_authenticated %}
  <li>
    <a href={% url 'view-language-progress' current_language_list_name %}
       title="View database progress"
       data-toggle="tooltip"
       data-placement="bottom">
      <span class="glyphicon glyphicon-scale"></span>
    </a>
  </li>
{% endif %}
<li>
  <a href={% url 'view-language-list' current_language_list_name %}
     title="View list of languages"
     data-toggle="tooltip"
     data-placement="bottom">
    Languages
  </a>
</li>
<li>
  <a href={% url 'view-wordlist' current_wordlist_name %}
     title="View list of meanings"
     data-toggle="tooltip"
     data-placement="bottom">
    Meanings
  </a>
</li>
{% if semantic_domains %}
  <li>
    <a href={% url 'view-domains' %}>View domains</a>
  </li>
{% endif %}
<li>
  <a href={% url 'view-sources' %}
     title="View list of sources"
     data-toggle="tooltip"
     data-placement="bottom">
    Sources
  </a>
</li>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
