{% if prev_page %}
  <li>
    <a href="{{ prev_page }}"
       title="View previous page"
       data-toggle="tooltip"
       data-placement="bottom">
      Previous page
    </a>
  </li>
{% endif %}
<p class="navbar-text">
  Rfc.:
</p>
<li>
  <a href="/languageBranches/"
     title="View list of language branches"
     data-toggle="tooltip"
     data-placement="bottom">
    <span class="glyphicon glyphicon-tree-deciduous"></span>
  </a>
</li>
<li>
  <a href={% url 'view-language-list' current_language_list_name %}
     title="View list of languages"
     data-toggle="tooltip"
     data-placement="bottom">
    Languages
  </a>
</li>
<li>
  <a href={% url 'view-wordlist' current_wordlist_name %}
     title="View list of meanings"
     data-toggle="tooltip"
     data-placement="bottom">
    Meanings
  </a>
</li>
{% if semantic_domains %}
  <li>
    <a href={% url 'view-domains' %}>View domains</a>
  </li>
{% endif %}
<li>
  <a href={% url 'view-sources' %}
     title="View list of sources"
     data-toggle="tooltip"
     data-placement="bottom">
    Sources
  </a>
</li>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
