<p>
  <ul class="navigation">
    {% if prev_page %}
      <li><a href="{{ prev_page }}">previous page</a></li>
    {% endif %}
    <li><a href={% url view-all-languages %}>view languages</a></li>
    <li><a href={% url view-meanings %}>view meanings</a></li>
    {% if semantic_domains %}
      <li><a href={% url view-domains %}>view domains</a></li>
    {% endif %}
    <li><a href={% url view-sources %}>view sources</a></li>
    <li><a href={% url lexeme-search %}>search lexemes</a></li>
    <li><a href={% url view-changes %}>recent changes</a></li>
  </ul>
</p>

{# vim: set ft=htmldjango: #}
