<div class="container pull-left">
  <div class="row">
    <div class="col-md-4">
      <h4>Target lg.:</h4>
    </div>
    <div class="col-md-4">
      <h1 class="inline"
          {% if targetLang.description %}
            data-toggle="tooltip"
            data-placement="right"
            data-container="body"
            title="{{ targetLang.description }}"
          {% endif %}>
        <input class="typeaheadText"
               value="{{ targetLang.utf8_name }}"
               type="text"
               data-typeahead="{{ typeahead1 | escapejs }}">
      </h1>
    </div>
  </div>
  <div class="row"
       style="background-color: #E0E0E0;">
    <div class="col-md-4">
      <h4>Source Reference lg.:</h4>
    </div>
    <div class="col-md-4">
      <h1 class="inline"
          {% if sourceLang.description %}
            data-toggle="tooltip"
            data-placement="right"
            data-container="body"
            title="{{ sourceLang.description }}"
          {% endif %}>
        <input class="typeaheadText"
               value="{{ sourceLang.utf8_name }}"
               type="text"
               data-typeahead="{{ typeahead2 | escapejs }}">
      </h1>
    </div>
  </div>
</div>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
