<center>
  <a href="{% url 'view-language-wordlist' prev_language.ascii_name wordlist %}"
     class="prevNextLink pull-left">
    <strong>«&nbsp;{{ prev_language.utf8_name }}</strong>
  </a>
  <h1 class="inline" {% if language.description %}data-toggle="tooltip" data-placement="bottom" title="{{ language.description }}"{% endif %}>
    <input class="typeaheadText"
           value="{{ language.utf8_name }}"
           type="text"
           data-typeahead="{{ typeahead | escapejs }}">
  </h1>
  <a href="{% url 'view-language-wordlist' next_language.ascii_name wordlist %}"
     class="prevNextLink pull-right">
    <strong>{{ next_language.utf8_name }}&nbsp;»</strong>
  </a>
</center>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
