<center>
  <a href="{% url 'edit-cogclasses' prev_meaning.gloss %}"
     class="pull-left prevNextLink">
    <strong>«&nbsp;{{ prev_meaning.gloss }}</strong>
  </a>
  <h1 class="inline">
    <input class="typeaheadText"
           value="{{ meaning.gloss }}"
           data-typeahead="{{ typeahead | escapejs }}">
  </h1>
  <a href="{% url 'edit-cogclasses' next_meaning.gloss %}"
     class="pull-right prevNextLink">
    <strong>{{ next_meaning.gloss }}&nbsp;»</strong>
  </a>
</center>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
