<div class="container">
  <div class="row">

    <div class="col-md-3" style="margin-left:-100px !important;margin-right:-40px !important">
      <h2>Cognate&nbsp;Sets</h2>
    </div>

    <div class="col-md-3" style="margin-left:-20px">
      <b>Target lg.:</b><br/>
      <h3 class="inline"
          {% if targetLang.description %}
            data-toggle="tooltip"
            data-placement="right"
            data-container="body"
            title="{{ targetLang.description }}"
          {% endif %}>
        <input class="typeaheadText"
               value="{{ targetLang.utf8_name }}"
               type="text" data-typeahead="{{ typeahead1 | escapejs }}">
      </h3>
    </div>

    <div class="col-md-1">
      {% if sourceLang %}
        <h3><a href="/twoLanguages/{{sourceLang.ascii_name}}/{{targetLang.ascii_name}}/{{wordlist.name}}/" title="swap source and target language and reload the page"><span class="glyphicon glyphicon-resize-horizontal"></span></a></h3>
      {% else %}
        <h3><span class="glyphicon glyphicon-resize-horizontal"></span></h3>
      {% endif %}
    </div>

    <div class="col-md-3" style="margin-left:-20px;background-color: #E0E0E0;">
      <b>Source Reference lg.:</b><br/>
      <h3 class="inline"
          {% if sourceLang.description %}
            data-toggle="tooltip"
            data-placement="right"
            data-container="body"
            {% if sourceLang %}
              title="{{ sourceLang.description }}"
            {% else %}
              title="Type here to select language 2"
            {% endif %}
          {% endif %}>
        <input class="typeaheadText"
               {% if sourceLang %}
                 value="{{ sourceLang.utf8_name }}"
               {% else %}
                 value="Select language 2"
               {% endif %}
               type="text" data-typeahead="{{ typeahead2 | escapejs }}">
      </h1>
    </div>
  </div>
</div>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
