{% extends "base_admin.html" %}

{% block title %}{{ project_short_name }} User Profile{% endblock %}

{% block top %}
  <h1><small>User profile: {{ the_user.username }}</small></h1>
  <a href="/">Back to database</a>
{% endblock %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <table>
      <tr><td>First name:</td><td>{{ form.first_name }}</td></tr>
      <tr><td>Last name:</td><td>{{ form.last_name }}</td></tr>
      <tr><td>Email address:</td><td>{{ form.email }}</td></tr>
      {% if user.is_superuser %}
        <tr><td>Is active?</td><td>{{ form.is_active }}</td></tr>
      {% endif %}
    </table>
    {% include "buttons/submit-cancel.html" %}
  </form>
{% endblock %}
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
