<div class="modal fade"
     id="addSndCompModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Add new SndComp">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add new SndComp language set</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal"
              action="" method="POST"
              name="addSndComp">
          {% csrf_token %}
          <div class="form-group">
            <label for="lgSetName" class="col-sm-3 control-label">Set name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="level1_branch_name" name="lgSetName"
                     placeholder="Name"
                     required="required">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Levels</label>
            <div class="col-sm-9">
              <input type="text" class="form-control inline"
                     id="lv0" name="lv0"
                     required="required"
                     placeholder="Lv 0"
                     style="width: 4em;"
                     pattern="^[0-9]+$">
              <input type="text" class="form-control inline"
                     id="lv1" name="lv1"
                     required="required"
                     placeholder="Lv 1"
                     style="width: 4em;"
                     pattern="^[0-9]+$">
              <input type="text" class="form-control inline"
                     id="lv2" name="lv2"
                     required="required"
                     placeholder="Lv 2"
                     style="width: 4em;"
                     pattern="^[0-9]+$">
              <input type="text" class="form-control inline"
                     id="lv3" name="lv3"
                     required="required"
                     placeholder="Lv 3"
                     style="width: 4em;"
                     pattern="^[0-9]+$">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Clade levels</label>
            <div class="col-sm-9">
              <input type="text" class="form-control inline"
                     id="cladeLevel0" name="cladeLevel0"
                     placeholder="Cl 0"
                     style="width: 4em;"
                     pattern="^[0-9]*$">
              <input type="text" class="form-control inline"
                     id="cladeLevel1" name="cladeLevel1"
                     placeholder="Cl 1"
                     style="width: 4em;"
                     pattern="^[0-9]*$">
              <input type="text" class="form-control inline"
                     id="cladeLevel2" name="cladeLevel2"
                     placeholder="Cl 2"
                     style="width: 4em;"
                     pattern="^[0-9]*$">
              <input type="text" class="form-control inline"
                     id="cladeLevel3" name="cladeLevel3"
                     placeholder="Cl 3"
                     style="width: 4em;"
                     pattern="^[0-9]*$">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" name="addSndComp"
                      class="btn btn-danger">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
