{# Used by the various xxxcitation_detail.html templates #}
{% load lexicon_utils %}
<br />
<br />
<br />
<table>
  <tr>
    <th width="130px">Source:</th>
    <td><a href="{{ citation.source.get_absolute_url }}">{{ citation.source.shorthand }}</a></td>
  </tr>
  <tr>
    <th>Pages:</th>
    <td>{{ citation.pages }} </td>
  </tr>
  <tr>
    <th>Reliability:</th>
    <td>{{ citation.long_reliability }} </td>
  </tr>
  <tr>
    <th>Comment:</th>
      <td>{{ citation.getCommentExpandedMarkups|wikilink }} </td>
  </tr>
  {% if citation.rfcWeblink %}
  <tr>
    <th>Web Reference:</th>
    <td><a href="{{ citation.rfcWeblink }}" target="_new">{{ citation.rfcWeblink }}</td>
    {% else %}
    <td>{{ citation.rfcWeblink }} </td>
  </tr>
  {% endif %}
</table>
<br />
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
