<div class="modal fade"
     id="deleteAuthorModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Delete author">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete Author</h4>
      </div>
      <div class="modal-body">
        Please enter the initials of the author you wish to delete:
        <form class="form-horizontal"
              action="" method="POST"
              name="deleteAuthor">
          {% csrf_token %}
          <div class="form-group">
            <label for="initials" class="col-sm-3 control-label">Initials</label>
            <div class="col-sm-9">
              <input type="text" class="form-control"
                     id="initials" name="initials"
                     placeholder="Initials"
                     required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" name="deleteAuthor"
                      class="btn btn-danger">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
