<center>
  <a href="{% url 'meaning-report' prev_meaning.gloss %}"
     class="pull-left prevNextLink"
     style="color: #006400;">
    <strong>«&nbsp;{{ prev_meaning.gloss }}</strong>
  </a>
  <h1 class="inline"
      style="color: #006400;">
    <input class="typeaheadText"
           value="{{ meaning.gloss }}"
           type="text"
           data-typeahead="{{ typeahead | escapejs }}">
    <a href="https://github.com/lingdb/CoBL-public/wiki/Meaning:-{{ meaning.gloss }}"
       title="View wiki page."
       target="_blank"
       style="color: #006400;">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    {% if meaning.exampleContext %}
    <span class="badge"
          data-toggle="tooltip"
          data-placement="top"
          data-container="body"
          title="{{ meaning.exampleContext }}">
      e.g.
    </span>
    {% endif %}
  </h1>
  <a href="{% url 'meaning-report' next_meaning.gloss %}"
     class="pull-right prevNextLink"
     style="color: #006400;">
    <strong>{{ next_meaning.gloss }}&nbsp;»</strong>
  </a>
</center>
{# vim: set ft=htmldjango nowrap shiftwidth=2 expandtab: #}
